@use '_functions' as *;
@use '_mixins' as *;
@use '_variables' as *;

:root.age-modal-open {
  overflow: hidden;

  body {
    overflow: hidden;
  }

  :is(.site, .mobile-menu, .consent-banner) {
    pointer-events: none;
    filter: blur(5px) brightness(0.5);
  }
}

.site {
  position: relative;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--site-bg-color);
  text-shadow: var(--text-shadow);
  min-height: 101vh;
  transform-origin: top left;
}

:root:not(.minimal) .custom-background .site {
  background-color: transparent;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  margin-top: var(--main-offset, 0px);
  max-width: var(--site-width);

  // Allows for semi-transparent and clipped backgrounds without affecting the content
  &__background {
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: var(--page-inset-top, 0px) 0 0 0;
    z-index: 0;
    background-color: var(--page-bg-color);
    box-shadow: var(--page-box-shadow);
    contain: layout style;

    @-moz-document url-prefix() {
      transform: translateZ(0); // Improves render performance in FF, causes stutter in Chromium
    }

    @include bp(640px) {
      border-radius: var(--layout-border-radius-large);
    }

    &::before {
      -webkit-mask-image: var(--page-style-mi, var(--mi));
      -webkit-mask-position: var(--page-style-mp, var(--mp));
      -webkit-mask-repeat: var(--page-style-mr, var(--mr, no-repeat));
      -webkit-mask-size: var(--page-style-ms, var(--ms));
      mask-image: var(--page-style-mi, var(--mi));
      mask-position: var(--page-style-mp, var(--mp));
      mask-repeat: var(--page-style-mr, var(--mr, no-repeat));
      mask-size: var(--page-style-ms, var(--ms));
      contain: paint; // Cuts off drop-shadows in Safari if used on parent
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    padding: calc(var(--page-inset-top, 0px) + var(--layout-spacing-vertical)) var(--layout-spacing-horizontal-small) var(--layout-spacing-vertical);
    max-width: 100%;
    contain: style;

    @include bp(400px) {
      padding: calc(var(--page-inset-top, 0px) + var(--layout-spacing-vertical)) var(--layout-spacing-horizontal) var(--layout-spacing-vertical);
    }

    &._no-padding-top {
      padding-top: 0;
    }

    @include bp(768px) {
      min-height: 800px;
    }
  }
}

.main,
.canvas {
  position: relative;
  flex: 1 1 auto;
  color: var(--fg-500);
  width: 100%;
}

.no-page-padding {
  .main__wrapper {
    padding: var(--page-inset-top, 0px) 0 0;
  }
}

:root.has-polygon-or-mask:not(.minimal) .main__background {
  background: none;
  border-radius: 0;
  box-shadow: none !important;
  filter: var(--page-drop-shadow);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    background-color: var(--page-bg-color);
  }

  &.will-change::before {
    will-change: transform;
  }
}

%button {
  --this-padding-horizontal: #{get_clamp(6, 8, 375, 480)};
  --this-height: #{get_clamp(26, 32, 320, 375)};
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  gap: 0 6px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background: var(--button-primary-background);
  color: var(--button-primary-color);
  font: var(--button-font-weight) 12px/1 var(--ff-base);
  letter-spacing: get_relative_clamp(0.02, 0.04, 375, 480, 'vw', 'em');
  white-space: nowrap;
  text-shadow: none;
  border: var(--button-primary-border, 1px solid transparent);
  border-radius: var(--layout-border-radius-small);
  padding: 0 var(--this-padding-horizontal);
  height: var(--this-height);
  width: fit-content;
  min-width: get_clamp(26, 32, 320, 375);
  box-shadow: var(--button-box-shadow);
  outline-offset: 3px;
  transition: color, background, border-color, opacity;
  transition-duration: var(--transition-duration);

  &:not(.current, .ajax-in-progress, [disabled]):hover {
    color: var(--button-primary-color-hover);
    background: var(--button-primary-background-hover);
  }

  &:is([disabled], ._disabled) {
    cursor: not-allowed;
    pointer-events: none;
    background: var(--button-primary-background-disabled);
    color: var(--button-primary-color-disabled);
    border: var(--button-primary-border-disabled, 1px solid transparent);
    filter: var(--button-primary-filter-disabled);
  }

  &._inline {
    display: inline-flex;
  }
}

.post-password-form input[type=submit],
button[type=submit]:where(:not(._inline)),
:where(.wp-signup-container, .wp-activate-container) input[type=submit] {
  @extend %button;
}

.button {
  @extend %button;

  &._secondary {
    background: var(--button-secondary-background);
    color: var(--button-secondary-color);
    border: var(--button-secondary-border);

    &:not(.current, .ajax-in-progress, [disabled]):hover {
      background: var(--button-secondary-background-hover);
      color: var(--button-secondary-color-hover);
      border: var(--button-secondary-border-hover);
    }

    &[disabled] {
      background: var(--button-secondary-background-disabled);
      color: var(--button-secondary-color-disabled);
      border: var(--button-secondary-border-disabled);
    }

    :is(i, .icon) {
      opacity: .95;
    }
  }

  &._danger {
    background: var(--button-warning-background);
    color: var(--button-warning-color);

    &:not(.current, [disabled]):hover {
      background: var(--button-warning-background-hover);
      color: var(--button-warning-color-hover);
    }
  }

  &._quick {
    background: var(--button-quick-background);
    color: var(--button-quick-color);

    &:not(.current, [disabled]):hover {
      background: var(--button-quick-background-hover);
      color: var(--button-quick-color-hover);
    }
  }

  &.ajax-in-progress,
  &.ajax-in-progress:hover {
    pointer-events: none;
    background-size: 25px 25px;
    background-image: linear-gradient(
      -45deg,
      var(--button-barberpole) 25%,
      transparent 25%,
      transparent 50%,
      var(--button-barberpole) 50%,
      var(--button-barberpole) 75%,
      transparent 75%,
      transparent
    );
    animation: button_barberpole 1.5s linear infinite;
  }
}

@keyframes button_barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 25px;
  }
}

.load-more-comments-button {
  @extend %button;
  --button-primary-background: var(--load-comments-background);
  --button-primary-color: var(--load-comments-color);
  --button-primary-background-hover: var(--load-comments-background-hover);
  --button-primary-color-hover: var(--load-comments-color-hover);
  text-align: center;
  border: 0;
  width: 100%;
  box-shadow: none;
}

.more-link {
  color: var(--more-link-color, var(--fg-700));
  transition: color var(--transition-duration);

  &:hover {
    color: var(--more-link-color-hover, var(--fg-300));
  }
}

:root .padding-left {
  padding-left: var(--layout-spacing-horizontal-small);

  @include bp(400px) {
    padding-left: var(--layout-spacing-horizontal);
  }
}

:root .padding-right {
  padding-right: var(--layout-spacing-horizontal-small);

  @include bp(400px) {
    padding-right: var(--layout-spacing-horizontal);
  }
}

:root .padding-top {
  padding-top: var(--layout-spacing-vertical);
}

:root .padding-bottom {
  padding-bottom: var(--layout-spacing-vertical);
}

.infobox {
  clear: both;
  background: var(--infobox-background);
  color: var(--fg-600);
  border-radius: var(--layout-border-radius-small);
  padding: 1rem;
}

.observer {
  visibility: hidden;
  position: absolute;
}

.main-observer {
  top: var(--layout-spacing-vertical);
}

// Wordpress uses .tag as body class
.tag-pill {
  cursor: pointer;

  &:not(._inline) {
    display: block;
    background: var(--tag-background);
    color: var(--tag-color);
    font-size: 10px;
    line-height: 1;
    border-radius: var(--layout-border-radius-small);
    padding: .25rem min(max(.35rem, calc(var(--layout-border-radius-small) * 0.625)), 7px);
    text-shadow: none;
    width: fit-content;
    contain: layout paint style; // Improve performance
  }

  &:not(._inline):hover {
    color: var(--tag-color-hover);
    background: var(--tag-background-hover);
  }

  &._secondary {
    background: var(--tag-secondary-background);
    color: var(--tag-secondary-color);
    border: var(--tag-secondary-border);

    &:hover {
      background: var(--tag-secondary-background-hover);
      color: var(--tag-secondary-color-hover);
      border: var(--tag-secondary-border-hover);
    }

    &._taxonomy-content_warning {
      background: var(--tag-warning-background);
      color: var(--tag-warning-color);
      border: var(--tag-warning-border);

      &:hover {
        background: var(--tag-warning-background-hover);
        color: var(--tag-warning-color-hover);
        border: var(--tag-warning-border-hover);
      }
    }
  }

  &._inline {
    display: inline-block;
    color: var(--tag-inline-color);
    font: var(--font-weight-medium) var(--fs-dxs)/1.5 var(--ff-base);

    &:hover {
      color: var(--tag-inline-color-hover);
    }
  }
}

.tag-group {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  flex-wrap: wrap;
}

.ribbon {
  pointer-events: none;
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 1;
  background: var(--read-ribbon-background);
  color: var(--read-ribbon-color);
  font: var(--font-weight-read-ribbon) 10px/1 var(--read-ribbon-ff, var(--ff-base));
  text-shadow: none;
  padding: 4px 32px 5px;
  box-shadow: var(--read-ribbon-box-shadow);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.card-list {
  display: grid;
  grid-template-columns: var(--card-list-template-columns, 100%);
  gap: var(--card-list-row-gap, max(4cqw, 2rem)) var(--card-list-row-col, 0);

  // Fallback
  @supports not (width: 1cqw) {
    gap: var(--card-list-row-gap, 2rem) var(--card-list-row-col, 0);
  }

  > .pagination:is(li) {
    padding-top: 0;
  }

  .no-results {
    text-align: center;
  }

  &.ajax-in-progress {
    filter: var(--ajax-in-progress-filter, blur(1px));
    transition: filter var(--transition-duration);
  }
}

:root:not([data-mode=light]) {
  .only-lightmode {
    display: none;
    content-visibility: hidden;
  }
}

:root[data-mode=light] {
  .only-darkmode {
    display: none;
    content-visibility: hidden;
  }
}

.drag-anchor {
  cursor: move;
}

.the-404 {
  &__message {
    text-align: center;

    h1 {
      font-size: 128px;
      font-weight: 700;
    }

    p {
      font-size: 24px;
    }
  }
}

.popup-menu-toggle {
  position: relative;

  &:not(.last-clicked) {
    .popup-menu {
      display: none;
      content-visibility: hidden;
    }
  }

  &._popup-right-if-last:last-child {
    .popup-menu {
      &:last-child {
        --translateX: translateX(0);
        right: 0;
        left: unset;
      }
    }
  }
}

.popup-menu {
  --translateX: translateX(0);
  --translateY: translateY(0);
  position: absolute;
  z-index: 10;
  background: var(--popup-menu-background);
  color: var(--popup-menu-color);
  font-size: 14px;
  line-height: 22px;
  text-shadow: none;
  white-space: nowrap;
  text-align: center;
  padding: 4px 0;
  border-radius: var(--layout-border-radius-small);
  min-width: 64px;
  max-width: min(280px, 80vw);
  box-shadow: var(--popup-menu-box-shadow, var(--box-shadow-m));
  overflow: hidden;
  transform: var(--translateX) var(--translateY);
  contain: content; // Improve performance

  &._top {
    top: var(--vertical-offset, -8px);
    --translateY: translateY(-100%);
  }

  &._bottom {
    bottom: var(--vertical-offset, -8px);
    --translateY: translateY(100%);
  }

  &._center {
    left: 50%;
    --translateX: translateX(-50%);
  }

  &._justify-left {
    left: 0;
  }

  &._justify-right {
    right: 0;
  }

  &._align-items-right :is(a, label, button, .popup-item) {
    justify-content: flex-start;
    text-align: left;
  }

  &._v-scrolling {
    max-height: min(250px, 80vh);
    overflow: hidden scroll;

    @include bp(desktop) {
      &:not(._v-scrolling-scrollbar) {
        scrollbar-width: none; // FF
      }

      &:not(._v-scrolling-scrollbar)::-webkit-scrollbar {
        width: 0;
      }
    }
  }

  hr {
    margin: 0;
    border-bottom: 1px solid currentColor;
    opacity: 0.25;
  }

  :is(a, label, button, .popup-item) {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--popup-menu-color);
    font-size: inherit;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    padding: 5px 12px;
    width: 100%;

    > :not(i, .icon) {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &._align-left {
      justify-content: flex-start;
      text-align: left;
    }

    &:hover {
      background: var(--popup-menu-background-hover);
      color: var(--popup-menu-color-hover);
    }

    :is(i, .icon, .text-icon) {
      display: inline-block;
      color: currentColor;
      line-height: 1;
      text-align: center;
      min-width: 20px;
    }
  }
}

.popup-heading {
  cursor: default;
  position: relative;
  font-family: var(--ff-note);
  font-size: 12px;
  line-height: 1.2;
  padding: 4px 12px;
  opacity: 0.5;
}

.no-results,
.shortcode-json-invalid {
  color: var(--fg-950);
  padding: 0 2px;
}

.shortcode-json-invalid {
  margin: 2rem 0;
}

html:not(.logged-in) body:not(.logged-in) {
  .checkmark {
    display: none;
    content-visibility: hidden;
  }
}

.chapter-group {
  &._no-icons {
    .chapter-group__list-item-link {
      grid-area: 1 / 1 / 2 / 3;
      padding-left: 2px;
    }

    .chapter-group__list-item-subrow {
      grid-area: 2 / 1 / 3 / 3;
      padding-left: 2px;
    }

    .chapter-group__list-item {
      padding-left: 4px;
    }
  }

  &._closed {
    .chapter-group__heading-icon {
      transform: translateY(4px) rotate(-90deg);
    }

    .chapter-group__name {
      &::after {
        opacity: 1;
      }
    }

    .chapter-group__list {
      pointer-events: none;
      height: 0 !important; // Override element style set by JS
      opacity: 0;
    }
  }

  &__name {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    background: none;
    color: var(--chapter-group-name-color, var(--fg-800));
    font-size: var(--fs-dxs);
    font-weight: var(--font-weight-semi-strong);
    letter-spacing: calc(0.02em + var(--font-letter-spacing-base));
    padding: 16px 6px;
    width: 100%;

    &::after {
      pointer-events: none;
      content: var(--chapter-group-background-after, '');
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      display: block;
      background: var(--chapter-group-background, var(--content-li-background));
      border-radius: var(--layout-border-radius-small);
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: transform var(--transition-duration), opacity var(--transition-duration);
    }

    :is(i, .icon) {
      transition-duration: var(--transition-duration);
      transition-property: opacity, transform;
      transform: translateY(4px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--chapter-list-gap, var(--content-list-gap, 4px));
    font-size: var(--fs-xs);
    padding: 4px; // Space for small shadows due to overflow: hidden
    margin: -4px; // Space for small shadows due to overflow: hidden
    // transition-duration: var(--transition-duration);
    transition: height var(--transition-duration), opacity var(--transition-duration);
    overflow: hidden;

    &-item {
      background: var(--chapter-li-background, var(--content-li-background));
      display: grid;
      grid-template-columns: 1.5rem 1fr auto;
      grid-template-rows: minmax(18px, 1fr) auto;
      gap: 4px 8px;
      align-items: center;
      padding: .5rem 8px calc(.5rem + var(--chapter-li-padding-bottom-offset, 0px)) 0;
      border-radius: var(--layout-border-radius-small);
      contain: content; // Improve performance
      container-type: inline-size; // Enable container query units

      &-icon {
        grid-area: 1 / 1 / 3 / 2;
        color: var(--fg-600);
        font-size: var(--fs-s);
        text-align: center;

        &._text {
          height: auto;
          width: auto;
        }
      }

      &-link {
        grid-area: 1 / 2 / 2 / 3;
        color: var(--chapter-list-link-color, var(--heading-link-color));
        font-family: var(--ff-chapter-list-title);
        font-size: get_clamp(13, 14, 320, 768); // Fallback
        font-size: var(--chapter-list-link-font-size, clamp(13px, 4.1cqw, 14px));
        font-weight: var(--font-weight-medium);
        line-height: 1.3;
        width: fit-content;

        &:hover {
          color: var(--chapter-list-link-color-hover, var(--heading-link-color-hover));
        }

        &:not([href]) {
          cursor: default;
        }
      }

      &-subrow {
        grid-area: 2 / 2 / 3 / 3;
        color: var(--chapter-list-subrow-color, var(--fg-600));
        font-family: var(--ff-note);
        font-size: var(--chapter-list-subrow-font-size, 13px); // Fallback
        font-size: var(--chapter-list-subrow-font-size, clamp(12px, 3.5cqw, 13px));
        font-weight: var(--font-weight-normal);
        line-height: 1.3;
      }

      &-protected {
        color: var(--chapter-list-subrow-icon-color, var(--fg-800));
        font-size: 0.8em;
        margin-right: 0.5em;
        transform: translateY(-0.125em);
        opacity: 0.9;
      }

      &-warning {
        color: var(--chapter-list-warning-color, var(--red-400));
      }

      .checkmark {
        grid-area: 1 / 3 / 3 / 4;
        display: block;
        color: var(--checkmark-checked);
        font-size: 18px;
        line-height: 1;
        padding: 4px;
        margin-right: -4px;

        &:not(.marked) {
          color: var(--checkmark-not-checked);
          text-shadow: none;
        }
      }

      &._empty {
        display: block;
        color: var(--chapter-list-empty-color, var(--fg-900));
        text-align: center;
        padding: .875rem 8px .875rem 2px;
      }
    }
  }
}

.notice {
  display: flex;
  align-items: flex-start;
  gap: .5rem;
  background: var(--infobox-background);
  color: var(--fg-600);
  font-size: var(--fs-xs);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
  padding: .5rem;
  border-radius: var(--layout-border-radius-small);

  > :is(i, .icon) {
    flex-shrink: 0;
    line-height: inherit;
    text-align: center;
    min-width: 1.5rem;
  }

  > div {
    flex-grow: 1;
  }

  &._warning {
    background: var(--notice-warning-background);
    color: var(--notice-warning-color);
  }
}

#wpadminbar {
  contain: layout size;
  transform: translateZ(0); // Improve performance
}

.icon,
.fa-solid,
.fa-regular {
  contain: style; // Improve performance
}

.list-button {
  cursor: pointer;
  user-select: none;
  color: var(--fg-900);
  font-size: var(--fs-s);
  line-height: 1;
  padding: 5px 6px 4px;
  transition: color var(--transition-duration), opacity var(--transition-duration);

  &:hover {
    color: var(--fg-400);
  }

  &._on {
    ._off {
      display: none;
    }
  }

  &._off {
    ._on {
      display: none;
    }
  }

  &._text {
    font-size: var(--fs-dxs);
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: .02em;
    padding: 4px 6px;

    .popup-menu {
      --vertical-offset: -4px;
    }
  }
}

.sort-order-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: .5rem;
  margin: 2rem 0 1.5rem;
}

:is(.stories, .chapters, .recommendations, .collections) {
  .sort-order-filter {
    margin-bottom: -0.5rem;
  }
}

// Specific style resets
:is(.sidebar, .elementor) {
  :where(ul, ol):where([class*="wp-block-"]) {
    list-style: initial;
    padding-left: 1.75rem;
  }

  :where(select) {
    display: block;
    background: var(--input-background) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%238c8d8e' d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'/%3E%3C/svg%3E") no-repeat right 4px center/1em;
    padding: 0 22px 0 8px;
    height: 32px;
  }
}

:root[data-mode=dark] :is(.sidebar, .elementor) {
  :where(select) {
    background: var(--input-background) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%237b7d81' d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'/%3E%3C/svg%3E") no-repeat right 4px center/1em;
  }
}

.footnotes {
  clear: both;
  font-size: max(8px, 0.8em); // Relative to content font size
  line-height: 1.7;
  margin-top: 4rem;

  &__list:is(ol) {
    margin: 0;
  }

  &__item{
    scroll-margin-top: 64px;

    &::marker {
      color: inherit !important;
    }
  }

  &__link-up {
    display: inline-block;
    font-size: 80%;
    padding: 2px 4px;
    transform: translateY(-0.1em);
  }
}
