@use '_functions' as *;
@use '_mixins' as *;
@use '_variables' as *;
@use '_base';

// =============================================================================
// GENERAL
// =============================================================================

:where(.wp-block-quote, .wp-block-table, .wp-block-image:not(.alignright, .alignleft), .wp-block-code, .wp-block-details, .wp-block-footnotes, .wp-block-embed, .wp-block-gallery, .wp-block-preformatted, .wp-block-buttons, .wp-block-file-wrapper, .wp-block-pullquote, .wp-block-calendar):not(.no-theme-spacing) {
  clear: both;

  &:not(:first-child) {
    margin-top: max(2.5rem, var(--paragraph-spacing) + var(--paragraph-spacing-offset, 0rem) + 1rem);
  }

  &:not(:last-child) {
    margin-bottom: max(2.5rem, var(--paragraph-spacing) + var(--paragraph-spacing-offset, 0rem) + 1rem);
  }

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  &.alignright {
    margin-left: auto;
  }
}

:root .is-layout-flex > :is(*, div) {
  margin: 0;
}

// =============================================================================
// INLINE
// =============================================================================

sup[data-fn] {
  display: inline-block;
  font-weight: 500;
  padding-left: .15em;
}

// =============================================================================
// SEPARATOR
// =============================================================================

.wp-block-separator:where(:not(.no-theme-style)) {
  border: 0;
  border-bottom: var(--layout-hr-border);

  &.is-style-wide {
    width: 100%;
  }

  &:not(.is-style-wide) {
    width: max(25%, 128px);
  }

  &.has-background {
    --layout-hr-dots-color: currentColor;
    border-color: currentColor;
  }

  &.is-style-dots {
    text-align: center;
    line-height: 1;
    border: 0;
    width: 100%;

    &::before {
      content: '···';
      color: var(--layout-hr-dots-color);
      font-size: 1.5em;
      letter-spacing: 2em;
      padding-left: 2em;
      font-family: serif;
    }
  }
}

// =============================================================================
// IMAGES
// =============================================================================

.wp-block-image:where(:not(.no-theme-style)) {
  &.alignright {
    float: right;
    margin: .5em 0 .5em 1.5em;
  }

  &.alignleft {
    float: left;
    margin: .5em 1.5em .5em 0;
  }

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  &:where(.alignright, .alignleft) {
    max-width: min(calc(45vw - 2 * var(--layout-spacing-horizontal-small)), 50%);
  }

  &:where(:not(.is-style-rounded)) img {
    border-radius: 2px;
  }
}

.wp-block-gallery:where(:not(.no-theme-style)) {
  &.has-background {
    padding: max(var(--wp--style--unstable-gallery-gap, 1rem), 0.5rem);
  }

  &.has-nested-images figure.wp-block-image figcaption {
    background: var(--caption-overlay-background);
    color: var(--caption-overlay-color);
    font: 400 var(--fs-dxs)/1.2 var(--ff-heading);
    letter-spacing: 0;
    padding: var(--caption-padding);
  }
}

// =============================================================================
// (FIG-) CAPTIONS
// =============================================================================

[class*="wp-block-"] {
  figcaption {
    color: var(--fg-700);
    font-family: var(--ff-note);
    font-size: 75%; // Scales with custom formatting
    line-height: 1.3;
    text-align: center;
    padding: 8px 12px 0;
    margin: 0;

    a {
      color: var(--inline-link-color) !important; // Override WP defaults

      &:hover {
        color: var(--inline-link-color-hover) !important; // Override WP defaults
      }

      &:visited {
        color: var(--inline-link-color-visited) !important; // Override WP defaults
      }
    }
  }
}

// =============================================================================
// PARAGRAPHS
// =============================================================================

p.has-drop-cap::first-letter {
  font-size: 3.75em !important;
  padding-right: .05em;
}

// =============================================================================
// CODE BLOCK
// =============================================================================

.wp-block-code:where(:not(.no-theme-style)) {
  clear: both;
  letter-spacing: 0;
  border-style: solid;
  border-radius: var(--layout-border-radius-small);
  overflow: auto;

  code {
    display: block;
    font-family: var(--ff-mono);
    line-height: 1.7;
    white-space: pre;
    border-radius: var(--layout-border-radius-small);
    container-type: inline-size; // Prevent layout pushing
  }

  &:not([style*=padding]) {
    code {
      padding: 1rem;
      overflow: auto;
    }
  }

  &:not([class*=font-size]) {
    code {
      font-size: var(--fs-xxs);
    }
  }

  &:not([class*=background-color]) {
    code {
      background: var(--code-background);
    }
  }

  &:not([class*=text-color]) {
    color: var(--code-color);
  }
}

// =============================================================================
// TABLES
// =============================================================================

.wp-block-table:where(:not(.no-theme-style)) {
  clear: both;
  float: none;
  overflow-x: auto;

  &:where(.min-480, .min-640, .min-768) {
    min-width: unset; // Delegate to table child
  }

  &.min-480 table {
    min-width: 480px;
  }

  &.min-640 table {
    min-width: 640px;
  }

  &.min-768 table {
    min-width: 768px;
  }

  table {
    font-size: 75%; // Scales with custom formatting
    border-style: solid;
    border-color: var(--table-border-color);
    border-collapse: collapse;

    @include bp(480px) {
      font-size: 87.5%; // Scales with custom formatting
    }
  }

  :is(thead, tbody, tfoot, tr, td, th) {
    border-style: inherit;
    border-color: inherit;
    overflow-wrap: break-word;
  }

  :is(th, td) {
    padding: .5em .75em;
  }

  thead {
    border-bottom-width: 0;
  }

  tfoot {
    font-weight: var(--font-weight-strong);
    vertical-align: top;
    border-top-width: 3px;
  }

  th {
    font-weight: var(--font-weight-strong);
    vertical-align: bottom;
  }

  figcaption {
    padding-bottom: .5rem; // Place for scrollbar on mobile
  }

  &.is-style-stripes {
    border-bottom: none;

    tfoot {
      border-top-color: var(--table-border-color-striped);
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background: var(--table-background-striped);
        }
      }
    }
  }
}

// =============================================================================
// BLOCKQUOTE
// =============================================================================

.wp-block-quote:where(:not(.no-theme-style)),
.comment-section blockquote {
  color: var(--fg-500);
  font-size: 87.5%; // Scales with custom formatting

  p {
    text-indent: 0 !important; // Override chapter style
    overflow-wrap: break-word;
  }

  cite {
    display: block;
    color: var(--fg-700);
    font-size: 87.5%; // Scales with custom formatting
    font-style: italic;
    text-align: right;

    &::before {
      content: '~ ';
    }
  }
}

.wp-block-quote:where(:not(.no-theme-style)) {
  --paragraph-spacing-offset: .75rem;
  position: relative;
  font-style: italic;
  margin: 24px auto;
  max-width: max(85%, 260px);
  width: fit-content;

  &.has-background {
    --this-vertical-offset: -0.5rem;
    --this-horizontal-offset: -0.5rem;
    padding: 0.5rem;
  }

  p {
    margin: 0 !important; // Override chapter style

    &:not(:last-child) {
      margin-bottom: 0.25em !important; // Override chapter style
    }

    &.has-background {
      padding: 0;
    }
  }

  em {
    font-style: normal;
  }

  &:not(.is-style-plain)::before,
  &:not(.is-style-plain)::after {
    content: '';
    position: absolute;
    top: var(--this-vertical-offset, -0.75rem);
    left: var(--this-horizontal-offset, -1rem);
    display: block;
    border: 5px solid var(--layout-lineart-color);
    border-width: 3px 0 0 3px;
    height: 16px;
    width: 16px;
  }

  &:not(.is-style-plain)::after {
    inset: inherit;
    bottom: var(--this-vertical-offset, -0.75rem);
    right: var(--this-horizontal-offset, -1rem);
    border-width: 0 3px 3px 0;
  }
}

.comment-section blockquote {
  background: var(--blockquote-background);
  border-left: 2px solid var(--fg-800);
  border-radius: calc(var(--layout-border-radius-small) * var(--layout-nested-border-radius-multiplier, 1));
  padding: .75em 1.5em;

  p:not(:last-child) {
    margin-bottom: .75em;
  }

  &:is(.spoiler) {
    position: relative;
    border-left: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 3px;
      background-color: currentColor;
      width: 2px;
    }
  }
}

// =============================================================================
// PULLQUOTE
// =============================================================================

figure.wp-block-pullquote:where(:not(.no-theme-style)) {
  --paragraph-spacing-offset: .5rem;
  clear: both;
  color: var(--fg-600);
  font-size: 1.25em;
  font-style: italic;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: max(85%, 260px);

  blockquote {
    border: 2px solid var(--layout-lineart-color);
    border-width: 2px 0;
    padding: 1rem;
  }

  p {
    font-size: 1em; // Scales with custom formatting
    margin: 0 !important; // Override chapter style
  }

  em {
    font-style: normal;
  }

  cite {
    display: block;
    color: var(--fg-700);
    font-size: 75%; // Scales with custom formatting
    font-style: italic;
    margin-top: .75rem;

    &::before {
      content: '~ ';
    }

    &::after {
      content: ' ~';
    }
  }
}

// =============================================================================
// EMBED
// =============================================================================

.wp-block-embed {
  clear: both;
  position: relative;

  &:is(.alignright, .alignleft) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: unset;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    > iframe {
      border-radius: var(--layout-border-radius-small) !important;
      transition-delay: .3s;

      &:not([src]) {
        background: var(--embed-background);
        box-shadow: var(--embed-box-shadow);
      }
    }
  }

  .embed-logo {
    position: absolute;
    left: 50%;
    z-index: -1;
    background: no-repeat center/contain;
    width: 400px;
    max-width: 90%;
    opacity: .15;
    transform: translate(-50%, -50%);
  }

  &-soundcloud {
    .embed-logo {
      filter: brightness(0);
      top: 200px;
      background-image: url('../img/soundcloud_logo.svg');
      height: 300px;
    }
  }

  &-youtube {
    .embed-logo {
      filter: brightness(15%);
      top: 140px;
      background-image: url('../img/youtube_logo_monochrome.webp');
      height: 150px;
    }
  }

  &-spotify {
    .embed-logo {
      filter: brightness(15%);
      top: 190px;
      background-image: url('../img/spotify_logo_dark.webp');
      height: 200px;
      width: 200px;
    }
  }

  &-amazon {
    .embed-logo {
      filter: grayscale(100%) brightness(0%);
      top: 270px;
      background-image: url('../img/amazon_kindle_logo.svg');
      height: 100px;
    }
  }

  &-twitter {
    .twitter-timeline {
      display: block;
      visibility: hidden;
      height: 750px;
      width: get_clamp(280, 500, 320, 550);
    }

    blockquote.twitter-tweet {
      visibility: hidden;
      border: 0;
      min-height: 300px;
      width: get_clamp(280, 500, 320, 550);
    }

    div.twitter-tweet {
      margin: 0 !important;
    }
  }
}

// =============================================================================
// PRE BLOCK
// =============================================================================

.wp-block-preformatted:where(:not(.no-theme-style)) {
  font-family: var(--ff-mono);
  line-height: 1.7;
  white-space: pre;
  border-radius: var(--layout-border-radius-small);
  overflow: auto;

  &.has-background {
    padding: 1rem;
  }
}

// =============================================================================
// BUTTON(S) BLOCK
// =============================================================================

.wp-block-button:where(:not(.no-theme-style)) {
  border-style: solid;

  // Theme button style applied
  &.button {
    display: inline-flex;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: auto;

    a {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      text-align: center;
      white-space: normal;
      margin: -1px; // Account for wrapping button border
      min-height: var(--this-height);
      width: calc(100% + 2px); // Account for margin offset

      &:not([style*="padding-top"]) {
        padding-top: 0 !important;
      }

      &:not([style*="padding-bottom"]) {
        padding-bottom: 0 !important;
      }

      &:not([style*="padding-left"]) {
        padding-left: var(--this-padding-horizontal);
      }

      &:not([style*="padding-right"]) {
        padding-right: var(--this-padding-horizontal);
      }
    }
  }
}

.wp-block-buttons:where(:not(.no-theme-style)) > .wp-block-button {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// =============================================================================
// FILE DOWNLOADS
// =============================================================================

.wp-block-file:where(:not(.no-theme-style)) {
  display: flex;
  gap: 0 1px;
  flex-direction: row-reverse;
  font-size: var(--fs-dxs);
  line-height: 1;
  text-shadow: none;
  width: fit-content;

  &[data-wp-interactive] {
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;

    .wp-block-file__embed {
      flex: 1 1 100%;
      margin-bottom: 1rem;
    }
  }

  &:hover :is(a, a.wp-block-file__button) {
    background: var(--button-file-block-background-hover);
    color: var(--button-file-block-color-hover) !important;
    opacity: 1;
  }

  a {
    color: var(--button-file-block-color);
    padding: .5rem .5rem .45rem;
    border-radius: 0 var(--layout-border-radius-small) var(--layout-border-radius-small) 0;
    transition: background-color var(--transition-duration);

    &:first-of-type {
      font-family: var(--ff-mono);
      background: var(--button-file-block-background);
      letter-spacing: get_relative_clamp(-0.07, 0, 320, 480);
    }
  }

  .wp-block-file__button:is(a) {
    background: var(--button-file-block-background);
    color: var(--button-file-block-color) !important;
    font-size: 87.5%;
    font-weight: var(--button-font-weight);
    text-transform: uppercase;
    border-radius: var(--layout-border-radius-small) 0 0 var(--layout-border-radius-small);
    padding: .575rem .5rem .375rem;
    margin: 0;
    transition: background-color var(--transition-duration);
  }

  a:first-of-type:last-of-type {
    border-radius: var(--layout-border-radius-small);
  }
}

// =============================================================================
// VIDEO
// =============================================================================

.wp-block-video:where(:not(.no-theme-style)) {
  display: flex;
  align-items: center;
  justify-content: center;

  &:is(.alignright, .alignleft) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: unset;
  }

  video {
    border-radius: var(--layout-border-radius-small);
  }
}

// =============================================================================
// AUDIO
// =============================================================================

.wp-block-audio:where(:not(.no-theme-style)) {
  display: flex;
  align-items: center;

  &:is(.alignright, .alignleft) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: unset;
  }
}

// =============================================================================
// FOOTNOTES
// =============================================================================

.wp-block-footnotes:where(:not(.no-theme-style)) {
  border-style: solid;

  li:not(:last-child) {
    margin-bottom: 0;
  }
}

// =============================================================================
// DETAILS
// =============================================================================

.wp-block-details {
  > * {
    margin-block-start: 0;
  }
}

// =============================================================================
// CALENDAR
// =============================================================================

.wp-block-calendar:where(:not(.no-theme-style)) {
  float: none !important;
  text-align: center;
  container-type: inline-size;

  :is(.wp-calendar-table, .wp-calendar-nav) {
    font-size: clamp(13px, 3cqw, 15px);
  }

  caption {
    padding-bottom: .5em;
  }

  :is(th, td) {
    font-size: inherit;
    text-align: center;
    padding: .25em;
    border: 1px solid;
  }

  th {
    font-weight: var(--font-weight-strong);
  }

  table:where(:not(.has-text-color)) {
    color: var(--calendar-color);

    :is(th, td) {
      color: var(--calendar-color);
      border-color: var(--calendar-border-color);
    }
  }

  table:not(.has-background) {
    th {
      background: var(--calendar-th-background);
    }
  }

  .wp-calendar-table {
    border-collapse: collapse;
    width: 100%;
  }

  .wp-calendar-nav {
    color: var(--calendar-color);
    padding-top: .25em;

    i {
      opacity: .8;
    }

    a {
      color: var(--widget-link-color);

      &:hover {
        color: var(--widget-link-color-hover);
      }
    }
  }
}

// =============================================================================
// CATEGORIES
// =============================================================================

.wp-block-categories:where(:not(.no-theme-style)) {
  list-style-type: disc;
  padding-left: 1.05em;

  a {
    color: var(--widget-link-color);

    &:hover {
      color: var(--widget-link-color-hover);
    }
  }
}

// =============================================================================
// LATEST POSTS
// =============================================================================

.wp-block-latest-posts:where(:not(.no-theme-style)) {
  --this-row-gap: calc(var(--grid-columns-row-gap, 1.5rem) * var(--grid-columns-row-gap-multiplier, 1) + .5rem);
  --this-col-gap: calc(var(--grid-columns-col-gap, 1.5rem) * var(--grid-columns-col-gap-multiplier, 1) + .5rem);
  gap: var(--this-row-gap) var(--this-col-gap);
  padding-left: 0;

  &.has-background {
    padding: var(--this-col-gap) var(--this-row-gap);
  }

  &.has-link-color {
    * {
      color: inherit !important;
    }
  }

  &.is-grid {
    display: grid;

    li {
      margin: 0;
      width: 100%;
    }
  }

  &.columns-2  {
    grid-template-columns: repeat(auto-fill, minmax(max(165px, calc((100% - var(--this-col-gap)) / 2)), 1fr));
  }

  &.columns-3  {
    grid-template-columns: repeat(auto-fill, minmax(max(165px, calc((100% - 2 * var(--this-col-gap)) / 3)), 1fr));
  }

  &.columns-4  {
    grid-template-columns: repeat(auto-fill, minmax(max(165px, calc((100% - 3 * var(--this-col-gap)) / 4)), 1fr));
  }

  &.columns-5  {
    grid-template-columns: repeat(auto-fill, minmax(max(165px, calc((100% - 4 * var(--this-col-gap)) / 5)), 1fr));
  }

  &:not(.is-grid) {
    display: flex;
    flex-direction: column;
  }

  &.has-dates.has-author {
    .wp-block-latest-posts__post-author {
      &::after {
        content: '\2022';
        font-family: var(--ff-base);
        margin: 0 .35rem;
        opacity: .9;
      }
    }
  }

  li {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: calc(100vw - 20px);
    min-width: 0;
    width: 100%;
    contain: style layout; // Improve performance
    container-type: inline-size; // Enable container query units

    > * {
      font-family: var(--ff-note);
      font-size: var(--block-latest-posts-content-font-size, clamp(13.5px, 3.125cqw, 15px));
      line-height: var(--block-latest-posts-line-height, 1.45);
      overflow-wrap: break-word;
    }
  }

  .wp-block-latest-posts__post-title:is(a) {
    flex: 1 1 100%;
    display: inline-block;
    color: var(--heading-link-color);
    font: var(--font-weight-heading) 1em/1.3 var(--ff-heading);
    font-size: var(--block-latest-posts-title-font-size, clamp(15px, 3.765cqw, 17px));
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;

    @container (min-width: 640px) {
      font-size: var(--block-latest-posts-title-font-size, clamp(15px, 3.065cqw, 18px));
    }

    &:not(:last-child) {
      margin-bottom: .4rem;
    }

    &:hover {
      color: var(--heading-link-color-hover);
    }
  }

  :is(.wp-block-latest-posts__post-author, .wp-block-latest-posts__post-date) {
    flex: 0 1 auto;
    color: var(--fg-800);
  }

  .wp-block-latest-posts__post-excerpt {
    flex: 1 1 100%;
    margin-top: 0.4rem;
    margin-bottom: 0;
    height: 100%;
  }

  .wp-block-latest-posts__featured-image {
    display: none;
  }
}

// =============================================================================
// LOGIN/LOGOUT
// =============================================================================

.wp-block-loginout {
  &.has-login-form.logged-out {
    input:is([type="text"], [type="password"]) {
      display: block;
      width: 100%;
    }
  }

  &:is(.logged-in, .logged-out) {
    a:last-child {
      @extend %button;
    }
  }

  p {
    margin: 0;
  }

  form {
    display: grid;
    gap: .75rem;
  }

  :is(.login-username, .login-password) {
    label {
      display: block;
      font-size: var(--fs-xs);
      font-weight: var(--font-weight-medium);
      padding: 0 0 2px;
    }
  }

  .login-remember {
    label {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

// =============================================================================
// LATEST COMMENTS
// =============================================================================

.wp-block-latest-comments:is(:not(.no-theme-style)) {
  list-style: none;
  padding-left: 0;

  article {
    display: inline;
    font-family: var(--ff-card-body);
  }

  a {
    color: var(--widget-link-color);

    &:hover {
      color: var(--widget-link-color-hover);
    }
  }

  &.has-avatars .wp-block-latest-comments__comment {
    min-height: 40px;
  }

  .wp-block-latest-comments__comment {
    position: relative;
    margin-bottom: 0;

    &:where(:not(:last-child)) {
      margin-bottom: 1rem;
    }
  }

  .wp-block-latest-comments__comment-avatar {
    float: left;
    margin: 3px 8px 3px 0;
    border-radius: var(--layout-border-radius-small);
    height: 32px;
    width: 32px;
  }

  .wp-block-latest-comments__comment-meta {
    font-size: 13.5px;
    font-weight: var(--font-weight-semi-strong);
    line-height: 1.3;
    margin-left: 0 !important;
  }

  .wp-block-latest-comments__comment-excerpt {
    margin-top: .3rem;
    margin-left: 0 !important;

    p {
      font-size: 13.5px;
      line-height: 1.45;
      margin: 0;
    }
  }

  .wp-block-latest-comments__comment-date {
    display: block;
    color: var(--fg-800);
    font-size: 13px;
    font-weight: var(--font-weight-normal);
    margin: .3rem 0;
  }
}

// =============================================================================
// SEARCH
// =============================================================================

.wp-block-search {
  button.wp-block-search__button {
    @extend %button;
    margin-left: 0;
  }

  &__searchfield-hidden {
    .wp-block-search__inside-wrapper {
      gap: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 2px;
  }

  &__inside-wrapper {
    display: flex;
    gap: 6px;
  }
}
