// =============================================================================
// GENERAL
// =============================================================================

[class*="wp-block-"]:not(p, h1, h2, h3, h4, h5, h6, .wp-block-separator, .wp-block-spacer, .wp-block-image:where(.alignright, .alignleft), [class*="__wrapper"], .wp-block-file__button) {
  clear: both;

  &:not(:first-child) {
    margin-top: max(2.5rem, var(--paragraph-spacing) + var(--paragraph-spacing-offset, 0rem) + 1rem);
  }

  &:not(:last-child) {
    margin-bottom: max(2.5rem, var(--paragraph-spacing) + var(--paragraph-spacing-offset, 0rem) + 1rem);
  }

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  &.alignright {
    margin-left: auto;
  }
}

// =============================================================================
// INLINE
// =============================================================================

sup[data-fn] {
  display: inline-block;
  font-weight: 500;
  padding-left: .15em;
}

// =============================================================================
// SEPARATOR
// =============================================================================

.wp-block-separator {
  border: 0;
  border-bottom: var(--layout-hr-border);

  &.is-style-wide {
    width: 100%;
  }

  &:not(.is-style-wide) {
    width: max(25%, 128px);
  }

  &.has-background {
    --hr-dots-color: currentColor;
    border-color: currentColor;
  }

  &.is-style-dots {
    text-align: center;
    line-height: 1;
    border: 0;
    width: 100%;

    &::before {
      content: '···';
      color: var(--hr-dots-color, var(--bg-200));
      font-size: 1.5em;
      letter-spacing: 2em;
      padding-left: 2em;
      font-family: serif;
    }
  }
}

// =============================================================================
// IMAGES
// =============================================================================

.wp-block-image {
  &.alignright {
    float: right;
    margin: .5em 0 .5em 1.5em;
  }

  &.alignleft {
    float: left;
    margin: .5em 1.5em .5em 0;
  }

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  &:where(.alignright, .alignleft) {
    max-width: min(calc(45vw - 2 * var(--layout-spacing-horizontal-small)), 50%);
  }

  img {
    border-radius: 2px;
  }
}

.wp-block-gallery {
  &.has-background {
    padding: max(var(--wp--style--unstable-gallery-gap, 1rem), 0.5rem);
  }

  &.has-nested-images figure.wp-block-image figcaption {
    background: var(--caption-overlay-background);
    color: var(--caption-overlay-color);
    font: 400 var(--fs-dxs)/1.2 var(--ff-heading);
    letter-spacing: 0;
    padding: var(--caption-padding);
  }
}

// =============================================================================
// (FIG-) CAPTIONS
// =============================================================================

[class*="wp-block-"] {
  figcaption {
    color: var(--fg-700);
    font-family: var(--ff-note);
    font-size: 75%; // Scales with custom formatting
    line-height: 1.3;
    text-align: center;
    padding: 8px 12px 0;
    margin: 0;

    a {
      color: var(--inline-link-color) !important; // Override WP defaults

      &:hover {
        color: var(--inline-link-color-hover) !important; // Override WP defaults
      }

      &:visited {
        color: var(--inline-link-color-visited) !important; // Override WP defaults
      }
    }
  }
}

// =============================================================================
// PARAGRAPHS
// =============================================================================

p.has-drop-cap::first-letter {
  font-size: 3.75em !important;
  padding-right: .05em;
}

// =============================================================================
// CODE BLOCK
// =============================================================================

.wp-block-code {
  clear: both;
  letter-spacing: 0;
  border-style: solid;
  border-radius: var(--layout-border-radius-small);
  overflow: auto;

  code {
    display: block;
    font-family: var(--ff-mono);
    line-height: 1.7;
    white-space: pre;
    border-radius: var(--layout-border-radius-small);
  }

  &:not([style*=padding]) {
    code {
      padding: 1rem;
      overflow: auto;
    }
  }

  &:not([class*=font-size]) {
    code {
      font-size: var(--fs-xxs);
    }
  }

  &:not([class*=background-color]) {
    code {
      background: var(--code-background);
    }
  }

  &:not([class*=text-color]) {
    color: var(--code-color);
  }
}

// =============================================================================
// TABLES
// =============================================================================

.wp-block-table {
  clear: both;
  float: none;
  overflow-x: auto;

  &:where(.min-480, .min-640, .min-768) {
    min-width: unset; // Delegate to table child
  }

  &.min-480 table {
    min-width: 480px;
  }

  &.min-640 table {
    min-width: 640px;
  }

  &.min-768 table {
    min-width: 768px;
  }

  table {
    font-size: 75%; // Scales with custom formatting
    border-style: solid;
    border-color: var(--table-border-color);
    border-collapse: collapse;

    @include bp(480px) {
      font-size: 87.5%; // Scales with custom formatting
    }
  }

  :is(thead, tbody, tfoot, tr, td, th) {
    border-style: inherit;
    border-color: inherit;
    overflow-wrap: break-word;
  }

  :is(th, td) {
    padding: .5em .75em;
  }

  thead {
    border-bottom-width: 0;
  }

  tfoot {
    font-weight: var(--font-weight-strong);
    vertical-align: top;
    border-top-width: 3px;
  }

  th {
    font-weight: var(--font-weight-strong);
    vertical-align: bottom;
  }

  figcaption {
    padding-bottom: .5rem; // Place for scrollbar on mobile
  }

  &.is-style-stripes {
    border-bottom: none;

    tfoot {
      border-top-color: var(--table-border-color-striped);
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background: var(--table-background-striped);
        }
      }
    }
  }
}

// =============================================================================
// BLOCKQUOTE
// =============================================================================

.wp-block-quote,
.comment-section blockquote {
  color: var(--fg-500);
  font-size: 87.5%; // Scales with custom formatting

  p {
    text-indent: 0 !important; // Override chapter style
    overflow-wrap: break-word;
  }

  cite {
    display: block;
    color: var(--fg-700);
    font-size: 87.5%; // Scales with custom formatting
    font-style: italic;
    text-align: right;

    &::before {
      content: '~ ';
    }
  }
}

.wp-block-quote {
  --paragraph-spacing-offset: .75rem;
  position: relative;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  max-width: max(85%, 260px);
  width: max-content;

  &.has-background {
    --this-vertical-offset: -0.5rem;
    --this-horizontal-offset: -0.5rem;
    padding: 0.5rem;
  }

  p {
    margin: 0 !important; // Override chapter style

    &:not(:last-child) {
      margin-bottom: 0.25em !important; // Override chapter style
    }

    &.has-background {
      padding: 0;
    }
  }

  em {
    font-style: normal;
  }

  &:not(.is-style-plain)::before,
  &:not(.is-style-plain)::after {
    content: '';
    position: absolute;
    top: var(--this-vertical-offset, -0.75rem);
    left: var(--this-horizontal-offset, -1rem);
    display: block;
    border: 5px solid var(--fg-950);
    border-width: 3px 0 0 3px;
    height: 16px;
    width: 16px;
  }

  &:not(.is-style-plain)::after {
    inset: inherit;
    bottom: var(--this-vertical-offset, -0.75rem);
    right: var(--this-horizontal-offset, -1rem);
    border-width: 0 3px 3px 0;
  }
}

.comment-section blockquote {
  background: var(--blockquote-background);
  border-left: 2px solid var(--fg-800);
  border-radius: var(--layout-border-radius-small);
  padding: .75em 1.5em;

  p:not(:last-child) {
    margin-bottom: .75em;
  }

  &:is(.spoiler) {
    position: relative;
    border-left: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 3px;
      background-color: currentColor;
      width: 2px;
    }
  }
}

// =============================================================================
// PULLQUOTE
// =============================================================================

figure.wp-block-pullquote {
  --paragraph-spacing-offset: .5rem;
  clear: both;
  color: var(--fg-500);
  font-size: 1.25em;
  font-style: italic;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: max(85%, 260px);
  width: max-content;

  blockquote {
    border: 2px solid var(--fg-950);
    border-width: 2px 0;
    padding: 1rem;
  }

  p {
    font-size: 1em; // Scales with custom formatting
    margin: 0 !important; // Override chapter style
  }

  em {
    font-style: normal;
  }

  cite {
    display: block;
    color: var(--fg-700);
    font-size: 75%; // Scales with custom formatting
    font-style: italic;
    margin-top: .75rem;

    &::before {
      content: '~ ';
    }

    &::after {
      content: ' ~';
    }
  }
}

// =============================================================================
// EMBED
// =============================================================================

.wp-block-embed {
  clear: both;
  position: relative;

  &:is(.alignright, .alignleft) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: unset;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    > iframe {
      border-radius: var(--layout-border-radius-small) !important;
      transition-delay: .3s;

      &:not([src]) {
        background: var(--embed-background);
        box-shadow: var(--embed-box-shadow);
      }
    }
  }

  .embed-logo {
    position: absolute;
    left: 50%;
    z-index: -1;
    background: no-repeat center/contain;
    width: 400px;
    max-width: 90%;
    opacity: .15;
    transform: translate(-50%, -50%);
  }

  &-soundcloud {
    .embed-logo {
      filter: brightness(0);
      top: 200px;
      background-image: url('../img/soundcloud_logo.svg');
      height: 300px;
    }
  }

  &-youtube {
    .embed-logo {
      filter: brightness(15%);
      top: 140px;
      background-image: url('../img/youtube_logo_monochrome.webp');
      height: 150px;
    }
  }

  &-spotify {
    .embed-logo {
      filter: brightness(15%);
      top: 190px;
      background-image: url('../img/spotify_logo_dark.webp');
      height: 200px;
      width: 200px;
    }
  }

  &-amazon {
    .embed-logo {
      filter: grayscale(100%) brightness(0%);
      top: 270px;
      background-image: url('../img/amazon_kindle_logo.svg');
      height: 100px;
    }
  }

  &-twitter {
    .twitter-timeline {
      display: block;
      visibility: hidden;
      height: 750px;
      width: get_clamp(280, 500, 320, 550);
    }

    blockquote.twitter-tweet {
      visibility: hidden;
      border: 0;
      min-height: 300px;
      width: get_clamp(280, 500, 320, 550);
    }

    div.twitter-tweet {
      margin: 0 !important;
    }
  }
}

// =============================================================================
// PRE BLOCK
// =============================================================================

.wp-block-preformatted {
  font-family: var(--ff-mono);
  line-height: 1.7;
  white-space: pre;
  border-radius: var(--layout-border-radius-small);
  overflow: auto;

  &.has-background {
    padding: 1rem;
  }
}

// =============================================================================
// BUTTON(S) BLOCK
// =============================================================================

.wp-block-button {
  border-style: solid;

  .wp-element-button,
  a.wp-block-button__link {
    background-color: var(--button-primary-background);
    color: var(--button-primary-color);
    border-style: solid;

    &:hover {
      background-color: var(--button-primary-background-hover);
      color: var(--button-primary-color-hover);
    }
  }

  // Theme button style applied
  &.button {
    display: inline-flex;

    a {
      padding: 0 !important;
    }
  }
}

.wp-block-buttons > .wp-block-button {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// =============================================================================
// FILE DOWNLOADS
// =============================================================================

.wp-block-file {
  --focus-offset: 2px;
  display: flex;
  gap: 0 1px;
  flex-direction: row-reverse;
  font-size: var(--fs-dxs);
  line-height: 1;
  text-shadow: none;
  border-radius: var(--layout-border-radius-small);
  overflow: hidden;
  width: fit-content;

  &:focus-within {
    a:focus-visible {
      outline: none;
    }
  }

  &:hover :is(a, a.wp-block-file__button) {
    background: var(--button-file-block-background-hover);
    color: var(--button-file-block-color-hover) !important;
    opacity: 1;
  }

  a {
    color: var(--button-file-block-color);
    padding: .5rem .5rem .45rem;
    transition: background-color var(--transition-duration);

    &:first-child {
      font-family: var(--ff-mono);
      background: var(--button-file-block-background);
      letter-spacing: get_relative_clamp(-0.07, 0, 320, 480);
    }
  }

  .wp-block-file__button:is(a) {
    background: var(--button-file-block-background);
    color: var(--button-file-block-color) !important;
    font-size: 87.5%;
    font-weight: var(--button-font-weight);
    text-transform: uppercase;
    border-radius: 0;
    padding: .575rem .5rem .375rem;
    margin: 0;
    transition: background-color var(--transition-duration);
  }
}

// =============================================================================
// VIDEO
// =============================================================================

.wp-block-video {
  display: flex;
  align-items: center;
  justify-content: center;

  &:is(.alignright, .alignleft) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: unset;
  }

  video {
    border-radius: var(--layout-border-radius-small);
  }
}

// =============================================================================
// AUDIO
// =============================================================================

.wp-block-audio {
  display: flex;
  align-items: center;

  &:is(.alignright, .alignleft) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: unset;
  }
}

// =============================================================================
// FOOTNOTES
// =============================================================================

.wp-block-footnotes {
  border-style: solid;

  li:not(:last-child) {
    margin-bottom: 0;
  }
}
