@use '_functions' as *;
@use '_mixins' as *;
@use '_variables' as *;

:is(h1, h2, h3, h4, h5, h6) {
  --font-weight-strong: var(--font-weight-heading);
  display: block;
  color: var(--fg-400);
  font: var(--font-weight-heading) 1em/1.3 var(--ff-heading);
}

/*
 * Relative (em) font-size to allow scaling with custom formatting.
 * Reversed declaration order to make higher headings stronger.
 */

:where(article, .content-section) {
  :is(h6, .h6) {
    font-size: var(--fs-s);
  }

  :is(h5, .h6) {
    font-size: get_relative_clamp(1.05, 1.125, 320, $full-width, 'vw', 'em');
  }

  :is(h4, .h4) {
    font-size: get_relative_clamp(1.1, 1.2, 320, $full-width, 'vw', 'em');
  }

  :is(h3, .h3) {
    font-size: get_relative_clamp(1.2, 1.4, 320, $full-width, 'vw', 'em');
  }

  :is(h2, .h2) {
    font-size: get_relative_clamp(1.35, 1.6, 320, $full-width, 'vw', 'em');
  }

  :is(h1, .h1) {
    font-size: get_relative_clamp(1.5, 1.8, 320, $full-width, 'vw', 'em');
  }

  :is(h1, h2, h3, h4, h5, h6) {
    a {
      color: var(--heading-link-color);

      &:hover {
        color: var(--heading-link-color-hover);
      }
    }
  }
}

p {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  img {
    display: inline;
  }
}

img {
  &[data-lightbox] {
    cursor: zoom-in;
  }
}

p a:not(.wp-element-button, .modal-tooltip),
.content-section :is(.wp-block-table, .wp-block-pullquote, .wp-block-list) a:not(.wp-element-button, .modal-tooltip),
:is(.modal, .dialog-modal) a[href]:where(:not(.button, .wp-element-button, .modal-tooltip, .media-buttons__item)),
.footnotes a[href*="http"],
.link {
  color: var(--inline-link-color);
  text-decoration: var(--inline-link-text-decoration);
  text-underline-offset: 0.2em;
  transition: text-decoration var(--transition-duration);

  &:hover {
    color: var(--inline-link-color-hover);
    text-decoration: var(--inline-link-text-decoration-hover);
  }

  &:visited {
    color: var(--inline-link-color-visited);
  }

  &:is(.comment-anchor, .comment-image-link) {
    border-bottom: none;
  }
}

a.modal-tooltip {
  cursor: pointer;
  text-decoration: underline var(--fg-900) dotted 1px;
  text-underline-offset: 0.15em;
  scroll-margin-top: 64px;

  &:hover {
    text-decoration-color: currentColor;
  }
}

.footnote-link {
  --inline-link-color-visited: var(--inline-link-color);
  text-decoration: none !important;
  padding-left: 8px;
  margin-left: -6px;
  scroll-margin-top: 64px;

  &:hover {
    text-decoration: none !important;
  }
}

.esc-link a:not(.link) {
  color: inherit;

  &:hover,
  &:visited {
    color: inherit;
    border-bottom: none;
  }
}

.content-section {
  font-size: var(--fs-s);
  overflow-wrap: break-word;

  :where(h1, h2, h3, h4, h5, h6) {
    &:where(:not(:first-child, .cell-title, .card__title, .post__title)) {
      margin-top: max(2.25rem, var(--paragraph-spacing) - 0.5rem);
    }

    &:where(:not(:last-child, .cell-title, .card__title, .post__title)) {
      margin-bottom: var(--heading-margin-bottom, min(max(0.75rem, var(--paragraph-spacing) - 0.75rem), 2rem));
    }
  }

  :where(p) {
    font-size: inherit; // Deal with some plugins

    img {
      display: inline-block;
      height: auto;
      transform: translateY(.1em);
    }
  }
}

.spoiler {
  user-select: none;
  cursor: pointer;
  display: inline;
  background: var(--spoiler-background) !important;
  color: var(--spoiler-color, transparent) !important;
  text-shadow: none;
  border-radius: 2px;
  padding: 0 .25em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  transition: color var(--transition-duration);

  &:empty {
    display: none;
  }

  &:is(div) > p {
    display: inline;
  }

  &:is(div) {
    white-space: break-spaces;
  }

  &:is(blockquote, p) {
    display: block;
  }

  &:not(._open) * {
    pointer-events: none;
  }

  > *,
  a {
    color: inherit !important;
  }

  &._open {
    user-select: unset;
    color: var(--spoiler-color-visible) !important;
  }
}

.post-password-form {
  letter-spacing: 0;
  padding-top: 168px;
  margin: 4rem 0;

  @include bp(tablet) {
    margin-top: 6rem;
  }

  p {
    margin-bottom: 0 !important; // Hide paragraph wrongly inserted by wpautop()
  }

  > div {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon-password-form {
    position: absolute;
    top: -168px;
    left: 50%;
    z-index: -1;
    color: var(--post-password-background);
    font-size: 278px;
    transform: translateX(-50%);
  }

  .password-wrapper {
    background: var(--post-password-cutout);
    padding: 6px 4px;
    width: 250px;
  }

  input[type=password] {
    background: var(--post-password-background);
    text-align: center;
    border-radius: 0;
    width: 242px;

    &::placeholder {
      color: var(--post-password-placeholder-color, var(--input-placeholder-color));
    }
  }

  input[type=submit] {
    background: transparent;
    color: var(--post-password-submit-color);
    font-size: var(--fs-l);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0 0 35px 35px;
    height: 66px;
    width: 242px;
  }
}

.unlock-with-patreon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: .75rem;
  text-align: center;
  margin: 4rem auto;
  max-width: 400px;

  &__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #F96854;
    color: #fff;
    font-family: 'Libre Franklin Extra Bold', Helvetica, Arial;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 2px;

    &:hover {
      background: #FA7664;
      color: #fff;
    }
  }

  p {
    display: none;
  }

  &__note {
    color: var(--fg-700);
  }

  &__already-member {
    color: var(--fg-700);

    summary {
      cursor: pointer;
      list-style: none;

      &:hover {
        color: var(--fg-500);
      }
    }

    summary::-webkit-details-marker {
      list-style: none
    }
  }
}

.content-section {
  :where(.list, .block-list, .wp-block-footnotes, .litrpg-body :where(ul, ol)) {
    list-style: initial;
    padding-left: 1.85em;
    margin: 1.5rem 0 0;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    > li {
      &:not(:last-child) {
        margin-bottom: .75em;
      }

      > :is(ul, ol) {
        margin: .75rem 0 .25rem;
      }
    }
  }

  :where(.list, ul.block-list, .litrpg-body ul) {
    li::marker {
      color: var(--list-marker-color, var(--fg-600));
    }
  }

  :where(ul, .list) > li > ul.block-list {
    list-style: circle;
  }

  :where(ul, .list) > li > ul > li > ul.block-list {
    list-style: square;
  }

  :where(.list, ol.block-list, ol.wp-block-footnotes, .litrpg-body ol) {
    list-style: ordered-list;
  }
}

:is(.iframe-consent, .twitter-consent) {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--fg-600);
  font-size: var(--fs-xs);
  font-weight: var(--font-weight-medium);
  text-align: center;
  padding: .5rem;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: color var(--transition-duration);

  &:hover {
    color: var(--fg-400);
  }
}

.iframe-consent {
  max-width: 300px;
}

.twitter-consent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--embed-background);
  border-radius: var(--layout-border-radius-small);
  height: 100%;
  width: get_clamp(280, 500, 320, 550);
  box-shadow: var(--embed-box-shadow);
}

.litrpg-box {
  --list-marker-color: currentColor;
  color: var(--litrpg-color);
  font-size: 87.5%; // Fallback
  font-size: get_relative_clamp(0.75, 0.875, 320, 480, 'vw', 'em');
  font-weight: 400;
  text-align: center;
  margin: max(1.5rem, var(--paragraph-spacing) * 2) auto;
  max-width: 35em; // Scale with font size
  filter: var(--litrpg-drop-shadow);

  * {
    color: currentColor;
    letter-spacing: 0;
    line-height: 1.5;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-size: 105%;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 !important;
  }

  a {
    color: currentColor;
    text-decoration: none;

    a:hover {
      color: currentColor;
    }
  }

  small {
    font-size: 75%;
  }

  strong {
    font-weight: 600;
  }

  b {
    font-weight: 500;
  }

  table {
    margin: 0 auto -0.375em;
  }

  :is(th, td) {
    text-align: center;
    padding: 0 get_relative_clamp(0.375, 0.75, 320, 480, 'vw', 'em') .375em;
  }

  th {
    font-weight: 700;
    font-size: 87.5%;
    text-transform: uppercase;
  }

  hr {
    border-bottom: 1px solid currentColor;
    margin: 0;
    opacity: .25;
  }

  p {
    margin: 0 !important;
  }

  dl {
    margin: 0;
  }

  dt {
    display: inline;
    font-weight: 600;
  }

  dd {
    display: inline;
    margin: 0;
  }

  :is(ins, del) {
    display: inline-block;
    background: transparent;
    font-size: 80%;
    font-weight: 900;
    transform: translateY(-0.2em);
    text-decoration: none;
    vertical-align: baseline;
  }

  ins {
    color: var(--litrpg-ins);
  }

  del {
    color: var(--litrpg-del);
  }

  :is(sub, sup) {
    display: inline-block;
    font-size: 70%;
    vertical-align: baseline;
  }

  sup {
    transform: translateY(-0.5em);
  }

  sub {
    transform: translateY(0.3em);
  }

  :is(ul, ol) {
    text-align: left;
    padding-left: 2em !important;
    margin: 0 !important;
  }

  li {
    &:not(:last-child) {
      margin-bottom: .25em !important;
    }
  }
}

.litrpg-frame {
  background: var(--litrpg-background);
  clip-path: var(--litrpg-polygon);
}

.litrpg-body {
  display: flex;
  flex-direction: column;
  gap: 1.125em;
  padding: .875rem 0;
  margin: 0 .875rem;
  overflow: auto;
}
