:is(:fullscreen, :-webkit-full-screen) {
  --page-inset-top: 0px;

  .background-texture {
    background: {
      image: none !important;
    }
  }

  .site {
    background: var(--fullscreen-background) !important;
  }

  .progress {
    max-width: unset;
  }

  .hide-on-fullscreen {
    display: none;
    content-visibility: hidden;
  }

  .show-on-fullscreen {
    display: grid !important;
    content-visibility: visible;
  }

  .main {
    --main-offset: 0px;
    filter: none;

    &__background {
      background: var(--fullscreen-background) !important;
      box-shadow: none !important;
      filter: none !important;

      &::before {
        content: none !important;
      }
    }
  }

  .polygon {
    clip-path: none;
  }
}
