.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  line-height: 1.3;
  contain: content; // Improve performance

  &:not(._open) {
    display: none;
    content-visibility: hidden;
  }

  input[type=text] {
    width: 100%;
  }

  input:where([type=text], [type=number]):not(:first-child):last-child {
    flex-shrink: 0;
    text-align: center;
    border-radius: 0 var(--layout-border-radius-small) var(--layout-border-radius-small) 0;
    padding: 0;
    width: 55px;
  }

  input[type=range] {
    flex-grow: 1;
    border-radius: var(--layout-border-radius-small) 0 0 var(--layout-border-radius-small);
  }

  .close {
    --focus-offset: -2px;
    position: absolute;
    top: 5px;
    right: 4px;
    display: block;
    color: var(--fg-900);
    font-size: 20px;
    line-height: 1;
    padding: 4px 8px;
    text-shadow: none;
    transition: color var(--transition-duration);

    &:hover {
      color: var(--modal-icon-hover);
    }
  }

  .background-close {
    cursor: default;
    position: absolute;
    inset: 0;
    display: block;
    background: var(--modal-overlay);
    height: 100%; // Prevent gaps caused by mobile interface
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    background: var(--modal-background);
    border-radius: var(--layout-border-radius-large);
    max-height: calc(100% - 20px);
    width: 300px;
    box-shadow: var(--floating-shadow);
    overflow: auto;
    transform: translate(-50%, -50%);

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: var(--scrollbar-box-shadow);
      background: var(--scrollbar-background);
      border-radius: 1px;
    }

    ::-webkit-scrollbar {
      width: 6px;
      border-radius: 1px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
      border-radius: 1px;
    }

    > hr {
      border-bottom: 1px solid var(--bg-200);
      margin: 0 12px;
    }
  }

  &__header:is(h4) {
    color: var(--fg-400);
    font-size: 18px;
    line-height: 1;
    padding: 12px 40px 12px 12px;
    margin: 0;
  }

  &__row,
  &__horizontal-input-group {
    > :is(i, .icon) {
      flex-shrink: 0;
      color: var(--modal-icon);
      text-align: center;
      min-width: 26px;
    }
  }

  &__row {
    padding: 12px;

    &._vertical-shrink-spacing {
      padding: #{get_clamp(6, 8, 320, 480)} 12px;
    }

    > :is(i, .icon) {
      font-size: 18px;
      margin: 0 3px 0 -3px;
    }

    .reset {
      &._modified {
        cursor: pointer;
        box-sizing: content-box;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--button-primary-background);
        color: var(--button-primary-text);
        font-size: 14px;
        padding: 2.5px 0;
        border-radius: var(--layout-border-radius-small);
        min-height: 20px;
        box-shadow: var(--button-box-shadow);
        transition: color, background-color;
        transition-duration: var(--transition-duration);

        &:hover {
          background: var(--button-primary-background-hover);
          color: var(--button-primary-text-hover);
        }
      }
    }
  }

  &__horizontal-input-group {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 13px;

    &:not(:first-child) {
      margin-top: 8px;
    }

    &._with-checkbox {
      gap: 12px;
    }

    :is(i, .icon) {
      font-size: 15px;
      margin: 0 3px 0 -4px;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 1.4;

    p {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &._bbcodes {
      > div {
        background: var(--infobox-background);
        font-size: 12px;
        padding: .375rem;
        border-radius: var(--layout-border-radius-small);

        &:not(:last-child) {
          margin-bottom: .5rem;
        }
      }

      :is(img, code) {
        display: inline-block;
      }

      img {
        height: 1.25em;
        width: 1.25em;
        margin-bottom: -3px;
        border-radius: 2px;
      }

      blockquote {
        background: var(--blockquote-background);
        border-left: 2px solid var(--fg-600);
        border-radius: var(--layout-border-radius-small);
        padding: .34rem .5em;
        margin-bottom: .5rem;
      }

      code {
        letter-spacing: -0.03em;

        &:first-of-type {
          margin-right: 2px;
        }

        &:last-of-type {
          margin-left: 2px;
        }
      }

      li {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: 0 12px 12px;

    .button {
      &:not(:first-child) {
        margin-left: 3px;
      }
    }
  }
}
