@import '_functions';
@import '_mixins';
@import '_variables';

// =============================================================================
// WEAK - CANNOT OVERRIDE CHILD THEME VIA SITE SETTINGS
//
// Properties in a single scope lack the specificity to override child theme
// definitions in the same scope.
// =============================================================================

:root {
  // === CONFIGURATION =========================================================
  --site-width: #{$full-width}px; // Overridden by theme customizer
  --lightness-offset: 0; // Overridden by theme customizer
  --darken: (1 + var(--lightness-offset));
  --saturation-offset: 0; // Overridden by theme customizer
  --saturation: (1 + var(--saturation-offset));
  --font-saturation: 1;
  --hue-offset: 0deg; // Overridden by theme customizer
  --hue-rotate: 0deg + var(--hue-offset);

  // === NAVIGATION ============================================================
  --navigation-height: 48px;

  @include bp(desktop) {
    --navigation-height: 40px;
  }

  // === FONT FAMILIES =========================================================
  --ff-system: '-apple-system', 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --ff-base: 'Open Sans', var(--ff-system);
  --ff-heading: 'Open Sans', var(--ff-base);
  --ff-note: 'Lato', var(--ff-base);
  --ff-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
  --ff-input: var(--ff-base);
  --ff-card-title: var(--ff-heading);
  --ff-site-title: var(--ff-heading);
  --ff-story-title: var(--ff-heading);
  --ff-chapter-title: var(--ff-heading);
  --ff-chapter-list-title: var(--ff-base);
  --ff-card-body: var(--ff-note);
  --ff-card-list-link: inherit;
  --ff-nav-item: var(--ff-base);

  // === HEADER ================================================================
  --layout-header-background-height: #{get_clamp(210, 480, 320, $full-width)}; // Overridden by theme customizer
  --layout-site-header-height: calc(#{get_clamp(190, 380, 320, $full-width)} - var(--layout-main-inset-top)); // Overridden by theme customizer
  --layout-site-logo-filter: none;
  --layout-site-logo-height: 210px; // Overridden by theme customizer
  --site-title-font-size: #{get_clamp(32, 60, 320, $full-width)}; // Overridden by theme customizer
  --site-title-tagline-font-size: #{get_clamp(13, 18, 320, $full-width)}; // Overridden by theme customizer
  --site-title-heading-color: var(--fg-100); // Overridden by theme customizer
  --site-title-tagline-color: var(--fg-100); // Overridden by theme customizer
  --site-title-text-shadow: 0 0 4px rgb(0 0 0 / 80%), 0 0 2px rgb(0 0 0 / 60%);
}

// =============================================================================
// STRONG - CAN OVERRIDE CHILD THEME VIA SITE SETTINGS
//
// In addition to the base :root and nested scopes, these properties also
// answer to the :root[data-theme=base] selector of higher specificity. This
// means if the user selects the base theme via the Site Settings, definitions
// in the child theme can be overridden unless preventive measures are taken.
// =============================================================================

:root, :root[data-theme=base] {
  // === PRIMARY ===============================================================
  --primary-400: hsl(46deg 87% 75%);
  --primary-500: hsl(44deg 86% 70%);
  --primary-600: hsl(34deg 82% 70%);

  // === BACKGROUNDS ===========================================================
  --bg-900-free: #{hsl_code_free(222, 15, 17)}; // #252932
  --bg-1000-free: #{hsl_code_free(222, 13, 8)}; // #121317

  --bg-50: #{hsl_code(222, 11, 33)}; // #4b505d
  --bg-100: #{hsl_code(222, 11, 31)}; // #464c58
  --bg-200: #{hsl_code(222, 12, 30)}; // #434956
  --bg-300: #{hsl_code(222, 12, 29)}; // #414653
  --bg-400: #{hsl_code(222, 13, 28)}; // #3e4451
  --bg-500: #{hsl_code(222, 13, 27)}; // #3c414e
  --bg-600: #{hsl_code(222, 14, 25)}; // #373c49
  --bg-700: #{hsl_code(222, 14, 23)}; // #323743
  --bg-800: #{hsl_code(222, 15, 20)}; // #2b303b
  --bg-900: hsl(var(--bg-900-free));
  --bg-1000: hsl(var(--bg-1000-free));

  // === FOREGROUNDS ===========================================================
  &,
  .chapter-formatting {
    // Needs to be repeated to force recalculation in chapters
    // Contrast against bg-500

    --fg-100: #{hsl_font_code(220, 10, 88)}; // Contrast ~ 9.9, #dddfe3
    --fg-200: #{hsl_font_code(223, 11, 84)}; // Contrast ~ 8.9, #d2d4db
    --fg-300: #{hsl_font_code(224, 11, 79)}; // Contrast ~ 7.8, #c4c7cf
    --fg-400: #{hsl_font_code(221, 13, 74)}; // Contrast ~ 6.8, #b4bac5
    --fg-500: #{hsl_font_code(222, 14, 69)}; // Contrast ~ 5.8, #a5acbb
    --fg-600: #{hsl_font_code(222, 13, 65)}; // Contrast ~ 5.1, #9aa1b1
    --fg-700: #{hsl_font_code(221, 12, 62)}; // Contrast ~ 4.7, #929aaa
    --fg-800: #{hsl_font_code(221, 10, 61)}; // Contrast ~ 4.56, #9298a5
    --fg-900: #{hsl_font_code(223, 10, 52)}; // Contrast ~ 3.3, #787f91
    --fg-1000: #{hsl_font_code(220, 10, 8)}; // Contrast ~ 1.4, #121416
    --fg-tinted: #{hsl_font_code(222, 12, 68)}; // Contrast ~ 5.6, #a4a9b7

    // Colors for dark backgrounds (not changed in light mode)
    --fg-d100: #{hsl_font_code(220, 10, 88)}; // Contrast ~ 9.9, #dddfe3
    --fg-d200: #{hsl_font_code(223, 11, 84)}; // Contrast ~ 8.9, #d2d4db
    --fg-d300: #{hsl_font_code(224, 11, 79)}; // Contrast ~ 7.8, #c4c7cf
    --fg-d400: #{hsl_font_code(221, 13, 74)}; // Contrast ~ 6.8, #b4bac5
    --fg-d500: #{hsl_font_code(222, 14, 69)}; // Contrast ~ 5.8, #a5acbb
    --fg-d600: #{hsl_font_code(222, 13, 65)}; // Contrast ~ 5.1, #9aa1b1
    --fg-d700: #{hsl_font_code(221, 12, 62)}; // Contrast ~ 4.7, #929aaa
    --fg-d800: #{hsl_font_code(221, 10, 61)}; // Contrast ~ 4.56, #9298a5
    --fg-d900: #{hsl_font_code(223, 10, 52)}; // Contrast ~ 3.3, #787f91
    --fg-d1000: #{hsl_font_code(220, 10, 8)}; // Contrast ~ 1.4, #121416
  }

  // === LAYOUT ================================================================
  --layout-spacing-vertical: #{get_clamp(24, 48, 480, $full-width)}; // Overridden by theme customizer
  --layout-spacing-horizontal: #{get_clamp(20, 80, 480, $full-width, '%')}; // Overridden by theme customizer
  --layout-spacing-horizontal-small: #{get_clamp(10, 20, 320, 400, '%')}; // Overridden by theme customizer
  --layout-border-radius-large: 4px; // Overridden by theme customizer
  --layout-border-radius-small: 2px; // Overridden by theme customizer
  --layout-color-lineart: var(--fg-800);
  --layout-color-separator: rgb(255 255 255 / 5%);
  --layout-main-filter: none; // Beware! This can cause performance issues!
  --layout-main-mobile-box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  --layout-main-desktop-box-shadow: 0 0 2px rgb(0 0 0 / 20%);
  --layout-main-inset-top: 3rem; // Overridden by theme customizer
  --layout-link: inherit;
  --layout-link-hover: var(--fg-200);
  --layout-collection-text: var(--fg-200);
  --layout-background-texture-body: none;
  --layout-background-texture-main: none;
  --layout-background-texture-chapter: none;
  --layout-background-texture-container: none;
  --layout-background-texture-cards: none;
  --layout-top-header-background-color: transparent;
  --layout-header-background-filter: none;
  --layout-header-background-box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  --layout-polygon-worn-paper-drop-shadow: drop-shadow(0 -1px 1px rgb(0 0 0 / 15%)) drop-shadow(0 0 2px rgb(0 0 0 / 25%));

  // === MINIMAL ===============================================================
  --minimal-main-box-shadow: 0 0 1px rgb(0 0 0 / 50%);
  --minimal-container-box-shadow: 0 0 1px rgb(0 0 0 / 50%);

  // === UNSORTED ==============================================================
  --theme-color-base: 222 15 17; // 900
  --secant: var(--bg-900);
  --disabled-pattern: rgb(0 0 0 / 8%) repeating-linear-gradient(-45deg, rgb(0 0 0 / 8%), rgb(0 0 0 / 8%) 2px, transparent 2px, transparent 5px);
  --disabled-embed-background: var(--disabled-pattern);
  --progress-bar-background: var(--navigation-background-sticky);
  --progress-bar-color: var(--fg-900);
  --media-button-color: var(--fg-600);
  --media-button-color-hover: var(--fg-500);
  --tax-cloud-current: var(--primary-500);
  --checkmark-not-checked: var(--e-body);
  --card-type-font-weight: 600;
  --card-unavailable-filter: grayscale(0.5);
  --spoiler-background: var(--fg-600);
  --spoiler-text-visible: #060606;
  --ins-background: #7ebb4e;
  --ins-color: var(--fg-1000);
  --del-background: #f66055;
  --del-color: var(--fg-1000);
  --vote-default: var(--fg-800);
  --vote-down: #f66055;
  --vote-up: #7ebb4e;
  --skeleton-shape-color: var(--fg-800);
  --skeleton-cutout-color: var(--e-1);
  --placeholder-no-cover: var(--e-body);
  --icon-text-font: inherit;
  --code-background: var(--bg-900);
  --code-background-inline: rgb(0 0 0 / 15%);
  --code-color: var(--fg-800);
  --warning: #f66055;
  --warning-caption: #fff;
  --success: #7ebb4e;
  --success-caption: #fff;
  --invert-filter: invert(0);
  --red: #ef4d4d;
  --litrpg-bg: var(--fg-400);
  --litrpg-fg: var(--fg-1000);
  --litrpg-ins: #363ea1;
  --litrpg-del: #be123c;
  --litrpg-drop-shadow: var(--container-drop-shadow);
  --lit-rpg-polygon: polygon(8px 0, calc(100% - 8px) 0, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0 calc(100% - 8px), 0 8px);
  --paragraph-spacing: 1.5rem; // Fallback if not defined deeper
  --barberpole: var(--bg-600);

  // === FOCUS =================================================================
  --focus-background: var(--red);
  --focus-outline: 2px solid var(--focus-background);
  --focus-box-shadow: inset 0 0 0px 3px rgb(0 0 0 / 75%);
  --focus-box-shadow-small: inset 0 0 0px 2px rgb(0 0 0 / 75%);

  // === ELEVATIONS ============================================================
  --e-body: var(--bg-1000);
  --e-fullscreen: var(--e-1);
  --e-0: var(--bg-900);
  --e-1: var(--bg-800);
  --e-2: var(--bg-700);
  --e-overlay: var(--bg-1000);

  // === NAVIGATION ============================================================
  --navigation-background-sticky: var(--bg-1000);
  --navigation-background-sticky-start-opacity: 0;
  --navigation-background-sticky-end-opacity: 1;
  --navigation-text: var(--fg-300);
  --navigation-text-hover: var(--fg-200);
  --navigation-actions-text: var(--fg-400);
  --navigation-actions-text-hover: var(--fg-200);
  --navigation-text-shadow: var(--text-shadow);
  --navigation-drop-shadow: drop-shadow(0 3px 2px rgb(0 0 0 / 20%));
  --navigation-item-active-background: var(--bg-300);
  --navigation-item-active-submenu-background: var(--bg-300);
  --navigation-item-active-submenu-secant: var(--secant);
  --navigation-submenu-box-shadow: 0 4px 3px -2px rgb(0 0 0 / 30%);
  --navigation-subitem-active-background: var(--bg-50);
  --navigation-new-follow-background: var(--primary-500);
  --navigation-new-follow-color: black;

  // === FOOTER ================================================================
  --fg-isolated-footer: var(--fg-d900);
  --bg-isolated-footer: var(--bg-1000);

  // === TABS ==================================================================
  --tab-background-active: var(--fg-600);
  --tab-background-inactive: var(--bg-500);
  --tab-background-hover: var(--bg-50);
  --tab-text-shadow-active: none;
  --tab-text-shadow-inactive: 0 0 1px var(--bg-800);
  --tab-text-active: var(--fg-1000);
  --tab-text-hover: var(--fg-500);
  --tab-text-inactive: var(--fg-800);

  // === MODALS ================================================================
  --modal-overlay: rgb(0 0 0 / 30%);
  --modal-background: var(--bg-700);
  --modal-icon: var(--fg-600);
  --modal-icon-hover: var(--fg-300);

  // === SHADOWS ===============================================================
  --floating-shadow: 0 0 16px 4px rgb(0 0 0 / 30%), 1px 1px 0 0 rgb(255 255 255 / 1%) inset;
  --container-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  --container-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 1px 2px -1px rgb(0 0 0 / 10%);
  --figure-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.12)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.1));
  --card-image-drop-shadow: none;
  --caption-overlay-shadow: linear-gradient(0deg, rgb(0 0 0 / 70%), rgb(0 0 0 / 30%) 70%, transparent);
  --embed-box-shadow: 0 0 2px rgb(0 0 0 / 30%);

  // === MOBILE MENU ===========================================================
  --mobile-menu-background: var(--e-1);
  --mobile-menu-advanced-background: var(--e-body);
  --mobile-menu-site-box-shadow: 2px 0 3px rgb(0 0 0 / 30%);
  --mobile-advanced-menu-site-box-shadow: inset -5px 0 3px -4px rgb(0 0 0 / 30%);
  --mobile-menu-overlay: rgb(0 0 0 / 20%);
  --mobile-menu-text-shadow: var(--text-shadow);
  --mobile-menu-bookmark-progress-background: rgb(0 0 0 / 40%);
  --mobile-menu-current-chapter-text: var(--fg-400);
  --mobile-menu-current-chapter-background: rgb(0 0 0 / 25%);

  // === CONTENT ===============================================================
  --blockquote-background: rgb(0 0 0 / 15%);
  --text-shadow: -1px -1px 1px rgb(0 0 0 / 12%);

  // === TABLES ================================================================
  --table-border-color: var(--fg-900);
  --table-stripe-background: hsl(var(--bg-1000-free) / 15%);

  // === FONT SETTINGS =========================================================
  --font-smoothing-webkit: subpixel-antialiased; // Default
  --font-smoothing-moz: auto; // Default
  --font-weight-normal: 300;
  --font-weight-strong: 500;
  --font-weight-semi-strong: 400;
  --font-weight-medium: 400;
  --font-weight-heading: 600;
  --font-weight-badge: 600;
  --font-weight-post-meta: 300;
  --font-weight-ribbon: 600;
  --font-weight-navigation: 400;
  --font-line-height-base: 1.7;
  --font-letter-spacing-base: 0.01em;

  // === FONT SIZES ============================================================
  --fs-xxxs: .625rem; // 10px
  --fs-xxs: .75rem; // 12px
  --fs-xs: .875rem; // 14px
  --fs-s: 1rem; // 16px
  --fs-m: 1.125rem; // 18px
  --fs-ml: 1.25rem; // 20px
  --fs-l: 1.5rem; // 24px
  --fs-xl: 1.75rem; // 28px
  --fs-xxl: 2.25rem; // 36px
  --fs-xxxl: 2.5rem; // 40px
  --fs-xxxxl: 3rem; // 48px

  --fs-dxxs: #{get_clamp(11, 13, 400, 768)};
  --fs-dxs: #{get_clamp(12, 13, 400, 768)};
  --fs-ds: #{get_clamp(13, 14, 400, 768)};

  // === COLORS - HEADING LINKS ================================================
  --heading-link: var(--fg-400);
  --heading-link-hover: var(--fg-200);

  // === COLORS - INLINE LINKS =================================================
  --inline-link: var(--primary-500);
  --inline-link-hover: var(--primary-400);
  --inline-link-visited: var(--primary-600);
  --inline-link-border: 1px solid transparent;
  --inline-link-border-hover: 1px solid currentColor;

  // === COLORS - STORY LINKS ==================================================
  --story-link: var(--fg-400);
  --story-link-hover: var(--fg-200);

  // === COLORS - CARDS ========================================================
  --card-label-type-text: var(--fg-1000);
  --card-label-type-background: var(--fg-500);

  // === COLORS - BOOKMARKS ====================================================
  --bookmark-color-alpha: var(--fg-900);
  --bookmark-color-beta: #e06552;
  --bookmark-color-gamma: #77BFA3;
  --bookmark-color-delta: #3C91E6;
  --bookmark-line: var(--primary-500);
  --bookmark-button-text-active-alpha: var(--fg-1000);
  --bookmark-button-text-active-beta: var(--fg-1000);
  --bookmark-button-text-active-gamma: var(--fg-1000);
  --bookmark-button-text-active-delta: var(--fg-1000);
  --bookmark-progress-opacity: .15;
  --bookmark-progress-mobile-opacity: .75;

  // === BUTTONS - GENERAL =====================================================
  --button-font-weight: 500;
  --button-box-shadow: none;

  // === BUTTONS - PRIMARY =====================================================
  --button-primary-text: var(--fg-400);
  --button-primary-text-hover: var(--fg-300);
  --button-primary-text-disabled: var(--fg-800);
  --button-primary-background: var(--bg-200);
  --button-primary-background-hover: var(--bg-50);
  --button-primary-background-disabled: var(--bg-400);
  --button-primary-border: 0;

  // === BUTTONS - SECONDARY ===================================================
  --button-secondary-text: var(--fg-700);
  --button-secondary-text-hover: var(--fg-300);
  --button-secondary-text-active: var(--fg-1000);
  --button-secondary-text-disabled: var(--fg-900);
  --button-secondary-background: transparent;
  --button-secondary-background-hover: rgb(255 255 255 / 5%);
  --button-secondary-background-active: var(--fg-600);
  --button-secondary-background-disabled: rgb(255 255 255 / 2%) repeating-linear-gradient(-45deg, rgb(255 255 255 / 4%), rgb(255 255 255 / 4%) 2px, transparent 2px, transparent 5px);
  --button-secondary-border: .5px solid var(--fg-900);
  --button-secondary-border-active: .5px solid var(--fg-500);
  --button-secondary-border-disabled: .5px solid var(--fg-900);

  // === BUTTONS - QUICK =======================================================
  --button-quick-background: var(--bg-500);
  --button-quick-background-hover: var(--bg-300);
  --button-quick-text: var(--fg-600);
  --button-quick-text-hover: var(--fg-400);
  --button-quick-border: none;
  --button-quick-border-hover: none;

  // === BUTTONS - FILE BLOCK ==================================================
  --button-file-block-text: var(--fg-1000);
  --button-file-block-text-hover: var(--fg-1000);
  --button-file-block-background: var(--fg-600);
  --button-file-block-background-hover: var(--fg-400);

  // === BUTTONS - OTHER =======================================================
  --button-selection-background: var(--primary-500);
  --button-selection-text-color: var(--fg-1000);

  // === PASSWORD FORM =========================================================
  --post-password-background: var(--infobox-background);
  --post-password-cutout: var(--e-1);
  --post-password-submit-color: var(--e-2);

  // === INPUTS - GENERAL ======================================================
  --input-shadow: inset 0 0 1px rgb(0 0 0 / 10%);
  --input-placeholder: var(--bg-200);
  --input-fill: var(--fg-800);
  --input-node-background: var(--bg-600);
  --input-node-text: var(--fg-400);

  // === INPUTS - RANGE ========================================================
  --input-range-thumb: var(--fg-700);
  --input-range-thumb-hover: var(--fg-400);

  // === INPUTS - TEXT =========================================================
  --input-border-color: transparent;
  --input-border-color-hover: transparent;
  --input-border-color-focus: transparent;
  --input-border-color-active: transparent;
  --input-border-color-disabled: transparent;
  --input-background: rgb(0 0 0 / 30%);
  --input-background-disabled: rgb(0 0 0 / 15%) repeating-linear-gradient(-45deg, rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) 2px, transparent 2px, transparent 5px);

  // === POPUP MENU ============================================================
  --popup-menu-background: var(--fg-300);
  --popup-menu-background-hover: var(--fg-500);
  --popup-menu-background-selected: var(--fg-400);
  --popup-menu-text: var(--fg-1000);
  --popup-menu-text-hover: var(--fg-1000);

  // === PAGINATION ============================================================
  --pagination-background: var(--bg-500);
  --pagination-background-hover: var(--bg-50);
  --pagination-text: var(--fg-600);
  --pagination-text-hover: var(--fg-500);
  --pagination-current-text: var(--fg-1000);
  --pagination-current-background: var(--fg-600);

  // === INFO BOXES (FIX TO COUNTER DARKEN) ====================================
  --infobox-background: var(--bg-900);
  --infobox-text: var(--fg-600);
  --infobox-background-free: var(--bg-900-free);
  --content-list-item-background: var(--content-list-item-background-gradient); // Base assignment
  --content-list-item-background-full: hsl(var(--infobox-background-free) / 40%);
  // --content-list-item-background-gradient: linear-gradient(-90deg, hsl(var(--infobox-background-free) / 40%) 0%, hsl(var(--infobox-background-free) / 40%) 55%, transparent 90%); // Old

  // Derived from: https://larsenwork.com/easing-gradients/
  --content-list-item-background-gradient: linear-gradient(
    to left,
    hsl(var(--infobox-background-free) / 0.395) 48.645%,
    hsl(var(--infobox-background-free) / 0.380) 51.975%,
    hsl(var(--infobox-background-free) / 0.358) 55.125%,
    hsl(var(--infobox-background-free) / 0.33) 58.05%,
    hsl(var(--infobox-background-free) / 0.296) 60.885%,
    hsl(var(--infobox-background-free) / 0.259) 63.54%,
    hsl(var(--infobox-background-free) / 0.22) 66.195%,
    hsl(var(--infobox-background-free) / 0.18) 68.805%,
    hsl(var(--infobox-background-free) / 0.141) 71.46%,
    hsl(var(--infobox-background-free) / 0.104) 74.115%,
    hsl(var(--infobox-background-free) / 0.07) 76.95%,
    hsl(var(--infobox-background-free) / 0.042) 79.875%,
    hsl(var(--infobox-background-free) / 0.02) 83.025%,
    hsl(var(--infobox-background-free) / 0.0052) 86.355%,
    hsl(var(--infobox-background-free) / 0) 90%
  );

  // === TOOLTIPS/NOTIFICATIONS ================================================
  --tooltip-background: var(--fg-300);
  --tooltip-text: var(--fg-1000);

  // === COMMENTS ==============================================================
  --comment-background: hsl(var(--bg-1000-free) / 20%);
  --comment-background-private: rgb(0 0 0 / 5%) repeating-linear-gradient(-45deg, var(--comment-background), var(--comment-background) 2px, transparent 2px, transparent 5px);
  --comment-background-deleted: rgb(0 0 0 / 5%) repeating-linear-gradient(-45deg, var(--comment-background), var(--comment-background) 2px, transparent 2px, transparent 5px);
  --comment-background-offensive: rgb(0 0 0 / 5%) repeating-linear-gradient(45deg, var(--comment-background), var(--comment-background) 2px, transparent 2px, transparent 5px);
  --comment-background-sticky: hsl(var(--bg-1000-free) / 30%);
  --comment-border-sticky: 1px dashed rgb(255 255 255 / 20%);

  // === SYSTEM ================================================================
  --transition-duration: .2s;
  --text-selection-background: rgb(255 255 255 / 20%);
  --text-selection-color: var(--fg-200);
  --placeholder-background: var(--e-body);

  // === SCROLL BARS ===========================================================
  --scrollbar-background: rgb(0 0 0 / 20%);
  --scrollbar-thumb: var(--fg-900);
  --scrollbar-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);

  // === BADGES ================================================================
  --badge-generic-text: var(--fg-400);
  --badge-generic-background: var(--bg-300);
  --badge-supporter-text: var(--fg-100);
  --badge-supporter-background: hsl(350deg 75% 60%);
  --badge-moderator-text: var(--fg-200);
  --badge-moderator-background: #4d628f;
  --badge-admin-text: var(--fg-200);
  --badge-admin-background: #505062;
  --badge-author-text: var(--fg-200);
  --badge-author-background: #505062;
  --badge-override-text: var(--fg-400);
  --badge-override-background: var(--bg-300);

  // === SCOPES ================================================================
  .follow-notifications {
    --follow-title-color: var(--fg-300);
    --follow-meta-color: var(--fg-600);
  }

  .consent-banner {
    --consent-banner-text: var(--fg-500);
    --consent-banner-background: var(--e-overlay);
  }

  .micro-menu {
    --micro-menu-background: var(--e-overlay);
    --micro-menu-text: var(--fg-400);
    --micro-menu-text-hover: var(--fg-200);
    --micro-menu-box-shadow: 0 0 8px 2px rgb(0 0 0 / 30%);
  }

  .selected-paragraph {
    --paragraph-selection-background: rgb(255 255 255 / 10%);
    --paragraph-tools-filter: drop-shadow(0 -3px 6px rgb(0 0 0 / 30%));
    --button-bookmark-background-active: var(--primary-500);
  }

  .tts-interface {
    --tts-background: var(--e-overlay);
    --tts-button-active-background: var(--primary-500);
    --tts-button-active-text: var(--fg-1000);
    --input-background: var(--bg-300);
  }

  .current-reading {
    --tts-current-reading-background: rgb(255 255 255 / 5%);
  }

  .toggle {
    --toggle-text: var(--fg-600);
    --toggle-text-hover: var(--fg-400);
    --toggle-text-checked: var(--fg-1000);
    --toggle-text-checked-hover: var(--fg-1000);
    --toggle-background: transparent;
    --toggle-background-checked: var(--fg-600);
    --toggle-background-hover: var(--fg-400);
    --toggle-border: var(--fg-600);
    --toggle-border-checked: var(--fg-600);
    --toggle-border-hover: var(--fg-400);
  }

  .suggestion-tools {
    --button-suggestion-text: var(--fg-1000);
    --button-suggestion-text-hover: var(--fg-1000);
    --button-suggestion-background: var(--fg-300);
    --button-suggestion-background-hover: var(--fg-200);
  }

  .tag-pill {
    --tag-text: var(--fg-400);
    --tag-text-hover: var(--fg-300);
    --tag-background: var(--bg-500);
    --tag-background-hover: var(--bg-100);
    --tag-secondary-text: var(--fg-900);
    --tag-secondary-text-hover: var(--fg-300);
    --tag-secondary-background: transparent;
    --tag-secondary-background-hover: var(--bg-100);
    --tag-secondary-border: .5px solid var(--bg-200);
    --tag-secondary-border-hover: .5px solid transparent; // Uses background
    --tag-warning-text-hover: var(--fg-100);
    --tag-warning-background: rgb(246 96 85 / 5%);
    --tag-warning-background-hover: rgb(246 96 85 / 50%);
  }

  .ribbon {
    --ribbon-background: var(--fg-400);
    --ribbon-text: var(--fg-1000);
    --ribbon-background-read: var(--fg-400);
    --ribbon-text-read: var(--fg-1000);
    --ribbon-box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  }
}

:root.minimal,
:root[data-theme=base].minimal {
  .header__title {
    --site-title-heading-color: var(--fg-200);
    --site-title-tagline-color: var(--fg-500);
    --site-title-text-shadow: none;
  }
}

// =============================================================================
// FONT WEIGHTS
// =============================================================================

:root[data-font-weight=normal]:is(html) {
  --font-smoothing-webkit: subpixel-antialiased;
  --font-smoothing-moz: auto;
  --font-weight-normal: 400;
  --font-weight-semi-strong: 600;
  --font-weight-strong: 600;
  --font-weight-medium: 500;
  --font-weight-heading: 700;
  --font-weight-badge: 600;
  --font-weight-post-meta: 400;
  --font-weight-ribbon: 700;
  --font-weight-navigation: 400;
  --font-letter-spacing-base: 0em; // Unit is required!
}

:root[data-font-weight=thinner]:is(html) {
  --font-weight-normal: 300;
  --font-weight-strong: 500;
  --font-weight-medium: 400;
  --font-weight-heading: 600;
  --font-weight-badge: 600;
  --font-weight-post-meta: 300;
  --font-weight-ribbon: 500;
  --font-weight-navigation: 400;
}

// =============================================================================
// THEME MODS
// =============================================================================

:root.page-style-open {
  --theme-color-base: 222 15 20; // 800
  --e-0: var(--bg-800);
  --layout-main-mobile-box-shadow: none;
  --layout-main-desktop-box-shadow: none;
  --minimal-main-box-shadow: none;
  --layout-header-background-box-shadow: none;
}

:root.page-style-worn-paper:not(.minimal) .main__background {
  background: none;
  border-radius: 0;
  box-shadow: none !important;
  filter: var(--layout-polygon-worn-paper-drop-shadow);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--e-1);
    clip-path: polygon(8px 3px, 12px 2px, 16px 0, 10% 2px, 10.5% 0px, 11% 1px, 11.5% 0px, 18% 1.5px, 21% 0, 28% 1px, 30% 4px, 30.5% 1px, 31% 2px, 31.5% 1px, 33% 3px, 34% 0, 35.5% 1px, 36.5% 2px, 38% 0.5px, 48% 0, 49% 4px, 50% 1.5px, 57% 1px, 59% 0, 61% 1.5px, 63% 0, 67% 1px, 70% 0, 70.5% 4px, 71% 1px, 71.5% 2px, 72% 0, 72.5% 3px, 75% 0, 78% 2px, 85% 3px, 93% 1px, 96% 0, calc(100% - 8px) 0, calc(100% - 4px) 2px, calc(100% - 3px) 10px, 100% 14px, calc(100% - 1px) 15%, calc(100% - 2px) 16.5%, 100% 17%, calc(100% - 1px) 17.5%, 100% 18%, calc(100% - 1px) 21%, 100% 22%, calc(100% - 4px) 23%, calc(100% - 1px) 23.5%, calc(100% - 3px) 24%, calc(100% - 2px) 24.5%, 100% 25%, calc(100% - 1px) 25.5%, 100% 26%, calc(100% - 2px) 26.5%, calc(100% - 1px) 27%, calc(100% - 1.5px) 28%, 100% 29%, calc(100% - 1px) 45%, calc(100% - 3px) 45.5%, calc(100% - 2px) 46%, 100% 47%, calc(100% - 1px) 48%, 100% 49%, calc(100% - 2px) 49.5%, calc(100% - 1px) 50%, calc(100% - 1.5px) 50.5%, 100% 51%, calc(100% - 3px) 53%, 100% 53.5%, calc(100% - 2px) 55%, calc(100% - 1px) 56%, 100% 57%, 100% 65%, calc(100% - 4px) 66%, calc(100% - 2px) 67%, 100% 69%, calc(100% - 2px) 78%, calc(100% - 1.5px) 85%, calc(100% - 3px) 85.5%, calc(100% - 8px) 86%, calc(100% - 2px) 86.5%, 100% 100%, 98% calc(100% - 2px), 97% calc(100% - 4px), 96% calc(100% - 1px), 93% 100%, 92.5% calc(100% - 3px), 91% 100%, 87% calc(100% - 1px), 80% 100%, 79.5% calc(100% - 6px), 79.2% calc(100% - 3px), 78.5% 100%, 70% calc(100% - 1px), 69.5% 100%, 69% calc(100% - 5px), 68.5% 100%, 68% calc(100% - 3px), 67.5% calc(100% - 2px), 67% 100%, 66.5% calc(100% - 2px), 66% 100%, 65.6% calc(100% - 2px), 65.3% 100%, 65% calc(100% - 1px), 64.7% 100%, 64.4% calc(100% - 1px), 64% 100%, 60% calc(100% - 1px), 52% 100%, 45% calc(100% - 3px), 40% calc(100% - 2px), 39% calc(100% - 3px), 38% calc(100% - 4px), 37% calc(100% - 2px), 36% calc(100% - 4px), 35% calc(100% - 1px), 19% 100%, 13% 100%, 12.8% calc(100% - 4px), 12.5% calc(100% - 6px), 12% calc(100% - 3px), 11.5% calc(100% - 4px), 11% calc(100% - 3px), 10.5% calc(100% - 5px), 10% calc(100% - 3px), 9.5% calc(100% - 2px), 9% calc(100% - 3px), 8.5% calc(100% - 6px), 5% calc(100% - 2px), 8px calc(100% - 2px), 6px calc(100% - 3px), 4px calc(100% - 4px), 0 calc(100% - 3px), 0 89%, 2px 87%, 4px 86%, 0 85%, 0 77%, 1px 76%, 2px 75%, 0 73.5%, 3px 73%, 0 71%, 1.5px 70.5%, 1px 70%, 2px 69.5%, 0 69%, 1px 68%, 0 67%, 2px 66%, 3px 65.5%, 1px 65%, 0 64%, 1px 50%, 5px 49.5%, 7px 49%, 0 48.5%, 3px 38%, 0 20%, 1px 16%, 3px 15.5%, 4px 14%, 2.5px 12%, 1px 11%, 0 10%, 1px 5%, 0 6px, 2px 4px);
  }
}
