@import '_functions';
@import '_mixins';
@import '_variables';

// =============================================================================
// WEAK - CANNOT OVERRIDE CHILD THEME VIA SITE SETTINGS
//
// Properties in a single scope lack the specificity to override child theme
// definitions in the same scope.
// =============================================================================

:root {
  // === CONFIGURATION =========================================================

  --site-width: #{$full-width}px; // Overridden by theme customizer
  --lightness-offset: 0; // Overridden by theme customizer
  --darken: (1 + var(--lightness-offset));
  --saturation-offset: 0; // Overridden by theme customizer
  --saturation: (1 + var(--saturation-offset));
  --font-saturation: 1;
  --hue-offset: 0deg; // Overridden by theme customizer
  --hue-rotate: 0deg + var(--hue-offset);

  // === NAVIGATION ============================================================

  --navigation-height: 48px;

  @include bp(desktop) {
    --navigation-height: 40px;
  }

  // === FONT FAMILIES =========================================================

  --ff-system: '-apple-system', 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --ff-base: 'Open Sans', var(--ff-system);
  --ff-heading: 'Open Sans', var(--ff-base);
  --ff-note: 'Lato', var(--ff-base);
  --ff-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
  --ff-input: var(--ff-base);
  --ff-card-title: var(--ff-heading);
  --ff-site-title: var(--ff-heading);
  --ff-story-title: var(--ff-heading);
  --ff-chapter-title: var(--ff-heading);
  --ff-chapter-list-title: var(--ff-base);
  --ff-card-body: var(--ff-note);
  --ff-card-list-link: inherit;
  --ff-nav-item: var(--ff-base);

  // === HEADER ================================================================

  --header-image-height: #{get_clamp(210, 480, 320, $full-width)};
  --header-height: calc(#{get_clamp(190, 380, 320, $full-width)} - var(--page-inset-top));
  --header-logo-height: 210px;

  // --site-title-font-size: #{get_clamp(32, 60, 320, $full-width)};
  // --site-title-tagline-font-size: #{get_clamp(13, 18, 320, $full-width)};
  // --site-title-heading-color: var(--fg-100);
  // --site-title-tagline-color: var(--fg-100);
  // --site-title-text-shadow: 0 0 4px rgb(0 0 0 / 80%), 0 0 2px rgb(0 0 0 / 60%);

  // === ASSETS ================================================================

  --data-image-2x2-black: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAAAAACMmsGiAAAAC0lEQVQI12NgwAQAABQAAeWGsEoAAAAASUVORK5CYII=");
}

// =============================================================================
// STRONG - CAN OVERRIDE CHILD THEME VIA SITE SETTINGS
//
// In addition to the base :root and nested scopes, these properties also
// answer to the :root[data-theme=base] selector of higher specificity. This
// means if the user selects the base theme via the Site Settings, definitions
// in the child theme can be overridden unless preventive measures are taken.
// =============================================================================

:root, :root[data-theme=base] {
  // === UNSORTED ==============================================================

  --theme-color-base: 219 15 17; // 900
  --body-bg-color: var(--bg-950);
  --site-bg-color: var(--bg-900);
  --paragraph-spacing: 1.5rem;
  --placeholder-background: var(--bg-950);
  --kbd-background: var(--bg-900);
  --infobox-background: var(--bg-900);
  --read-ribbon-background: var(--bg-50);
  --read-ribbon-color: var(--fg-inverted);
  --read-ribbon-box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  --spoiler-background: var(--fg-700);
  --spoiler-color-visible: var(--fg-inverted);
  --code-background: rgb(0 0 0 / 25%);
  --code-background-inline: rgb(0 0 0 / 25%);
  --code-color: var(--fg-700);
  --ins-background: var(--success-400);
  --ins-color: var(--fg-inverted);
  --del-background: var(--warning-400);
  --del-color: var(--fg-inverted);
  --text-shadow: -1px -1px 1px rgb(0 0 0 / 12%);
  --checkmark-not-checked: var(--bg-950);

  // === CONTENT LISTS =========================================================

  --content-li-background: var(--content-li-background-gradient); // Base assignment
  --content-li-background-full: var(--bg-800);
  --content-li-background-gradient: linear-gradient(to left, var(--bg-800) 0%, var(--bg-800) 55%, transparent 90%);

  // Derived from: https://larsenwork.com/easing-gradients/
  // --content-li-background-gradient: linear-gradient(
  //   to left,
  //   var(--bg-800) 0%,
  //   hsl(var(--bg-800-free) / 0.395) 48.645%,
  //   hsl(var(--bg-800-free) / 0.380) 51.975%,
  //   hsl(var(--bg-800-free) / 0.358) 55.125%,
  //   hsl(var(--bg-800-free) / 0.33) 58.05%,
  //   hsl(var(--bg-800-free) / 0.296) 60.885%,
  //   hsl(var(--bg-800-free) / 0.259) 63.54%,
  //   hsl(var(--bg-800-free) / 0.22) 66.195%,
  //   hsl(var(--bg-800-free) / 0.18) 68.805%,
  //   hsl(var(--bg-800-free) / 0.141) 71.46%,
  //   hsl(var(--bg-800-free) / 0.104) 74.115%,
  //   hsl(var(--bg-800-free) / 0.07) 76.95%,
  //   hsl(var(--bg-800-free) / 0.042) 79.875%,
  //   hsl(var(--bg-800-free) / 0.02) 83.025%,
  //   hsl(var(--bg-800-free) / 0.0052) 86.355%,
  //   hsl(var(--bg-800-free) / 0) 90%
  // );

  // === COLORS ================================================================

  --primary-400: hsl(46deg 87% 75%);
  --primary-500: hsl(44deg 86% 70%);
  --primary-600: hsl(34deg 82% 70%);

  --success-400: #9bd443;
  --success-500: #78994d;

  --warning-400: #f96c6c;
  --warning-500: #f15555;
  --warning-600: #db4646;

  // === BACKGROUNDS ===========================================================

  --bg-50-free: #{hsl_code_free(222, 12, 80)};
  --bg-100-free: #{hsl_code_free(222, 12, 68)};
  --bg-200-free: #{hsl_code_free(222, 12, 54)};
  --bg-300-free: #{hsl_code_free(222, 12, 38)};
  --bg-400-free: #{hsl_code_free(222, 13, 31)};
  --bg-500-free: #{hsl_code_free(222, 13, 26.5)};
  --bg-600-free: #{hsl_code_free(222, 14, 23.5)};
  --bg-700-free: #{hsl_code_free(221, 16, 20)};
  --bg-800-free: #{hsl_code_free(221, 16, 18.5)};
  --bg-900-free: #{hsl_code_free(219, 15, 17)};
  --bg-950-free: #{hsl_code_free(222, 15, 8)};

  --bg-50: hsl(var(--bg-50-free)); // popup menu, tooltip
  --bg-100: hsl(var(--bg-100-free)); // button active, popup menu hover/selected
  --bg-200: hsl(var(--bg-200-free)); // secondary button border hover, pagination active
  --bg-300: hsl(var(--bg-300-free)); // primary button hover, secondary button border, navigation item hover, input placeholder color, horizontal lines
  --bg-400: hsl(var(--bg-400-free)); // primary button, navigation item, navigation menus, pagination hover
  --bg-500: hsl(var(--bg-500-free)); // primary button disabled, secondary button hover, password submit color, pagination
  --bg-600: hsl(var(--bg-600-free)); // card, modal
  --bg-700: hsl(var(--bg-700-free)); // page, card content list item, navigation item divider, password form cutout
  --bg-800: hsl(var(--bg-800-free)); // content list item
  --bg-900: hsl(var(--bg-900-free)); // site, card footer, card overlay, input color-mix
  --bg-950: hsl(var(--bg-950-free)); // body, placeholder

  // === FOREGROUNDS ===========================================================

  &,
  .chapter-formatting {
    // Needs to be repeated to force recalculation in chapters
    // Contrast vs bg-700

    --fg-100: #{hsl_font_code(220, 39, 93)}; // Contrast ratio vs bg-700 ~ 11
    --fg-200: #{hsl_font_code(223, 20, 89)}; // Contrast ratio vs bg-700 ~ 10.06
    --fg-300: #{hsl_font_code(224, 20, 85)}; // Contrast ratio vs bg-700 ~ 9.05
    --fg-400: #{hsl_font_code(221, 20, 81)}; // Contrast ratio vs bg-700 ~ 8.1
    --fg-500: #{hsl_font_code(222, 20, 76)}; // Contrast ratio vs bg-700 ~ 7.03
    --fg-600: #{hsl_font_code(222, 18, 71)}; // Contrast ratio vs bg-700 ~ 6.08
    --fg-700: #{hsl_font_code(221, 14, 65)}; // Contrast ratio vs bg-700 ~ 5.1
    --fg-800: #{hsl_font_code(222, 12, 61)}; // Contrast ratio vs bg-700 ~ 4.5
    --fg-900: #{hsl_font_code(222, 11, 54)}; // Contrast ratio vs bg-700 ~ 3.55
    --fg-950: #{hsl_font_code(222, 9, 49)}; // Contrast ratio vs bg-700 ~ 3
    --fg-tinted: #{hsl_font_code(222, 20, 74)}; // Contrast ratio vs bg-700 ~ 6.6
    --fg-inverted: #{hsl_font_code(222, 20, 5)}; // Contrast ratio vs bg-200 ~ 4.51

    // Colors for dark backgrounds (not changed in light mode)
    // --fg-d100: #{hsl_font_code(220, 10, 88)}; // Contrast ~ 9.9, #dddfe3
    // --fg-d200: #{hsl_font_code(223, 11, 84)}; // Contrast ~ 8.9, #d2d4db
    // --fg-d300: #{hsl_font_code(224, 11, 79)}; // Contrast ~ 7.8, #c4c7cf
    // --fg-d400: #{hsl_font_code(221, 13, 74)}; // Contrast ~ 6.8, #b4bac5
    // --fg-d500: #{hsl_font_code(222, 14, 69)}; // Contrast ~ 5.8, #a5acbb
    // --fg-d600: #{hsl_font_code(222, 13, 65)}; // Contrast ~ 5.1, #9aa1b1
    // --fg-d700: #{hsl_font_code(221, 12, 62)}; // Contrast ~ 4.7, #929aaa
    // --fg-d800: #{hsl_font_code(221, 10, 61)}; // Contrast ~ 4.56, #9298a5
    // --fg-d900: #{hsl_font_code(223, 10, 52)}; // Contrast ~ 3.3, #787f91
    // --fg-d1000: #{hsl_font_code(220, 10, 8)}; // Contrast ~ 1.4, #121416
  }

  // === CUSTOMIZER (FOR REFERENCE) ============================================

  // --top-header-background: transparent;

  // === LAYOUT ================================================================

  --layout-spacing-vertical: #{get_clamp(24, 48, 480, $full-width)};
  --layout-spacing-horizontal: #{get_clamp(20, 80, 480, $full-width, '%')};
  --layout-spacing-horizontal-small: #{get_clamp(10, 20, 320, 400, '%')};
  --layout-border-radius-large: 4px;
  --layout-border-radius-small: 2px;
  --layout-link-color: inherit;
  --layout-link-color-hover: inherit;
  --layout-hr-border: 2px solid var(--bg-300);



  // --layout-color-lineart: var(--fg-800);

  // --layout-collection-text: var(--fg-200);

  // === MINIMAL ===============================================================

  // --minimal-main-box-shadow: 0 0 1px rgb(0 0 0 / 50%);
  // --minimal-container-box-shadow: 0 0 1px rgb(0 0 0 / 50%);

  // === HEADER ================================================================

  --header-image-drop-shadow: drop-shadow(0 0 2px rgb(0 0 0 / 40%));

  // === PAGE ==================================================================

  --page-inset-top: 3rem;
  --page-bg-color: var(--bg-700);
  --page-box-shadow: 0 0 3px rgb(0 0 0 / 20%);
  --page-drop-shadow: drop-shadow(0 1px 1px rgb(0 0 0 / 14%)) drop-shadow(0 0 2px rgb(0 0 0 / 22%));

  // === CARDS =================================================================

  --card-bg-color: var(--bg-600);
  --card-footer-bg-color: var(--bg-900);
  --card-overlay-bg-color: var(--bg-900);
  --card-content-li-background: var(--card-content-li-background-gradient);
  --card-content-li-background-full: var(--bg-700);
  --card-content-li-background-gradient: linear-gradient(to left, var(--bg-700) 50%, transparent 90%);
  --card-label-color: var(--fg-inverted);
  --card-label-background: var(--fg-500);
  --card-unavailable-filter: grayscale(0.5);
  --card-box-shadow: var(--box-shadow-m);

  // === UNSORTED ==============================================================

  // --disabled-pattern: rgb(0 0 0 / 8%) repeating-linear-gradient(-45deg, rgb(0 0 0 / 8%), rgb(0 0 0 / 8%) 2px, transparent 2px, transparent 5px);
  // --disabled-embed-background: var(--disabled-pattern);
  // --progress-bar-background: var(--navigation-background);
  // --progress-bar-color: var(--fg-900);
  // --media-button-color: var(--fg-600);
  // --media-button-color-hover: var(--fg-500);
  // --tax-cloud-current: var(--primary-500);







  // --skeleton-shape-color: var(--fg-800);
  // --skeleton-cutout-color: var(--e-1);
  // --icon-text-font: inherit;

  // --invert-filter: invert(0);
  // --red: #ef4d4d;
  // --litrpg-bg: var(--fg-400);
  // --litrpg-fg: var(--fg-1000);
  // --litrpg-ins: #363ea1;
  // --litrpg-del: #be123c;
  // --litrpg-drop-shadow: var(--container-drop-shadow);
  // --lit-rpg-polygon: polygon(8px 0, calc(100% - 8px) 0, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0 calc(100% - 8px), 0 8px);

  // === FOCUS =================================================================

  --focus-border-color: #ef4d4d;
  --focus-outline: 2px solid var(--focus-border-color);
  // --focus-box-shadow: inset 0 0 0px 3px rgb(0 0 0 / 75%);
  // --focus-box-shadow-small: inset 0 0 0px 2px rgb(0 0 0 / 75%);

  // === ELEVATIONS ============================================================
  // --e-fullscreen: var(--e-1);

  // --e-1: var(--bg-800);
  // --e-overlay: var(--bg-1000);

  // === NAVIGATION ============================================================

  --navigation-background: var(--bg-950);
  --navigation-background-start-opacity: 0;
  --navigation-background-end-opacity: 1;
  --navigation-submenu-background: var(--bg-400);
  --navigation-item-background-hover: var(--bg-400);
  --navigation-subitem-background-hover: var(--bg-300);
  --navigation-color: var(--fg-400);
  --navigation-color-hover: var(--fg-300);
  --navigation-subitem-divider: 1px solid var(--bg-700);
  --navigation-submenu-box-shadow: 0 4px 3px -2px rgb(0 0 0 / 30%);
  --navigation-drop-shadow: drop-shadow(0 3px 2px rgb(0 0 0 / 20%));
  --navigation-new-follow-background: var(--primary-500);
  --navigation-new-follow-color: var(--fg-inverted);

  // === TABS ==================================================================

  --tab-background: var(--bg-500);
  --tab-background-hover: var(--bg-400);
  --tab-background-active: var(--bg-100);
  --tab-color: var(--fg-600);
  --tab-color-hover: var(--fg-500);
  --tab-color-active: var(--fg-inverted);
  --tab-text-shadow: 0 0 1px var(--bg-900);

  // === PAGINATION ============================================================

  --pagination-background: var(--bg-500);
  --pagination-background-hover: var(--bg-400);
  --pagination-background-current: var(--bg-200);
  --pagination-color: var(--fg-600);
  --pagination-color-hover: var(--fg-500);
  --pagination-color-current: var(--fg-inverted);

  // === FOOTER ================================================================
  // --fg-isolated-footer: var(--fg-d900);
  // --bg-isolated-footer: var(--bg-1000);

  // === MODALS ================================================================

  --modal-overlay: rgb(0 0 0 / 35%);
  --modal-bg-color: var(--bg-600);

  // === SHADOWS ===============================================================
  // --floating-shadow: 0 0 16px 4px rgb(0 0 0 / 30%), 1px 1px 0 0 rgb(255 255 255 / 1%) inset;
  // --container-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  // --container-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 1px 2px -1px rgb(0 0 0 / 10%);
  // --figure-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.12)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.1));
  // --caption-overlay-shadow: linear-gradient(0deg, rgb(0 0 0 / 70%), rgb(0 0 0 / 30%) 70%, transparent);
  // --embed-box-shadow: 0 0 2px rgb(0 0 0 / 30%);

  --box-shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 10%);
  --box-shadow-s: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 1px 2px -1px rgb(0 0 0 / 10%);
  --box-shadow: 0 3px 6px -1px rgb(0 0 0 / 9%), 0 -1px 4px -2px rgb(0 0 0 / 10%);
  --box-shadow-m: rgb(0 0 0 / 15%) 0px 2px 5px 0px, rgb(0 0 0 / 5%) 0px 1px 1px 0px;
  --box-shadow-l: rgb(0 0 0 / 10%) 0px 6px 12px -2px, rgb(0 0 0 / 15%) 0px 3px 7px -3px;

  // === MOBILE MENU ===========================================================
  // --mobile-menu-background: var(--e-1);
  // --mobile-menu-advanced-background: var(--e-body);
  // --mobile-menu-site-box-shadow: 2px 0 3px rgb(0 0 0 / 30%);
  // --mobile-advanced-menu-site-box-shadow: inset -5px 0 3px -4px rgb(0 0 0 / 30%);
  // --mobile-menu-overlay: rgb(0 0 0 / 20%);
  // --mobile-menu-text-shadow: var(--text-shadow);
  // --mobile-menu-bookmark-progress-background: rgb(0 0 0 / 40%);
  // --mobile-menu-current-chapter-text: var(--fg-400);
  // --mobile-menu-current-chapter-background: rgb(0 0 0 / 25%);

  // === CONTENT ===============================================================
  // --blockquote-background: rgb(0 0 0 / 15%);

  // === TABLES ================================================================
  // --table-border-color: var(--fg-900);
  // --table-stripe-background: hsl(var(--bg-1000-free) / 15%);

  // === FONT SETTINGS =========================================================

  --font-smoothing-webkit: subpixel-antialiased; // Default
  --font-smoothing-moz: auto; // Default
  --font-weight-normal: 300;
  --font-weight-strong: 500;
  --font-weight-semi-strong: 400;
  --font-weight-medium: 400;
  --font-weight-heading: 600;
  --font-weight-badge: 600;
  --font-weight-post-meta: 300;
  --font-weight-read-ribbon: 600;
  --font-weight-card-label: 600;
  --font-weight-navigation: 400;
  --font-line-height-base: 1.7;
  --font-letter-spacing-base: 0.01em;

  // === FONT SIZES ============================================================
  --fs-xxxs: .625rem; // 10px
  --fs-xxs: .75rem; // 12px
  --fs-xs: .875rem; // 14px
  --fs-s: 1rem; // 16px
  --fs-m: 1.125rem; // 18px
  --fs-ml: 1.25rem; // 20px
  --fs-l: 1.5rem; // 24px
  --fs-xl: 1.75rem; // 28px
  --fs-xxl: 2.25rem; // 36px
  --fs-xxxl: 2.5rem; // 40px
  --fs-xxxxl: 3rem; // 48px

  --fs-dxxs: #{get_clamp(11, 13, 400, 768)};
  --fs-dxs: #{get_clamp(12, 13, 400, 768)};
  --fs-ds: #{get_clamp(13, 14, 400, 768)};

  // === COLORS - HEADING LINKS ================================================

  --heading-link-color: var(--fg-400);
  --heading-link-color-hover: var(--fg-200);

  // === COLORS - INLINE LINKS =================================================

  --inline-link-color: var(--primary-500);
  --inline-link-color-hover: var(--primary-400);
  --inline-link-color-visited: var(--primary-600);
  --inline-link-color-border: 1px solid transparent;
  --inline-link-color-border-hover: 1px solid currentColor;

  // === COLORS - BOOKMARKS ====================================================
  // --bookmark-color-alpha: var(--fg-900);
  // --bookmark-color-beta: #e06552;
  // --bookmark-color-gamma: #77BFA3;
  // --bookmark-color-delta: #3C91E6;
  // --bookmark-line: var(--primary-500);
  // --bookmark-button-text-active-alpha: var(--fg-1000);
  // --bookmark-button-text-active-beta: var(--fg-1000);
  // --bookmark-button-text-active-gamma: var(--fg-1000);
  // --bookmark-button-text-active-delta: var(--fg-1000);
  // --bookmark-progress-opacity: .15;
  // --bookmark-progress-mobile-opacity: .75;

  // === BUTTONS - GENERAL =====================================================

  --button-font-weight: 500;
  --button-box-shadow: none;
  --button-color-active: var(--fg-inverted);
  --button-background-active: var(--bg-100);
  --button-border-active: 1px solid transparent;
  --button-barberpole: var(--bg-500);

  // === BUTTONS - PRIMARY =====================================================

  --button-primary-background: var(--bg-400);
  --button-primary-background-hover: var(--bg-300);
  --button-primary-background-disabled: var(--bg-500);
  --button-primary-color: var(--fg-400);
  --button-primary-color-hover: var(--fg-300);
  --button-primary-color-disabled: var(--fg-700);
  --button-primary-filter-disabled: saturate(.7) opacity(.3) brightness(1.4);

  // === BUTTONS - SECONDARY ===================================================

  --button-secondary-background: transparent;
  --button-secondary-background-hover: var(--bg-500);
  --button-secondary-background-disabled: repeating-linear-gradient(-45deg, rgb(255 255 255 / 6%), rgb(255 255 255 / 6%) 2px, transparent 2px, transparent 4px);
  --button-secondary-color: var(--fg-500);
  --button-secondary-color-hover: var(--fg-400);
  --button-secondary-color-disabled: var(--fg-800);
  --button-secondary-border: 1px solid var(--bg-300);
  --button-secondary-border-hover: 1px solid var(--bg-200);
  --button-secondary-border-disabled: 1px solid var(--bg-300);

  // === BUTTONS - WARNING ======================================================

  --button-warning-background: var(--warning-500);
  --button-warning-background-hover: var(--warning-600);
  --button-warning-color: #fff;
  --button-warning-color-hover: #fff;

  // === BUTTONS - QUICK =======================================================
  // --button-quick-background: var(--bg-500);
  // --button-quick-background-hover: var(--bg-300);
  // --button-quick-text: var(--fg-600);
  // --button-quick-text-hover: var(--fg-400);
  // --button-quick-border: none;
  // --button-quick-border-hover: none;

  // === BUTTONS - FILE BLOCK ==================================================
  // --button-file-block-text: var(--fg-1000);
  // --button-file-block-text-hover: var(--fg-1000);
  // --button-file-block-background: var(--fg-600);
  // --button-file-block-background-hover: var(--fg-400);

  // === PASSWORD FORM =========================================================

  --post-password-background: var(--input-background);
  --post-password-cutout: var(--bg-700);
  --post-password-submit-color: var(--bg-500);

  // === INPUTS ================================================================

  --input-placeholder-color: var(--bg-300);
  --input-background: rgb(0 0 0 / 30%); // Fallback
  --input-background: color-mix(in srgb, var(--bg-900), black 19%);
  --input-background-disabled: rgb(0 0 0 / 15%) repeating-linear-gradient(-45deg, rgb(0 0 0 / 15%), rgb(0 0 0 / 15%) 2px, transparent 2px, transparent 5px);
  --input-color: var(--fg-500);
  --input-color-disabled: var(--fg-800);
  --input-fill: var(--fg-700);
  --input-range-thumb: var(--fg-700);
  --input-range-thumb-hover: var(--fg-300);
  --input-token-background: var(--bg-500);
  --input-token-color: var(--fg-400);

  // === POPUP MENU ============================================================

  --popup-menu-background: var(--bg-50);
  --popup-menu-background-hover: var(--bg-100);
  --popup-menu-background-selected: var(--bg-100);
  --popup-menu-color: var(--fg-inverted);
  --popup-menu-color-hover: var(--fg-inverted);

  // === MICRO MENU ============================================================

  --micro-menu-background: var(--bg-950);
  --micro-menu-color: var(--fg-400);
  --micro-menu-color-hover: var(--fg-200);
  --micro-menu-box-shadow: var(--box-shadow-l);

  // === TOOLTIPS/NOTIFICATIONS ================================================

  --tooltip-background: var(--bg-50);
  --tooltip-text: var(--fg-inverted);

  --notice-default-background: var(--bg-50);
  --notice-default-color: var(--fg-inverted);
  --notice-warning-background: var(--warning-500);
  --notice-warning-color: #fff;
  --notice-success-background: var(--success-500);
  --notice-success-color: #fff;
  --notice-box-shadow: var(--box-shadow-l);

  // === COMMENTS ==============================================================

  --comment-background: rgb(0 0 0 / 15%);
  --comment-background-private: var(--comment-background) repeating-linear-gradient(-45deg, rgb(0 0 0 / 10%), rgb(0 0 0 / 10%) 3px, transparent 3px, transparent 6px);
  --comment-background-deleted: var(--comment-background) repeating-linear-gradient(-45deg, rgb(255 255 255 / 3%), rgb(255 255 255 / 3%) 3px, transparent 3px, transparent 6px);
  --comment-background-offensive: var(--comment-background) repeating-linear-gradient(45deg, rgb(255 255 255 / 3%), rgb(255 255 255 / 3%) 3px, transparent 3px, transparent 6px);
  --comment-background-sticky: rgb(0 0 0 / 20%);
  --comment-border-sticky: 1px dashed rgb(255 255 255 / 20%);

  --load-comments-background: rgb(0 0 0 / 15%);
  --load-comments-background-hover: rgb(0 0 0 / 25%);
  --load-comments-color: var(--fg-600);
  --load-comments-color-hover: var(--fg-700);

  // === SYSTEM ================================================================

  --transition-duration: .2s;
  --text-selection-background: rgb(255 255 255 / 20%);
  --text-selection-color: var(--fg-100);

  // === SCROLL BARS ===========================================================
  // --scrollbar-background: rgb(0 0 0 / 20%);
  // --scrollbar-thumb: var(--fg-900);
  // --scrollbar-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);

  // === BADGES ================================================================
  // --badge-generic-text: var(--fg-400);
  // --badge-generic-background: var(--bg-300);
  // --badge-supporter-text: var(--fg-100);
  // --badge-supporter-background: hsl(350deg 75% 60%);
  // --badge-moderator-text: var(--fg-200);
  // --badge-moderator-background: #4d628f;
  // --badge-admin-text: var(--fg-200);
  // --badge-admin-background: #505062;
  // --badge-author-text: var(--fg-200);
  // --badge-author-background: #505062;
  // --badge-override-text: var(--fg-400);
  // --badge-override-background: var(--bg-300);

  // === SCOPES ================================================================

  .consent-banner {
    --consent-banner-text: var(--fg-600);
    --consent-banner-background: var(--bg-950);
  }

  .selected-paragraph {
    --paragraph-selection-background: rgb(255 255 255 / 10%);
    --paragraph-tools-filter: drop-shadow(0 1px 4px rgb(0 0 0 / 33%));
    // --button-bookmark-background-active: var(--primary-500);
  }

  .tts-interface {
    // --tts-background: var(--e-overlay);
    // --tts-button-active-background: var(--primary-500);
    // --tts-button-active-text: var(--fg-1000);
  }

  .current-reading {
    // --tts-current-reading-background: rgb(255 255 255 / 5%);
  }

  .toggle {
    // --toggle-text: var(--fg-600);
    // --toggle-text-hover: var(--fg-400);
    // --toggle-text-checked: var(--fg-1000);
    // --toggle-text-checked-hover: var(--fg-1000);
    // --toggle-background: transparent;
    // --toggle-background-checked: var(--fg-600);
    // --toggle-background-hover: var(--fg-400);
    // --toggle-border: var(--fg-600);
    // --toggle-border-checked: var(--fg-600);
    // --toggle-border-hover: var(--fg-400);
  }

  .suggestion-tools {
    // --button-suggestion-text: var(--fg-1000);
    // --button-suggestion-text-hover: var(--fg-1000);
    // --button-suggestion-background: var(--fg-300);
    // --button-suggestion-background-hover: var(--fg-200);
  }

  .tag-pill {
    // --tag-text: var(--fg-400);
    // --tag-text-hover: var(--fg-300);
    // --tag-background: var(--bg-500);
    // --tag-background-hover: var(--bg-100);
    // --tag-secondary-text: var(--fg-900);
    // --tag-secondary-text-hover: var(--fg-300);
    // --tag-secondary-background: transparent;
    // --tag-secondary-background-hover: var(--bg-100);
    // --tag-secondary-border: .5px solid var(--bg-200);
    // --tag-secondary-border-hover: .5px solid transparent; // Uses background
    // --tag-warning-text-hover: var(--fg-100);
    // --tag-warning-background: rgb(246 96 85 / 5%);
    // --tag-warning-background-hover: rgb(246 96 85 / 50%);
  }
}

:root.minimal,
:root[data-theme=base].minimal {
  .header__title {
    // --site-title-heading-color: var(--fg-200);
    // --site-title-tagline-color: var(--fg-500);
    // --site-title-text-shadow: none;
  }
}

// =============================================================================
// FONT WEIGHTS
// =============================================================================

:root[data-font-weight=normal]:is(html) {
  --font-smoothing-webkit: subpixel-antialiased;
  --font-smoothing-moz: auto;
  --font-weight-normal: 400;
  --font-weight-semi-strong: 600;
  --font-weight-strong: 600;
  --font-weight-medium: 500;
  --font-weight-heading: 700;
  --font-weight-badge: 600;
  --font-weight-post-meta: 400;
  --font-weight-read-ribbon: 700;
  --font-weight-card-label: 600;
  --font-weight-navigation: 400;
  --font-letter-spacing-base: 0em; // Unit is required!
}

:root[data-font-weight=thinner]:is(html) {
  --font-weight-normal: 300;
  --font-weight-strong: 500;
  --font-weight-medium: 400;
  --font-weight-heading: 600;
  --font-weight-badge: 600;
  --font-weight-post-meta: 300;
  --font-weight-read-ribbon: 500;
  --font-weight-navigation: 400;
}
