// =============================================================================
// THEME MODS
// =============================================================================

:root.header-image-border-style-borderless {
  --layout-header-background-box-shadow: none;
}

:root.page-style-borderless,
:root.page-style-open {
  --layout-main-mobile-box-shadow: none;
  --layout-main-desktop-box-shadow: none;
  --minimal-main-box-shadow: none;
}

:root.page-style-open {
  --theme-color-base: 222 15 20; // 800
  --e-0: var(--bg-800);
}

:root.page-style-worn-paper:not(.minimal) .main__background {
  background: none;
  border-radius: 0;
  box-shadow: none !important;
  filter: var(--layout-polygon-worn-paper-drop-shadow);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--e-1);
    clip-path: var(--polygon-worn-paper);
  }
}

// =============================================================================
// SITE SETTINGS
// =============================================================================

:root.no-background-textures body {
  .background-texture {
    background: {
      image: none !important;
      blend-mode: normal !important;
    }
  }
}

:root.no-polygons {
  .site .polygon,
  .site .polygon::before,
  .site .polygon::after {
    clip-path: none;
  }
}

:root.no-text-shadows {
  --text-shadow: none;
}

:root.no-covers .site {
  :is(.card__image, .card__text-icon) {
    display: none;
    content-visibility: hidden;
  }

  .large-card {
    .ribbon {
      left: unset;
      right: 18px;
      transform: translate(50%,-50%) rotate(45deg);
    }
  }
}
