:root.no-background-textures body {
  .background-texture {
    background: {
      image: none !important;
      blend-mode: normal !important;
    }
  }
}

:root.no-polygons {
  .site .polygon,
  .site .polygon::before,
  .site .polygon::after {
    clip-path: none !important;
    -webkit-mask-image: none !important;
    mask-image: none !important;
  }
}

:root.no-text-shadows {
  --text-shadow: none;
}

:root.no-covers .site {
  :is(.card__image, .card__text-icon, .post-list-item__image) {
    display: none !important;
    content-visibility: hidden !important;
  }
}
