@use '_functions' as *;
@use '_mixins' as *;
@use '_variables' as *;

@keyframes spinning-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spinning-animation 1.2s linear infinite;
}

@keyframes skeleton-animation {
  0% {
    opacity: .3;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: .3;
  }
}

body:not(.is-admin) {
  .only-admins {
    display: none;
  }
}

body:not(.is-moderator):not(.is-admin):not(.is-post-author) {
  .only-moderators {
    display: none;
  }
}

body:not(.is-moderator):not(.is-admin) {
  :is(.comment-edit-link, [data-action="trash"]) {
    display: none;
  }
}

body:not(.is-author):not(.is-admin) {
  .only-authors {
    display: none;
  }
}

body:not(.is-editor):not(.is-admin) {
  .only-editors {
    display: none;
  }
}

.grid-columns:where(:not(.splide__list)) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--grid-columns-min, 308px)), 1fr));
  gap:
    calc(var(--grid-columns-row-gap, 1.5rem) * var(--grid-columns-row-gap-multiplier, 1))
    calc(var(--grid-columns-col-gap, 1.5rem) * var(--grid-columns-col-gap-multiplier, 1));
  contain: style layout;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  // Desktop-Mobile
  &._1-1 {
    -webkit-line-clamp: 1;
    word-break: break-all;
  }

  &._2-2 {
    -webkit-line-clamp: 2;
  }

  &._2-3 {
    -webkit-line-clamp: 3;

    @include bp(640px) {
      -webkit-line-clamp: 2;
    }
  }

  &._3-3 {
    -webkit-line-clamp: 3;
  }

  &._3-4 {
    -webkit-line-clamp: 4;

    @include bp(640px) {
      -webkit-line-clamp: 3;
    }
  }

  &._4-4 {
    -webkit-line-clamp: 4;
  }

  &._5-5 {
    -webkit-line-clamp: 5;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh; // Fallback
  height: 100dvh;
}

.invisible {
  pointer-events: none;
  opacity: 0;
}

.no-wrap {
  white-space: nowrap;
}

.no-indent {
  text-indent: 0 !important;
}

.full-width {
  flex-basis: 100% !important;
  width: 100% !important;

  > * {
    width: 100% !important;
  }
}

.min-480 {
  min-width: 480px;
}

.min-640 {
  min-width: 640px;
}

.min-768 {
  min-width: 768px;
}

.overflow-x {
  overflow-x: auto;
}

.hide-below-desktop {
  @media only screen and (width < 1024px) {
    display: none !important;
    content-visibility: hidden;
  }
}

.hide-below-tablet {
  @media only screen and (width < 768px) {
    display: none !important;
    content-visibility: hidden;
  }
}

.hide-below-640 {
  @media only screen and (width < 640px) {
    display: none !important;
    content-visibility: hidden;
  }
}

.hide-below-480 {
  @media only screen and (width < 480px) {
    display: none !important;
    content-visibility: hidden;
  }
}

.hide-below-400 {
  @media only screen and (width < 400px) {
    display: none !important;
    content-visibility: hidden;
  }
}

.hide-below-375 {
  @media only screen and (width < 375px) {
    display: none !important;
    content-visibility: hidden;
  }
}

.show-below-desktop {
  @include bp(desktop) {
    display: none !important;
    content-visibility: hidden;
  }
}

.show-below-tablet {
  @include bp(tablet) {
    display: none !important;
    content-visibility: hidden;
  }
}

.show-below-640 {
  @include bp(640px) {
    display: none !important;
    content-visibility: hidden;
  }
}

.show-below-480 {
  @include bp(480px) {
    display: none !important;
    content-visibility: hidden;
  }
}

.show-below-400 {
  @include bp(400px) {
    display: none !important;
    content-visibility: hidden;
  }
}

.show-below-375 {
  @include bp(375px) {
    display: none !important;
    content-visibility: hidden;
  }
}

.tooltipped {
  position: relative;

  &::before {
    content: attr(data-tooltip);
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: -10px;
    left: 50%;
    display: block;
    background: var(--tooltip-background);
    color: var(--tooltip-text);
    font: 400 var(--fs-xxs)/1.2 var(--ff-note);
    text-align: center;
    text-shadow: none;
    white-space: normal;
    padding: 6px 8px;
    border-radius: var(--layout-border-radius-small);
    width: max-content;
    max-width: 160px;
    opacity: 0;
    transform: translate(-50%, -100%);
    transition: opacity .1s;
  }

  &._align-left {
    &::before {
      left: 0;
      transform: translate(0, -100%);
    }
  }

  &:hover {
    &::before {
      transition-delay: .3s;
    }
  }

  &._mobile-tooltip:hover {
    &::before {
      opacity: 1;
    }
  }

  @include bp(desktop) {
    &:hover,
    &:focus {
      &::before {
        opacity: 1;
      }
    }
  }
}

html:not(.logged-in) body.logged-in .hide-if-logged-in,
html:not(.logged-in) body:not(.logged-in) .hide-if-logged-out,
.mobile-menu .hide-in-mobile-menu,
.site .hide-outside-mobile-menu,
.hidden, [hidden],
.inside-epub {
  display: none !important;
  content-visibility: hidden;
}

.spacing-top {
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.spacing-bottom {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

:is(.clearfix, .content-section) {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.scroll-margin-top {
  scroll-margin-top: 48px;
}

.container-inline-size {
  container-type: inline-size;
}

.bg-50 {
  background-color: var(--bg-50) !important;
}

@for $i from 1 through 9 {
  $value: 100 * $i;
  .bg-#{$value} {
    background-color: var(--bg-#{$value}) !important;
  }
}

.bg-950 {
  background-color: var(--bg-950) !important;
}

@for $i from 1 through 9 {
  $value: 100 * $i;
  .fg-#{$value} {
    color: var(--fg-#{$value}) !important;
  }
}

.fg-950 {
  color: var(--fg-950) !important;
}

.fg-tinted {
  color: var(--fg-tinted) !important;
}

.fg-inverted {
  color: var(--fg-inverted) !important;
}

.max-site-width {
  max-width: var(--site-width) !important;
}

.page-polygon {
  clip-path: var(--page-polygon);
}

.header-polygon {
  clip-path: var(--header-polygon);
}

.separator-dot {
  color: var(--fg-800);
  font-family: var(--ff-base);
}

.pseudo-separator > *:where(:not(:first-child))::before {
  content: var(--pseudo-separator, '• ');
  color: var(--post-list-meta-divider-color, var(--fg-800));
  font-family: var(--ff-base);
  margin: 0 .125em;
}
