:root.page-style-ringbook:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);
}
@media only screen and (min-width: 375px) {
  :root.page-style-ringbook:not(.minimal) .main__background::before {
    --this-left: clamp(-14px, 3.5623409669vw - 27.358778626px, 0px);
    --this-width: clamp(22px, 1.0178117048vw + 18.1832061069px, 26px);
    --mi: url("../img/mask_ringbook.png"), var(--data-image-2x2-black);
    --mp: top 0 left var(--this-left), top 0 left calc(var(--this-width) + var(--this-left) - 1px);
    --ms: var(--this-width) auto, calc(100% - calc(var(--this-width) + var(--this-left) - 1px)) 100%;
    --mr: repeat-y, no-repeat;
    left: 0 !important;
  }
}
@media only screen and (min-width: 375px) and (min-width: 640px) {
  :root.page-style-ringbook:not(.minimal) .main__background::before {
    border-radius: 0 var(--layout-border-radius-large) var(--layout-border-radius-large) 1.5rem;
  }
}

:root.page-style-battered:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);
}
:root.page-style-battered:not(.minimal) .main__background::before {
  clip-path: var(--polygon-battered-half);
}
@media only screen and (min-width: 768px) {
  :root.page-style-battered:not(.minimal) .main__background::before {
    left: 4px;
    right: 4px;
    clip-path: var(--polygon-battered);
  }
}
@media only screen and (min-width: 1024px) {
  :root.page-style-battered:not(.minimal) .main__background::before {
    left: 0;
    right: 0;
  }
}

:root.page-style-chamfered:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);
}
:root.page-style-chamfered:not(.minimal) .main__background::before {
  --m: clamp(6px, 1.3392857143vw + 1.7142857143px, 12px);
  clip-path: polygon(0% var(--m), var(--m) 0%, calc(100% - var(--m)) 0%, 100% var(--m), 100% calc(100% - var(--m)), calc(100% - var(--m)) 100%, var(--m) 100%, 0% calc(100% - var(--m)));
}

:root.page-style-interface-a:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);
}
:root.page-style-interface-a:not(.minimal) .main__background::before {
  --o: clamp(0px, 1.2326656394vw - 4.6224961479px, 8px);
  --m: clamp(6px, 0.4464285714vw + 4.5714285714px, 8px);
  --g: calc(100% - clamp(140px, 40.1785714286vw + 11.4285714286px, 320px));
  --s: clamp(0px, 7.1428571429vw - 22.8571428571px, 32px);
  --p: clamp(92px, 30.8035714286vw - 6.5714285714px, 230px);
  --i: 0px;
  clip-path: polygon(0% calc(var(--o) + var(--m)), var(--o) var(--m), calc(var(--s)) var(--m), calc(var(--m) + var(--s)) 0%, calc(var(--m) + var(--s) + var(--p)) 0%, calc(2 * var(--m) + var(--s) + var(--p)) var(--m), calc(50% - 48px) var(--m), calc(50% - 44px) calc(var(--m) + var(--i)), calc(50% - 36px) calc(var(--m) + var(--i)), calc(50% - 32px) var(--m), calc(50% - 16px) var(--m), calc(50% - 12px) calc(var(--m) + var(--i)), calc(50% - 4px) calc(var(--m) + var(--i)), 50% var(--m), calc(50% + 16px) var(--m), calc(50% + 20px) calc(var(--m) + var(--i)), calc(50% + 28px) calc(var(--m) + var(--i)), calc(50% + 32px) var(--m), var(--g) var(--m), calc(var(--g) + 1 * var(--m)) 0%, calc(var(--g) + 3 * var(--m)) 0%, calc(var(--g) + 2 * var(--m)) var(--m), calc(var(--g) + 2.5 * var(--m)) var(--m), calc(var(--g) + 3.5 * var(--m)) 0%, calc(var(--g) + 5.5 * var(--m)) 0%, calc(var(--g) + 4.5 * var(--m)) var(--m), calc(var(--g) + 5 * var(--m)) var(--m), calc(var(--g) + 6 * var(--m)) 0%, calc(var(--g) + 8 * var(--m)) 0%, calc(var(--g) + 7 * var(--m)) var(--m), calc(var(--g) + 7.5 * var(--m)) var(--m), calc(var(--g) + 8.5 * var(--m)) 0%, calc(var(--g) + 11 * var(--m)) 0%, calc(var(--g) + 11.5 * var(--m)) calc(0.5 * var(--m)), calc(100% - 5.5 * var(--m)) calc(0.5 * var(--m)), calc(100% - 5 * var(--m)) 0%, calc(100% - 1 * var(--m)) 0%, 100% var(--m), 100% calc(100% - 1 * var(--m)), calc(100% - 1 * var(--m)) 100%, var(--m) 100%, 0% calc(100% - 1 * var(--m)));
}
@media only screen and (min-width: 1024px) {
  :root.page-style-interface-a:not(.minimal) .main__background::before {
    --i: 4px;
  }
}

:root.inset-header-image .header-background {
  left: 50%;
  right: unset;
  width: 100%;
  transform: translate3d(-50%, 0, 0);
}
@media only screen and (min-width: 1024px) {
  :root.inset-header-image .header-background {
    border-radius: var(--layout-border-radius-large);
    width: calc(var(--site-width) * 1.5);
    max-width: min(100vw - 2rem, 1980px);
  }
}
@media only screen and (min-width: 1024px) {
  :root.inset-header-image .header-background__wrapper {
    border-radius: var(--layout-border-radius-large);
  }
}

:root.header-image-style-battered .header-background {
  --layout-header-background-box-shadow: none;
  border-radius: 0 !important;
}
:root.header-image-style-battered .header-background._shadow {
  filter: var(--layout-header-background-drop-shadow);
}
:root.header-image-style-battered .header-background__wrapper {
  border-radius: 0 !important;
  clip-path: var(--polygon-battered-half);
}
@media only screen and (min-width: 768px) {
  :root.header-image-style-battered .header-background__wrapper {
    margin-left: 4px;
    margin-right: 4px;
    clip-path: var(--polygon-battered);
  }
}
@media only screen and (min-width: 1024px) {
  :root.header-image-style-battered .header-background__wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

:root.header-image-style-battered:not(.inset-header-image) .header-background__wrapper {
  --polygon-battered: var(--polygon-battered-half);
  margin-left: 0;
  margin-right: 0;
}

:root:not(.minimal) .content-list-style-full {
  --content-list-item-background: var(--content-list-item-background-full);
}
:root:not(.minimal) .content-list-style-full .chapter-group__list-item {
  padding: 0.5rem 8px 0.5rem 6px;
}
:root:not(.minimal) .content-list-style-full .story__blog-list-item {
  padding: 0.5rem 8px;
}
:root:not(.minimal) .content-list-style-full .card__link-list-item {
  padding-left: 0.35em;
}

:is(:root, :root.minimal) .content-list-style-free {
  --content-list-item-background: none;
}
:is(:root, :root.minimal) .content-list-style-free :is(.chapter-group__list-item, .story__blog-list-item) {
  border-radius: 0;
  border-bottom: none;
}

:is(:root, :root.minimal) .content-list-style-lines {
  --content-list-item-background: none;
}
:is(:root, :root.minimal) .content-list-style-lines :is(.chapter-group__list-item, .story__blog-list-item, .card__link-list-item) {
  border-radius: 0;
  border-bottom: 1.5px solid var(--layout-color-separator);
}
:is(:root, :root.minimal) .content-list-style-lines .card__link-list-item:last-child {
  border-bottom: none;
}
