@import '../common/_functions';
@import '../common/_mixins';

:root[data-mode=light] {
  --card-footer-color: var(--fg-700);
}

.card:where(._unfolded, ._combined) {
  .card__main > .card__footer {
    gap: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-top: var(--card-style-border-width, 1.5px) solid var(--card-frame-border-color, var(--bg-800));

    .card__footer-box {
      background: none;
      padding: calc(var(--this-padding) * 0.75) var(--this-padding);
      border-radius: 0;

      &._right {
        border-left: var(--card-style-border-width, 1.5px) solid var(--card-frame-border-color, var(--bg-800));
        min-width: 9cqw;
      }
    }
  }
}
