@import '../common/_functions';
@import '../common/_mixins';

:root, :root[data-theme=base] {
  --card-footer-rating-color: var(--fg-900);
}

.card._combined {
  .card__main > .card__footer .card__footer-box {
    padding: calc(var(--this-spacing) * 0.75) var(--this-spacing) var(--this-spacing);
  }

  .card__main > .card__footer .rating-letter-label {
    font-weight: 700;
    place-content: center right;
    text-align: right;
  }

  .card__main > .card__footer,
  .card__main > .card__footer .card__footer-box._right {
    border: none !important;
  }

  .card__main > .card__footer {
    margin-top: var(--card-footer-margin-top, calc(var(--this-spacing) * 0.5))
  }
}
