@import '../common/_functions';
@import '../common/_mixins';

:root .content-list-style-free {
  --content-li-background: none;
  --card-content-li-background: none;
  --story-blog-li-background: none;
  --chapter-li-background: none;

  [data-view=list] :is(.chapter-group__list-item, .story__blog-list-item) {
    border-radius: 0;
    border-bottom: none;
  }
}
