@use '../common/_functions' as *;
@use '../common/_mixins' as *;
@use '../common/_variables' as *;

:root .content-list-style-lines {
  --content-li-background: none;
  --card-content-li-background: none;
  --story-blog-li-background: none;
  --chapter-li-background: none;
  --chapter-li-padding-bottom-offset: var(--chapter-list-gap, var(--content-list-gap, 4px));

  :is(.chapter-group__list-item, .story__blog-list-item, .card__link-list-item) {
    border-radius: 0;
    border-bottom: var(--content-li-hr-border);
  }

  .card__link-list-item {
    border-bottom: var(--card-content-li-hr-border, var(--content-li-hr-border));
    border-bottom-width: 1px;

    &:last-child {
      margin-bottom: -0.125em; // Offset list item padding
    }
  }

  .card__link-list-item:last-child {
    border-bottom: none;
  }

  .card ._small .cell-list:last-child {
    margin-bottom: calc(var(--this-spacing) * .65); // Offset list item padding
  }
}
