@import '../common/_functions';
@import '../common/_mixins';

:is(:root, :root.minimal) .content-list-style-lines {
  --content-li-background: none;
  --card-content-li-background: none;

  :is(.chapter-group__list-item, .story__blog-list-item, .card__link-list-item) {
    border-radius: 0;
    border-bottom: var(--content-li-hr-border);
  }

  .card__link-list-item:last-child {
    border-bottom: none;
  }
}
