@import '../common/_functions';
@import '../common/_mixins';

.footer._footer-isolated {
  --layout-link-color-hover: var(--fg-isolated-footer-hover);
  background: var(--bg-isolated-footer);
  color: var(--fg-isolated-footer);
  margin-top: 3rem;

  .footer__wrapper {
    margin: 2rem auto;
  }

  .breadcrumbs {
    color: var(--fg-isolated-footer);
  }
}
