@use '../common/_functions' as *;
@use '../common/_mixins' as *;
@use '../common/_variables' as *;

:root.header-image-style-polygon-battered {
  --header-polygon: var(--polygon-battered-half);

  @include bp(tablet) {
    --header-polygon: var(--polygon-battered);
  }

  .header-background {
    border-radius: 0 !important;

    &__wrapper {
      border-radius: 0 !important;
      clip-path: var(--header-polygon);

      @include bp(tablet) {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}

:root.header-image-style-polygon-battered:not(.inset-header-image) {
  --header-polygon: var(--polygon-battered-half);

  .header-background__wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}
