@use '../common/_functions' as *;
@use '../common/_mixins' as *;
@use '../common/_variables' as *;

:root.header-image-style-polygon-chamfered {
  --m: #{get_clamp(6, 12, 320, 768)};
  --header-polygon: polygon(
    0% var(--m),
    var(--m) 0%,
    calc(100% - var(--m)) 0%,
    100% var(--m),
    100% calc(100% - var(--m)),
    calc(100% - var(--m)) 100%,
    var(--m) 100%,
    0% calc(100% - var(--m))
  );

  .header-background {
    border-radius: 0 !important;

    &__wrapper {
      border-radius: 0 !important;
      clip-path: var(--header-polygon);

      @include bp(tablet) {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}

:root.header-image-style-polygon-chamfered:not(.inset-header-image) {
  .header-background__wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}
