@use '../common/_functions' as *;
@use '../common/_mixins' as *;
@use '../common/_variables' as *;

:root.header-image-style-mask-grunge-frame-a-small {
  .header-background {
    border-radius: 0 !important;

    &__wrapper {
      --mi-full: url('../img/grunge-frame-a/top-left.png'), url('../img/grunge-frame-a/top.png'), url('../img/grunge-frame-a/top-right.png'), url('../img/grunge-frame-a/right.png'), url('../img/grunge-frame-a/bottom-right.png'), url('../img/grunge-frame-a/bottom.png'), url('../img/grunge-frame-a/bottom-left.png'), url('../img/grunge-frame-a/left.png'), var(--data-image-2x2-black);
      --g: #{get_clamp(-8, 0, 375, 768)};
      --mi: url('../img/grunge-frame-a/top.png'), url('../img/grunge-frame-a/bottom.png'), var(--data-image-2x2-black);
      --ms: 100% 32px, 100% 32px, 100% calc(100% - var(--g) - 62px);
      --mp: top var(--g) left 0, bottom left, top calc(31px + var(--g)) left 0;
      border-radius: 0 !important;

      @include bp(desktop) {
        --mi: var(--mi-full);
        --ms: 32px 32px, calc(100% - 62px) 32px, 32px 32px, 32px calc(100% - 62px), 32px 32px, calc(100% - 62px) 32px, 32px 32px, 32px calc(100% - 62px), calc(100% - 62px) calc(100% - 62px);
        --mp: top left, top 0 left 31px, top right, top 31px right 0, bottom right, bottom 0 right 31px, bottom left, top 31px left 0, top 31px left 31px;
      }
    }
  }
}

:root.header-image-style-mask-grunge-frame-a-small:not(.inset-header-image) {
  .header-background__wrapper {
    --mi: url('../img/grunge-frame-a/top.png'), url('../img/grunge-frame-a/bottom.png'), var(--data-image-2x2-black);
    --ms: 100% 32px, 100% 32px, 100% calc(100% - 62px);
    --mp: top left, bottom left, top 31px left 0;
  }
}
