@use '../common/_functions' as *;
@use '../common/_mixins' as *;
@use '../common/_variables' as *;

:root.inset-header-image .header-background {
  left: 50%;
  right: unset;
  width: 100%;
  transform: translate3d(-50%, 0, 0);

  @include bp(desktop) {
    border-radius: var(--layout-border-radius-large);
    width: calc(var(--site-width) * 1.5);
    max-width: min(calc(100vw - 2rem), 1980px);
  }

  &__wrapper {
    @include bp(desktop) {
      border-radius: var(--layout-border-radius-large);
    }
  }
}
