@use '../common/_functions' as *;
@use '../common/_mixins' as *;
@use '../common/_variables' as *;

:root.page-style-polygon-battered:not(.minimal) {
  --page-polygon: var(--polygon-battered-half);

  @include bp(tablet) {
    --page-polygon: var(--polygon-battered);
  }

  .main__background {
    filter: var(--page-drop-shadow);

    &::before {
      clip-path: var(--page-polygon);

      @include bp(tablet) {
        left: 4px;
        right: 4px;
      }

      @include bp(desktop) {
        left: 0;
        right: 0;
      }
    }
  }
}
