& {
  .sub-label {
    display: block;
    color: var(--sublabel-text-color);
    font-size: var(--fs-xxs);
    line-height: 1.5;
    margin: var(--2bp) 2px 0;
  }

  .label-wrapped-checkbox {
    user-select: none;
    display: flex;
    align-items: flex-start;
    gap: var(--8bp);
    font-size: var(--fs-xs);
    line-height: 1.5;
    width: fit-content;

    input[type=checkbox] {
      transform: translateY(2px);

      &:not(:checked) {
        ~ * {
          input {
            color: var(--input-color-disabled);
          }
        }
      }
    }

    input:is([type=text], [type=number]) {
      display: inline-block;
      line-height: 1;
      padding-bottom: 1px;
      height: 20px;
      width: auto;
    }

    > * .sub-label:last-child {
      display: block;
      margin: var(--2bp) 0 var(--2bp);
    }
  }

  .text-input-inline {
    line-height: 1.5;
    min-height: 24px;

    input:is([type=text], [type=number], [type=password], [type=email], [type=url]) {
      display: inline-block;
      line-height: 1;
      padding-bottom: 1px;
      height: 20px;
      width: auto;
    }

    &.row:not(:first-child) {
      margin-top: var(--16bp);
    }

    &.row:not(:last-child) {
      margin-bottom: var(--16bp);
    }
  }

  .table {
    table {
      &.th-no-wrap {
        th {
          white-space: nowrap;
        }
      }
    }

    thead {
      background: var(--table-row-background-color-head);
      border: 1px solid var(--table-border-color);
      border-width: 1px 0;
    }

    tr {
      &.disabled {
        > * {
          opacity: 0.5;
        }
      }

      &:hover {
        .inline-row-actions {
          opacity: 1;
        }
      }
    }

    th {
      font-size: var(--fs-xxs);
      font-weight: 600;
      text-transform: uppercase;
      vertical-align: bottom;
      padding: var(--12bp) var(--16bp);
    }

    td {
      font-size: var(--fs-xxs);
      vertical-align: top;
      padding: var(--16bp);
    }

    :is(th, td) {
      &.expand {
        width: 99%;
      }

      &.large {
        width: 40%;
      }

      &.place-centered {
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
      }

      &:first-of-type {
        padding-left: var(--16bp);
      }

      &:last-of-type {
        padding-right: var(--16bp);
      }
    }

    a {
      text-decoration: none;
    }

    .menu-column {
      width: 56px;
    }
  }

  .description {
    color: var(--description-text-color);

    &:not(.row, :first-child) {
      margin-top: var(--4bp);
    }

    &:not(.row, :last-child) {
      margin-bottom: var(--4bp);
    }
  }

  .inline-row-actions {
    color: #a7aaad;
    font-size: var(--fs-xxs);
    padding-top: 4px;
    transition: opacity .1s;

    @media only screen and (min-width: 1200px) {
      opacity: 0;
    }

    .delete > * {
      color: #b32d2e;
    }
  }

  .spacer {
    display: block;
    height: var(--24bp);
  }

  .action-row {
    --gap-offset: var(--8bp);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-offset);

    &.split {
      --gap-offset: var(--24bp);
      justify-content: space-between;

      > * {
        --gap-offset: var(--8bp);
        display: flex;
        gap: var(--gap-offset);
        flex: 1 0 auto;
      }

      > .right-actions {
        justify-content: flex-end;
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    line-height: 1;

    .pages {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .button {
      display: inline-block;
      font-size: 16px;
      line-height: 1.625;
      text-align: center;
      padding: 0 4px;
      min-height: 30px;
      min-width: 30px;
    }
  }

  .details {
    summary {
      padding-bottom: var(--8bp);
    }
  }

  .highlighted-items {
    > * {
      cursor: pointer;

      &:hover {
        color: var(--highlight-color);
      }
    }
  }

  .capability-checkbox {
    &__input {
      display: none;

      &:checked + .capability-checkbox__name {
        color: var(--checkbox-toggle-color-active);
        background: var(--checkbox-toggle-background-color-active);

        &:hover {
          filter: brightness(0.9);
        }
      }
    }

    &__name {
      background: var(--checkbox-toggle-background-color);
      font-size: var(--fs-xxs);
      line-height: 1.4;
      padding: 4px 6px;
      border-radius: 2px;
      width: fit-content;
      transition: color .1s;

      &:hover {
        background: var(--checkbox-toggle-background-color-hover);
      }
    }
  }
}
