& {
  .sub-label {
    display: block;
    color: var(--text-500);
    font-size: var(--fs-xxs);
    line-height: 1.5;
    margin: var(--2bp) 2px 0;
  }

  .label-wrapped-checkbox {
    user-select: none;
    display: flex;
    align-items: flex-start;
    gap: var(--8bp);
    font-size: var(--fs-xs);
    line-height: 1.5;
    width: fit-content;

    input[type=checkbox] {
      transform: translateY(2px);

      &:not(:checked) {
        ~ * {
          input {
            color: var(--text-400);
          }
        }
      }
    }

    input:is([type=text], [type=number]) {
      display: inline-block;
      line-height: 1;
      padding-bottom: 1px;
      height: 20px;
      width: auto;
    }

    > * .sub-label:last-child {
      display: block;
      margin: var(--2bp) 0 var(--2bp);
    }
  }

  .text-input-inline {
    line-height: 1.5;
    min-height: 24px;

    input:is([type=text], [type=number], [type=password], [type=email], [type=url]) {
      display: inline-block;
      line-height: 1;
      padding-bottom: 1px;
      height: 20px;
      width: auto;
    }

    &.row:not(:first-child) {
      margin-top: var(--16bp);
    }

    &.row:not(:last-child) {
      margin-bottom: var(--16bp);
    }
  }

  .table {
    table {
      &.th-no-wrap {
        th {
          white-space: nowrap;
        }
      }
    }

    thead {
      background: var(--bg-50);
      border: 1px solid rgb(0 0 0 / 5%);
      border-width: 1px 0;
    }

    tr {
      &.disabled {
        > * {
          opacity: 0.5;
        }
      }

      &:hover {
        .inline-row-actions {
          opacity: 1;
        }
      }
    }

    th {
      color: var(--text-500);
      font-size: var(--fs-xxs);
      font-weight: 600;
      text-transform: uppercase;
      vertical-align: bottom;
      padding: var(--12bp) var(--16bp);
    }

    td {
      font-size: var(--fs-xxs);
      vertical-align: top;
      padding: var(--16bp);
    }

    :is(th, td) {
      &.expand {
        width: 99%;
      }

      &.large {
        width: 40%;
      }

      &.place-centered {
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
      }

      &:first-of-type {
        padding-left: var(--16bp);
      }

      &:last-of-type {
        padding-right: var(--16bp);
      }
    }

    a {
      text-decoration: none;
    }

    .menu-column {
      width: 56px;
    }
  }

  .description {
    color: var(--text-500);

    &:not(.row, :first-child) {
      margin-top: var(--4bp);
    }

    &:not(.row, :last-child) {
      margin-bottom: var(--4bp);
    }

    strong {
      color: var(--text-600);
    }
  }

  .inline-row-actions {
    color: #a7aaad;
    font-size: var(--fs-xxs);
    padding-top: 4px;
    transition: opacity .1s;

    @media only screen and (min-width: 1200px) {
      opacity: 0;
    }

    .delete > * {
      color: #b32d2e;
    }
  }

  .popup-note {
    --this-background: var(--bg-600);
    --this-text-color: var(--text-white);

    &.floating {
      pointer-events: none;
      user-select: none;
      position: absolute;
    }

    &.dismissable {
      pointer-events: all;

      > * {
        display: flex;
        align-items: flex-start;
        gap: 10px;
      }

      .dismiss {
        cursor: pointer;
        line-height: 1;
        padding-right: 1px;
        transform: translateY(2px);

        &:not(:hover) {
          opacity: .9;
        }
      }
    }

    &:is(.warning, .invalid) {
      --this-background: var(--invalid-note-background);
      --this-text-color: var(--invalid-note-text-color);
    }

    > * {
      position: relative;
      display: block;
      background: var(--this-background);
      color: var(--this-text-color);
      font-size: var(--fs-xxs);
      line-height: 1.3;
      padding: 4px 6px;
      margin: 0 4px;
      border-radius: var(--large-border-radius);
      transform: translateY(-3px);
      width: fit-content;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 12px;
        display: block;
        border-style: solid;
        border-width: 0 6px 4px 6px;
        border-color: transparent transparent var(--this-background) transparent;
        transform: translateY(-100%);
      }
    }
  }

  .spacer {
    display: block;
    height: var(--24bp);
  }

  .popup-menu-toggle {
    display: block;
    text-align: center;
    min-width: 32px;
  }

  .popup-menu {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    background: var(--bg-800);
    border-radius: var(--large-border-radius);
    min-width: 64px;
    overflow: hidden;
    box-shadow: var(--popup-shadow);

    > * {
      display: block;
      color: var(--text-white);
      line-height: 1;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      padding: 8px 16px;

      &:hover {
        background: var(--bg-700);
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .button {
    display: grid;
    place-content: center;
    background: var(--bg-700);
    color: var(--text-white);
    font-size: var(--fs-xxs);
    line-height: 1;
    padding: 0 16px;
    border: none;
    border-radius: var(--large-border-radius);
    min-height: 32px;

    &.disabled {
      background: var(--bg-200) !important; // WP
      color: var(--text-400) !important; // WP
      border: none !important; // WP
    }

    &:hover,
    &:active,
    &:focus {
      background: var(--bg-600);
      color: var(--text-white);
      border: none;
      box-shadow: none;
    }

    &.secondary {
      background: transparent;
      color: var(--bg-600);
      font-weight: 500;
      border: 1px solid var(--bg-600);

      &:hover,
      &:active,
      &:focus {
        background: var(--bg-50);
        color: var(--bg-700);
        border: 1px solid var(--bg-700);
      }
    }
  }

  .pill-nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--8bp);

    .tab {
      display: grid;
      place-content: center;
      color: var(--text-50);
      font-size: var(--fs-xs);
      line-height: 1;
      text-decoration: none;
      padding: 0 16px;
      border-radius: var(--large-border-radius);
      height: 32px;
      opacity: .7;
      transition: opacity .1s;

      &:focus {
        box-shadow: none;
        outline: none;
      }

      &:hover,
      &:focus {
        opacity: 1;
        background: var(--bg-800);
      }

      &.active {
        background: var(--bg-50);
        color: var(--text-700);
        opacity: 1;

        &:focus {
          background: var(--bg-300);
        }
      }
    }
  }

  .action-row {
    --gap-offset: var(--8bp);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-offset);

    &.split {
      --gap-offset: var(--24bp);
      justify-content: space-between;

      > * {
        --gap-offset: var(--8bp);
        display: flex;
        gap: var(--gap-offset);
        flex: 1 0 auto;
      }

      > .right-actions {
        justify-content: flex-end;
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    line-height: 1;

    .pages {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .button {
      display: grid;
      place-content: center;
      padding: 0;
      width: 32px;

      &:not(.disabled, :hover) {
        background: var(--bg-500);
      }
    }
  }

  .details {
    summary {
      padding-bottom: var(--8bp);
    }
  }

  .highlighted-items {
    > * {
      cursor: pointer;

      &:hover {
        color: var(--primary-600);
      }
    }
  }
}
