& {
  .flex {
    display: flex;

    &.flex-wrap {
      flex-wrap: wrap;
    }
  }

  // Margin-top 2 to 16
  @for $i from 2 through 16 {
    $n: 2 * $i;
    .gap-#{$n} {
      --gap-offset: var(--#{$n}bp);
      gap: var(--#{$n}bp);
    }
  }

  // Margin-top 2 to 16
  @for $i from 1 through 32 {
    $n: 2 * $i;
    .mt-#{$n} {
      margin-top: var(--#{$n}bp);
    }
  }
}
