& {
  // Dynamic pixels
  --2bp: #{get_clamp(0, 2, 320, 768)};
  --4bp: #{get_clamp(2, 4, 320, 768)};
  --6bp: #{get_clamp(4, 6, 320, 768)};
  --8bp: #{get_clamp(6, 8, 320, 768)};
  --10bp: #{get_clamp(8, 10, 320, 768)};
  --12bp: #{get_clamp(10, 12, 320, 768)};
  --14bp: #{get_clamp(12, 14, 320, 768)};
  --16bp: #{get_clamp(14, 16, 320, 768)};
  --18bp: #{get_clamp(16, 18, 320, 768)};
  --20bp: #{get_clamp(18, 20, 320, 768)};
  --22bp: #{get_clamp(20, 22, 320, 768)};
  --24bp: #{get_clamp(22, 24, 320, 768)};
  --26bp: #{get_clamp(24, 26, 320, 768)};
  --28bp: #{get_clamp(26, 28, 320, 768)};
  --30bp: #{get_clamp(28, 30, 320, 768)};
  --32bp: #{get_clamp(30, 16, 320, 768)};

  // Font sizes
  --fs-xxs: #{get_clamp(11, 12, 320, 768)};
  --fs-xs: #{get_clamp(13, 14, 320, 768)};
  --fs-s: #{get_clamp(15, 16, 320, 768)};
  --fs-m: #{get_clamp(17, 18, 320, 768)};
}
