& {
  :is(input, p, select, label, code, .button) {
    vertical-align: baseline;
    margin: 0;
    box-shadow: none;
    min-height: auto;
    max-width: none;
  }

  input {
    &:focus {
      box-shadow: none;
    }
  }

  input[type=checkbox] {
    &:checked {
      &::before {
        display: inline;
        float: none;
        margin: 0;
        height: 100%;
        width: 100%;
        vertical-align: inherit;
      }
    }
  }

  select {
    line-height: 1;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
  }

  p {
    &.submit {
      padding: 0;
    }
  }

  .card {
    padding: unset;
    margin-top: unset;
    border: none;
    min-height: unset;
    max-width: unset;
    min-width: unset;
  }
}
