@import '../common/functions';
@import '../common/mixins';
@import '../common/variables';

// =============================================================================
// GLOBAL PROPERTIES
// =============================================================================

body {
  --fcn-bg-primary: #1d2327;
  --fcn-bg-secondary: #2c3337;
  --fcn-fg-color: #fff;

  &.admin-color-coffee {
    --fcn-bg-primary: #59524c;
    --fcn-bg-secondary: #46403b;
  }

  &.admin-color-light {
    --fcn-bg-primary: #e5e5e5;
    --fcn-bg-secondary: #fff;
    --fcn-fg-color: #333;
  }

  &.admin-color-modern {
    --fcn-bg-primary: #1e1e1e;
    --fcn-bg-secondary: #0c0c0c;
  }

  &.admin-color-blue {
    --fcn-bg-primary: #53accc;
    --fcn-bg-secondary: #4896b3;
  }

  &.admin-color-ectoplasm {
    --fcn-bg-primary: #523f6d;
    --fcn-bg-secondary: #413256;
  }

  &.admin-color-midnight {
    --fcn-bg-primary: #363b3f;
    --fcn-bg-secondary: #25282b;
  }

  &.admin-color-ocean {
    --fcn-bg-primary: #738e96;
    --fcn-bg-secondary: #627c83;
  }

  &.admin-color-sunrise {
    --fcn-bg-primary: #cf4944;
    --fcn-bg-secondary: #b43c38;
  }
}

// =============================================================================
// GENERAL ADMIN STYLES
// =============================================================================

details {
  summary {
    cursor: pointer;
  }
}

.column-fictioneer_reports {
  text-align: center !important;
  width: 72px;
}

td.comment {
  blockquote {
    border-left: 2px solid currentColor;
    padding-left: 1em;
    margin-left: 0;
  }
}

.edit-term-notes {
  display: none;
}

.button.button-danger {
  background: #dc3232;
  color: #fff;
  text-decoration: none;
  border-color: #dc3232;
}

.button.button-danger:hover,
.button.button-danger:focus {
  background: #c00;
  color: #fff;
  border-color: #c00;
}

// =============================================================================
// CUSTOMIZER
// =============================================================================

#customize-control-use_custom_layout,
#customize-control-use_custom_dark_mode,
#customize-control-use_custom_light_mode {
  padding-top: 8px;
  margin-top: 8px;
  border-top: 2px solid #dcdcde;
}

// =============================================================================
// FICTIONEER METABOXES
// =============================================================================

.fictioneer-metabox {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .hidden {
    display: none !important;
    content-visibility: hidden;
  }

  :is(input, textarea) {
    display: block;
    border-radius: 2px;
    width: 100%;
    resize: vertical;
  }

  label {
    font-weight: 700;
    margin-bottom: 3px;
  }

  code {
    display: inline-block;
    background: rgb(0 0 0 / 7%);
    font-family: Consolas, Monaco, monospace;
    font-size: .75em;
    line-height: inherit;
    word-wrap: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: .125em 3px;
    border-radius: 2px;
    transform: translateY(-1px);
  }
}

// =============================================================================
// FICTIONEER SEO METABOX
// =============================================================================

#fictioneer-search-engine-appearance {
  .inside {
    padding: 0 16px 16px;
  }

  .fictioneer-metabox {
    display: flex;
    justify-content: center;
    gap: 16px 24px;
    flex-wrap: wrap;

    &__left {
      flex: 1 0 280px;
    }

    &__right {
      position: relative;
      flex: 0 1 auto;
      background: var(--fcn-bg-primary);
      padding: 8px;
      border-radius: 2px;

      img {
        display: block;
        border-radius: 2px;
        height: 120px;
        width: 120px;
        object-fit: cover;
      }

      a {
        color: var(--fcn-fg-color);
        line-height: 1;
        text-decoration: none;

        &:focus {
          outline: 0;
          box-shadow: none;
        }

        &:hover {
          filter: brightness(1.2);
        }
      }
    }

    :is(.og-remove, .og-source) {
      position: absolute;
      z-index: 100;
      display: block;
      font-size: 10px;
      line-height: 1;
    }

    .og-remove {
      top: 8px;
      right: 8px;
      background: #cc1818cc;
      border-radius: 0 2px 0 2px;
      padding: 4px 6px;
    }

    .og-source {
      pointer-events: none;
      top: 6px;
      left: 8px;
      background: var(--fcn-bg-primary);
      color: var(--fcn-fg-color);
      border-radius: 2px 0 2px;

      > div {
        display: none;
      }

      &.parent-thumbnail > .parent-thumbnail,
      &.thumbnail > .thumbnail,
      &.default > .default {
        display: block;
        padding: 0 6px 4px 0;
      }
    }

    .og-upload-label {
      user-select: none;
      font-size: 11px;
      text-align: center;
      padding: 6px 0 0;
    }

    .counter {
        color: #999;
        font-weight: 400;
      }

    label {
      display: flex;
      justify-content: space-between;
    }
  }
}

// =============================================================================
// FIXES FOR PLUGINS KNOWN TO THE THEME
// =============================================================================

// Advanced Custom Fields adjustments to better match WordPress default
@import 'acf';

// Cloudinary plugin that messes with unit selectors (2022/07/13)
.components-input-control__container .components-base-control__field select,
:is(.postbox:not([id*="cld-"]), .block-editor-block-inspector) .components-unit-control__select {
  margin: 0 1px !important;
}

// =============================================================================
// ADMIN PANEL PROFILE
// =============================================================================

:is(.oauth-connection, .data-node) {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  :is(i, .icon) {
    padding-right: 3px;
    min-width: 15px;

    &:not(:first-child) {
      padding-left: 4px;
    }
  }
}
