/*
 * @note This file must be ignored by Autoptimize!
 * @link https://gwfh.mranftl.com/fonts
 */

// =============================================================================
// ROBOTO MONO (cyrillic, cyrillic-ext, greek, latin, latin-ext, vietnamese)
// =============================================================================

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  size-adjust: 92%;
  src: url('../fonts/roboto-mono/roboto-mono-v23-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 300;
  size-adjust: 92%;
  src: url('../fonts/roboto-mono/roboto-mono-v23-300italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  size-adjust: 92%;
  src: url('../fonts/roboto-mono/roboto-mono-v23-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  size-adjust: 92%;
  src: url('../fonts/roboto-mono/roboto-mono-v23-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  size-adjust: 92%;
  src: url('../fonts/roboto-mono/roboto-mono-v23-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 500;
  size-adjust: 92%;
  src: url('../fonts/roboto-mono/roboto-mono-v23-500italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  size-adjust: 92%;
  src: url('../fonts/roboto-mono/roboto-mono-v23-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 600;
  size-adjust: 92%;
  src: url('../fonts/roboto-mono/roboto-mono-v23-600italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  size-adjust: 92%;
  src: url('../fonts/roboto-mono/roboto-mono-v23-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 700;
  size-adjust: 92%;
  src: url('../fonts/roboto-mono/roboto-mono-v23-700italic.woff2') format('woff2');
}
