/*
 * @note This file must be ignored by Autoptimize!
 * @link https://gwfh.mranftl.com/fonts
 */

// =============================================================================
// ROBOTO SERIF (cyrillic, cyrillic-ext, latin, latin-ext, vietnamese)
// =============================================================================

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 300;
  size-adjust: 95%;
  src: url('../fonts/roboto-serif/roboto-serif-v13-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 300;
  size-adjust: 95%;
  src: url('../fonts/roboto-serif/roboto-serif-v13-300italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  size-adjust: 95%;
  src: url('../fonts/roboto-serif/roboto-serif-v13-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 400;
  size-adjust: 95%;
  src: url('../fonts/roboto-serif/roboto-serif-v13-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 500;
  size-adjust: 95%;
  src: url('../fonts/roboto-serif/roboto-serif-v13-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 500;
  size-adjust: 95%;
  src: url('../fonts/roboto-serif/roboto-serif-v13-500italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 600;
  size-adjust: 95%;
  src: url('../fonts/roboto-serif/roboto-serif-v13-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 600;
  size-adjust: 95%;
  src: url('../fonts/roboto-serif/roboto-serif-v13-600italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  size-adjust: 95%;
  src: url('../fonts/roboto-serif/roboto-serif-v13-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 700;
  size-adjust: 95%;
  src: url('../fonts/roboto-serif/roboto-serif-v13-700italic.woff2') format('woff2');
}
