.breadcrumbs {
  flex: 1 1 100%;
  color: var(--fg-700); // Done
  text-align: center;
  line-height: 1.4;

  @include bp(tablet) {
    text-align: left;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      &::after {
        content: var(--breadcrumb-divider, '/');
        display: inline-block;
        margin: 0 .4rem;
      }
    }

    :where(i, .icon) {
      font-size: .85em;
      transform: translateY(-0.1em);
    }
  }
}
