.follows-alert-number {
  &._new {
    position: relative;
    color: var(--navigation-new-follow-background) !important;

    :is(i, .icon) {
      color: var(--navigation-new-follow-background) !important;
    }

    &::after {
      content: attr(data-new-count);
      position: absolute;
      top: 9px;
      right: 0;
      display: grid;
      place-content: center;
      background: var(--navigation-new-follow-background);
      color: var(--navigation-new-follow-color);
      font-size: 8px;
      font-weight: var(--font-weight-strong);
      line-height: 1;
      padding: 2px;
      border-radius: 50%;
      height: 12px;
      min-width: 12px;
    }
  }
}

.follow-menu-item {
  &:not(._new, ._loaded),
  &:not(:hover) {
    .follow-menu-item__read {
      opacity: 0;
    }
  }

  &__read {
    pointer-events: none;
    position: absolute;
    bottom: 3px;
    left: 50%;
    font-size: 7px;
    line-height: 1;
    text-transform: uppercase;
    transform: translate(-50%);
    transition: opacity .1s;
  }
}

// General
.follow-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}

.follow-title-link {
  grid-area: 1 / 1 / 2 / 2;
  font-weight: var(--font-weight-medium);

  @supports selector(:has(:focus-visible)) {
    &:focus-visible {
      outline: none;
    }
  }
}

.follow-meta {
  grid-area: 2 / 1 / 3 / 3;
  font-family: var(--ff-note);
}

.follow-placeholder {
  font-family: var(--ff-note);
}

.follow-marker {
  pointer-events: none;
  grid-area: 1 / 2 / 3 / 3;
  color: var(--navigation-new-follow-background);
  text-shadow: none;
}

// Desktop
.follow-notifications {
  right: -107px;
  background: var(--navigation-submenu-background);
  width: 320px;
  overflow: hidden;

  &__scroll {
    max-height: 200px; // Ensures cut-off to indicate scroll option
    overflow: hidden scroll;
    scrollbar-width: none; // FF

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .follow-item {
    --focus-offset: -2px;

    &:not(:last-child) {
      border-bottom: var(--navigation-subitem-divider);
    }

    &:not(._new) {
      .follow-marker {
        display: none;
        content-visibility: hidden;
      }
    }
  }

  .follow-wrapper {
    background: var(--navigation-submenu-background);
    font-size: var(--fs-xs);
    padding: .35rem .75rem .45rem;

    &:hover {
      background: var(--navigation-subitem-background-hover);
    }
  }

  :is(.follow-placeholder, .follow-meta) {
    color: var(--follow-meta-color, var(--fg-700));
    font-family: var(--ff-note);
  }

  .follow-title-link {
    --focus-outline: none;
    color: var(--follow-title-link-color, var(--fg-400));

    &:hover {
      color: var(--follow-title-link-color-hover, var(--fg-200));
    }
  }

  .follow-meta {
    font-size: var(--fs-xxs);
  }

  .follow-marker {
    display: grid;
    place-content: center;
    font-size: var(--fs-m);
    padding-left: .75rem;
  }
}

// Mobile
.mobile-follow-notifications {
  font-size: 13px;

  .follow-item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:not(._new) {
      .follow-marker {
        display: none;
        content-visibility: hidden;
      }
    }
  }

  .follow-meta {
    color: var(--fg-700);
    font-size: 11px;
  }

  .follow-marker {
    font-size: 15px;
    line-height: 1.4;
    padding: 0 5px 0 12px;
  }
}
