.footer {
  --layout-link-color-hover: var(--footer-link-color-hover, var(--fg-300));
  position: relative;
  color: var(--fg-700);
  font-size: 12px;
  text-align: center;
  width: 100%;

  &__wrapper {
    padding: 0 16px;
    margin: 32px auto 16px;
    min-height: 24px;
    max-width: var(--site-width);
  }

  &__split-row {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: 8px;
    width: 100%;

    &:not(:first-child) {
      margin-top: 8px;
    }

    @include bp(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__menu {
    &-list {
      &-item {
        display: inline-block;

        &:not(:last-child) {
          &::after {
            content: var(--footer-menu-divider, "\2002\2022\2002");
          }
        }
      }
    }
  }

  &__copyright {
    font-weight: 300;
    letter-spacing: 0;
    -webkit-font-smoothing: auto;
  }
}
