.header {
  position: relative;
  height: var(--layout-site-header-height);
  width: 100%;
  contain: style layout size; // Improves performance

  &__content {
    height: 100%;
    margin: 0 auto;
    max-width: var(--site-width);
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    filter: var(--layout-site-logo-filter);
    content-visibility: auto;

    :is(a, img) {
      display: block;
    }

    img {
      height: var(--layout-site-logo-height);
      max-height: calc(var(--layout-site-header-height) - 2rem);
      width: fit-content;
      object-fit: contain;
    }
  }

  &__title {
    position: relative;
    top: 40%;
    text-shadow: var(--site-title-text-shadow);
    padding: 16px var(--layout-spacing-horizontal);
    transform: translateY(-50%);
    content-visibility: auto;

    &-heading {
      font: 700 var(--site-title-font-size)/1.3 var(--site-title-font);
      letter-spacing: 0;

      a {
        color: var(--site-title-heading-color);
      }
    }

    &-tagline {
      color: var(--site-title-tagline-color);
      font: 400 var(--site-title-tagline-font-size)/1.3 var(--ff-heading);
      letter-spacing: 0;
      margin-top: .5rem;
    }
  }
}

.header-background {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--layout-header-background-height);
  width: 100%;
  filter: var(--layout-header-background-filter);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  content-visibility: auto;
  contain: content; // Improve performance

  @include bp(640px) {
    box-shadow: var(--layout-header-background-box-shadow);
  }

  &__wrapper {
    height: 100%;
    background: var(--e-body);
    overflow: hidden;
    transform: translateZ(0); // Safari fix
  }

  &__image {
    pointer-events: none;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    contain: layout paint; // Improves performance
  }
}

:root.inset-header-image .header-background {
  left: 50%;
  right: unset;
  width: 100%;
  transform: translate3d(-50%, 0, 0);

  @include bp(desktop) {
    border-radius: var(--layout-border-radius-large);
    width: calc(var(--site-width) * 1.5);
    max-width: min(calc(100vw - 2rem), 1980px);
  }

  &__wrapper {
    @include bp(desktop) {
      border-radius: var(--layout-border-radius-large);
    }
  }
}
