.icon-menu {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    color: var(--navigation-actions-text);
    font-size: inherit;
    padding: 0 10px;
    height: var(--navigation-height);

    &:hover {
      color: var(--fg-200);
    }
  }

  &__menu {
    position: relative;

    &:hover,
    &:focus-within {
      .follow-menu-item {
        &:not(._loaded) {
          .fa-spinner {
            display: block;
            content-visibility: visible;
          }

          .icon._fa-bell {
            display: none;
            content-visibility: hidden;
          }
        }
      }
    }
  }

  .user-profile-image {
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    box-shadow: 0 0 1px black;
  }

  .icon._user {
    transform: translate(0, 0) scale(1.725);
  }

  .follow-menu-item {
    padding: 0 8px;
    min-width: 34px;

    > :is(i, .icon) {
      margin: 0 auto;
    }

    .fa-spinner {
      display: none;
      content-visibility: hidden;
    }
  }
}

.main-navigation {
  &.is-sticky {
    :is(.icon-menu__item, .icon-menu__item.follow-menu-item) {
      border-radius: 0;
    }
  }

  .icon-menu {
    display: none;
    content-visibility: hidden;

    @include bp(desktop) {
      display: flex;
      content-visibility: visible;
    }

    &__item {
      cursor: pointer;
      text-shadow: inherit;
      border-radius: var(--layout-border-radius-small);
      transition: background-color .1s;

      &._with-submenu {
        border-radius: var(--layout-border-radius-small) var(--layout-border-radius-small) 0 0;
      }

      &:hover {
        color: var(--navigation-actions-text-hover);
        background: var(--navigation-item-active-background);
      }
    }

    &__menu {
      &:hover {
        > :first-child {
          background: var(--navigation-item-active-submenu-background);
        }
      }

      &:not(:hover) {
        .sub-menu {
          pointer-events: none;
          opacity: 0;
          content-visibility: hidden;
        }
      }
    }
  }
}

.user-is-tabbing {
  .main-navigation {
    .icon-menu {
      &__item {
        &:focus-visible {
          color: var(--navigation-actions-text-hover);
          background: var(--navigation-item-active-background);
        }
      }

      &__menu {
        &:focus-within {
          > :first-child {
            background: var(--navigation-item-active-submenu-background);
          }

          > .sub-menu {
            pointer-events: initial;
            opacity: 1;
            content-visibility: visible;
          }
        }
      }
    }
  }
}

.mobile-menu {
  .icon-menu {
    .sub-menu {
      display: none;
      content-visibility: hidden;
    }
  }
}
