.icon-menu {
  display: flex;

  .menu-item {
    :is(a, label, button):not(._no-menu-item-style) {
      display: flex;
      align-items: center;
      color: var(--navigation-color);
      font-size: inherit;
      letter-spacing: 0;
      padding: 0 10px;
      height: var(--navigation-height);
    }

    &:hover,
    &:focus-within {
      .follow-menu-item {
        &:not(._loaded) {
          .fa-spinner {
            display: block;
            content-visibility: visible;
          }

          .icon._fa-bell {
            display: none;
            content-visibility: hidden;
          }
        }
      }
    }
  }

  > .menu-item {
    @include bp(desktop) {
      border-radius: var(--layout-border-radius-small);
    }

    &.menu-item-has-children {
      @include bp(desktop) {
        border-radius: var(--layout-border-radius-small) var(--layout-border-radius-small) 0 0;
      }
    }
  }

  .user-profile-image {
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    box-shadow: 0 0 1px black;
  }

  .icon._user {
    transform: translate(0, 0) scale(1.725);
  }

  .follow-menu-item {
    padding: 0 8px;
    min-width: 34px;

    > :is(i, .icon) {
      margin: 0 auto;
    }

    .fa-spinner {
      display: none;
      content-visibility: hidden;
    }
  }
}

.main-navigation {
  &.is-sticky {
    :is(.icon-menu__item, .icon-menu__item.follow-menu-item) {
      border-radius: 0;
    }
  }

  .icon-menu {
    display: none;
    content-visibility: hidden;

    @include bp(desktop) {
      display: flex;
      content-visibility: visible;
    }
  }
}

.user-is-tabbing {
  .main-navigation {
    .icon-menu {
      &__item {
        &:focus-visible {
          color: var(--navigation-color-hover);
          background: var(--navigation-item-background-hover);
        }
      }

      &__menu {
        &:focus-within {
          > :first-child {
            background: var(--navigation-submenu-background);
          }

          > .sub-menu {
            pointer-events: initial;
            opacity: 1;
            content-visibility: visible;
            transform: scale(1);
          }
        }
      }
    }
  }
}

.mobile-menu {
  .icon-menu {
    .sub-menu {
      display: none;
      content-visibility: hidden;
    }
  }
}
