:is(body:not(.scrolling-up), body:not(.is-inside-main), .is-end-of-chapter, .mobile-menu-open) {
  .micro-menu {
    pointer-events: none;
    opacity: 0;
  }
}

.tts-open {
  .micro-menu {
    bottom: 76px;
  }
}

.micro-menu {
  --size: 40px;
  position: fixed;
  left: 50%;
  bottom: 12px;
  z-index: 10;
  display: flex;
  gap: get_clamp(0, 3, 375, 768);
  transform: translate3d(calc(-1 * min(var(--site-width), 100vw) / 2 + 12px), 0, 0);
  transition: opacity var(--transition-duration);

  @include bp(desktop) {
    --size: 32px;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    background: var(--micro-menu-background);
    border-radius: 2px;
    box-shadow: var(--micro-menu-box-shadow);
  }

  &__item {
    cursor: pointer;
    display: grid;
    place-content: center;
    background: none;
    color: var(--micro-menu-color);
    font-size: 16px;
    line-height: 1;
    border: none;
    height: var(--size);
    width: var(--size);
    box-shadow: none;

    &:hover {
      background: inherit;
      color: var(--micro-menu-color-hover);
    }
  }

  &__item:is(.previous, .next, .up) {
    font-size: 24px;
  }
}
