:root.minimal {
  --layout-spacing-horizontal-minimal: 10px;
  --layout-spacing-vertical-minimal: 10px;

  @include bp(375px) {
    --layout-spacing-horizontal-minimal: 20px;
    --layout-spacing-vertical-minimal: 20px;
  }

  @include bp(phablet) {
    --layout-spacing-horizontal-minimal: 32px;
  }

  @include bp(tablet) {
    --layout-spacing-horizontal-minimal: 48px;
    --layout-spacing-vertical-minimal: 32px;
  }

  @include bp(desktop) {
    --layout-spacing-horizontal-minimal: 80px;
    --layout-spacing-vertical-minimal: 48px;
  }

  .custom-background {
    background-image: none;
  }

  &.header-style-split .header {
    display: none;
    content-visibility: hidden;
  }

  :is(.showcase__list-item, .story__thumbnail-image) {
    box-shadow: none;
  }

  @include bp(640px) {
    .story__article-bottom {
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  .site {
    background-image: none;
  }

  .header-background {
    left: 0;
    box-shadow: none;
    filter: none;
    max-width: unset;
    transform: none;
  }

  .card {
    &__link-list-item {
      padding-left: .35em;
    }
  }

  [data-view=list] .chapter-group__list-item-link {
    grid-area: 1 / 1 / 2 / 3;
    padding-left: 8px;
  }

  [data-view=list] .chapter-group__list-item-subrow {
    grid-area: 2 / 1 / 3 / 3;
    padding-left: 8px;
  }

  .chapter-group__list-item-icon {
    display: none;
  }

  .story__blog-list-item {
    padding: .5rem 8px;
  }

  :is(.progress, .header-background__wrapper) {
    display: none;
    content-visibility: hidden;
  }

  :is(.polygon, .litrpg-frame) {
    clip-path: none !important;
  }

  .litrpg-box {
    filter: none;
  }

  .litrpg-frame {
    border-radius: var(--layout-border-radius-large);
  }

  .story .checkmark {
    text-shadow: none;
  }

  .padding-left {
    padding-left: var(--layout-spacing-horizontal-minimal);
  }

  .padding-right {
    padding-right: var(--layout-spacing-horizontal-minimal);
  }

  .padding-top {
    padding-top: var(--layout-spacing-vertical-minimal);
  }

  .padding-bottom {
    padding-bottom: var(--layout-spacing-vertical-minimal);
  }
}
