:root.minimal {
  body {
    --text-shadow: none;
    --mobile-menu-text-shadow: none;
    --container-drop-shadow: none;
    --paragraph-tools-filter: none;
    --content-li-background: var(--content-li-background-full);
    --story-blog-li-background: var(--content-li-background-full);
    --chapter-li-background: var(--content-li-background-full);
    --card-content-li-background: var(--card-content-li-background-full);
    --embed-box-shadow: var(--minimal-container-box-shadow);

    // --box-shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 10%);
    // --box-shadow-s: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 1px 2px -1px rgb(0 0 0 / 10%);
    // --box-shadow: 0 3px 6px -1px rgb(0 0 0 / 9%), 0 -1px 4px -2px rgb(0 0 0 / 10%);
    // --box-shadow-m: rgb(0 0 0 / 15%) 0px 2px 5px 0px, rgb(0 0 0 / 5%) 0px 1px 1px 0px;
    // --box-shadow-l: rgb(0 0 0 / 10%) 0px 6px 12px -2px, rgb(0 0 0 / 15%) 0px 3px 7px -3px;
    // --box-shadow-xl: 0 3px 8px -1px rgb(0 0 0 / 9%), 0 3px 12px -1px rgb(0 0 0 / 17%);

    // --drop-shadow-xs: drop-shadow(0 1px 2px rgb(0 0 0 / 10%));
    // --drop-shadow-s: drop-shadow(0 1px 3px rgb(0 0 0 / 12%)) drop-shadow(0 1px 2px rgb(0 0 0 / 10%));
    // --drop-shadow: drop-shadow(0 2px 6px rgb(0 0 0 / 9%)) drop-shadow(0 -1px 3px rgb(0 0 0 / 10%));
    // --drop-shadow-m: drop-shadow(0 2px 5px rgb(0 0 0 / 15%)) drop-shadow(0 1px 1px rgb(0 0 0 / 5%));
    // --drop-shadow-l: drop-shadow(0 5px 11px rgb(0 0 0 / 10%)) drop-shadow(0 2px 6px rgb(0 0 0 / 15%));
    // --drop-shadow-xl: drop-shadow(0 3px 8px rgb(0 0 0 / 9%)) drop-shadow(0 3px 12px rgb(0 0 0 / 17%));
  }

  .custom-background {
    background-image: none;
  }

  &.header-style-split .header {
    display: none;
    content-visibility: hidden;
  }

  :is(.card, .showcase__list-item, .story__thumbnail-image, .modal__wrapper, .cookies__list, .litrpg-frame) {
    box-shadow: var(--minimal-container-box-shadow);
  }

  &:not(:fullscreen, :-webkit-full-screen) .main__background {
    box-shadow: var(--minimal-main-box-shadow);
  }

  @include bp(640px) {
    .story__article-bottom {
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  .site {
    background-image: none;
  }

  .header-background {
    left: 0;
    box-shadow: none;
    filter: none;
    max-width: unset;
    transform: none;
  }

  :is(.progress, .header-background__wrapper) {
    display: none;
    content-visibility: hidden;
  }

  :is(.polygon, .litrpg-frame) {
    clip-path: none !important;
  }

  .litrpg-box {
    filter: none;
  }

  .litrpg-frame {
    border-radius: var(--layout-border-radius-large);
  }

  .story .checkmark {
    text-shadow: none;
  }

  .padding-left {
    padding-left: 10px;

    @include bp(375px) {
      padding-left: 20px;
    }

    @include bp(phablet) {
      padding-left: 32px;
    }

    @include bp(tablet) {
      padding-left: 48px;
    }

    @include bp(desktop) {
      padding-left: 80px;
    }
  }

  .padding-right {
    padding-right: 10px;

    @include bp(375px) {
      padding-right: 20px;
    }

    @include bp(phablet) {
      padding-right: 32px;
    }

    @include bp(tablet) {
      padding-right: 48px;
    }

    @include bp(desktop) {
      padding-right: 80px;
    }
  }

  .padding-top {
    padding-top: 10px;

    @include bp(375px) {
      padding-top: 20px;
    }

    @include bp(tablet) {
      padding-top: 32px;
    }

    @include bp(desktop) {
      padding-top: 48px;
    }
  }

  .padding-bottom {
    padding-bottom: 10px;

    @include bp(375px) {
      padding-bottom: 20px;
    }

    @include bp(tablet) {
      padding-bottom: 32px;
    }

    @include bp(desktop) {
      padding-bottom: 48px;
    }
  }
}
