:root.minimal {
  body {
    --text-shadow: none;
    --mobile-menu-text-shadow: none;
    --floating-shadow: none;
    --container-drop-shadow: none;
    --figure-drop-shadow: none;
    --paragraph-tools-filter: none;
    --content-list-item-background: var(--content-list-item-background-full);
    --embed-box-shadow: var(--minimal-container-box-shadow);
  }

  .custom-background {
    background-image: none;
  }

  &.header-style-split .header {
    display: none;
    content-visibility: hidden;
  }

  :is(.card, .showcase__list-item, .story__thumbnail-image, .modal__wrapper, .cookies__list, .litrpg-frame) {
    box-shadow: var(--minimal-container-box-shadow);
  }

  &:not(:fullscreen, :-webkit-full-screen) .main__background {
    box-shadow: var(--minimal-main-box-shadow);
  }

  @include bp(640px) {
    .story__article-bottom {
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  .site {
    background-image: none;
  }

  .header-background {
    left: 0;
    box-shadow: none;
    filter: none;
    max-width: unset;
    transform: none;
  }

  :is(.progress, .header-background__wrapper) {
    display: none;
    content-visibility: hidden;
  }

  :is(.polygon, .litrpg-frame) {
    clip-path: none !important;
  }

  .litrpg-box {
    filter: none;
  }

  .litrpg-frame {
    border-radius: var(--layout-border-radius-large);
  }

  .story .checkmark {
    text-shadow: none;
  }

  .padding-left {
    padding-left: 10px;

    @include bp(375px) {
      padding-left: 20px;
    }

    @include bp(phablet) {
      padding-left: 32px;
    }

    @include bp(tablet) {
      padding-left: 48px;
    }

    @include bp(desktop) {
      padding-left: 80px;
    }
  }

  .padding-right {
    padding-right: 10px;

    @include bp(375px) {
      padding-right: 20px;
    }

    @include bp(phablet) {
      padding-right: 32px;
    }

    @include bp(tablet) {
      padding-right: 48px;
    }

    @include bp(desktop) {
      padding-right: 80px;
    }
  }

  .padding-top {
    padding-top: 10px;

    @include bp(375px) {
      padding-top: 20px;
    }

    @include bp(tablet) {
      padding-top: 32px;
    }

    @include bp(desktop) {
      padding-top: 48px;
    }
  }

  .padding-bottom {
    padding-bottom: 10px;

    @include bp(375px) {
      padding-bottom: 20px;
    }

    @include bp(tablet) {
      padding-bottom: 32px;
    }

    @include bp(desktop) {
      padding-bottom: 48px;
    }
  }
}
