$max-mobile-menu-width: 320px;

.transformed-scroll {
  height: 200vh; // Fallback
  height: 200dvh;
  overflow: hidden auto;
  scrollbar-width: none; // FF

  &::-webkit-scrollbar {
    width: 0;
  }

  @include bp(640px) {
    height: 134vh; // Fallback
    height: 134dvh;
  }
}

.transformed-site {
  cursor: pointer;
  user-select: none;
  position: fixed;
  top: 0;
  max-width: min(var(--site-width), 100%) !important;
  transform: translate3d(min(75vw, #{$max-mobile-menu-width}), 0, 0) scale(.5);

  @include bp(640px) {
    transform: translate3d(min(75vw, #{$max-mobile-menu-width}), 0, 0) scale(.75);
  }

  > :is(nav, header, main, footer, div) {
    pointer-events: none;
  }

  .progress {
    display: none;
    content-visibility: hidden;
  }
}

body:not(.mobile-menu-open) {
  .mobile-menu-button {
    .on {
      display: none;
    }
  }
}

#site {
  &::before {
    content: '';
    position: fixed;
    inset: 0 100% -128px 0;
    z-index: 100000; // Above adminbar
    display: block;
    background: var(--mobile-menu-overlay);
    opacity: 0;
    transition: opacity 0.3s, right 0s;
    transition-delay: 0s, 0.3s; // Delay instant movement of overlay until fade is done
  }
}

.mobile-menu-open {
  :is(.mobile-menu, .mobile-menu.advanced-mobile-menu) {
    left: 0;
    display: flex;
    content-visibility: visible;
    opacity: 1;
  }

  &.advanced-mobile-menu {
    overflow: hidden;

    #wpadminbar {
      opacity: 0;
    }

    #site {
      > :is(nav, header, main, footer, div) {
        pointer-events: none;
      }
    }
  }

  &:not(.advanced-mobile-menu) {
    #site {
      &::before {
        inset: 0 0 -128px;
        opacity: 1;
        transition: opacity 0.3s; // Override transition of overlay position
      }
    }
  }

  .mobile-menu-button {
    .off {
      display: none;
    }

    > .icon {
      width: 0.9em;
    }
  }

  #wpadminbar {
    pointer-events: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: -128px;
  z-index: 100001; // Above adminbar
  flex-direction: column;
  background-color: var(--mobile-menu-background);
  font-size: 15px;
  line-height: 1.66; // ~ 25px @ 15px
  text-shadow: var(--mobile-menu-text-shadow, var(--text-shadow));
  padding: 16px 16px 144px;
  width: 100%;
  max-width: min(75vw, #{$max-mobile-menu-width});
  overflow: auto;
  box-shadow: var(--mobile-menu-box-shadow);
  opacity: 0;
  transition: left 0.3s, opacity 0.3s;

  @media (hover: hover) and (pointer: fine) {
    scrollbar-width: none; // FF

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &._advanced-mobile-menu {
    display: none;
    content-visibility: hidden;
    background: var(--mobile-menu-advanced-background);
    opacity: 1;
    box-shadow: var(--mobile-advanced-menu-site-box-shadow);
    transition: none;
  }

  .icon-menu {
    flex-wrap: wrap;
    margin: -12px 0 0 -8px;

    .menu-item :is(a, label, button) {
      font-size: 16px;
      padding: 10px;
    }
  }

  .current-menu-item {
    > a {
      color: var(--fg-300);
      font-weight: var(--font-weight-strong);
    }
  }

  .mobile-content-is-loading {
    color: var(--fg-700);
    text-align: center;
    overflow: hidden;
  }

  &__center {
    flex-grow: 1;
    padding: 0 0 16px;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .button {
      flex-grow: 1;
    }
  }

  &__frame {
    position: relative;
    display: grid;

    &:not(._active) {
      display: none;
      content-visibility: hidden;
    }
  }

  &__panel-action-button {
    font-size: 13px;
    text-align: right;
    min-width: 32px;

    .fa-check {
      font-size: 16px;
    }
  }

  &__item-icon {
    display: inline-block;
    color: var(--fg-600);
    font-size: 13px;
    text-align: center;
    margin: 0 6px 0 -2px;
    min-width: 18px;

    &[class*=fa-caret] {
      font-size: 15px;
      text-align: left;
      padding-left: 3px;
    }
  }

  &__panel {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 12px;
    padding: 16px 0;
    max-width: min(calc(75vw - 32px), #{$max-mobile-menu-width - 32px});

    &:not(:last-child) {
      border-bottom: var(--mobile-menu-panel-border, var(--layout-hr-border));
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 8px;
      border-bottom: var(--mobile-menu-panel-header-border, var(--layout-hr-border-dashed));
    }

    .icon._font-settings {
      display: inline-block;
      transform: translateY(-1px);
    }
  }

  &__list {
    font-size: 13px;
    margin-top: -3px; // Offset list item padding

    li {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 3px 0;
      width: calc(100% + 2px);
      transform: translate(-2px);

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    &._chapters {
      :is(i, .icon, .text-icon) {
        display: inline-block;
        color: var(--fg-600);
        font-size: 13px;
        text-align: center;
        margin: 0 6px 0 -2px;
        min-width: 22px;
      }

      .text-icon {
        height: auto;
      }
    }
  }

  .follows-alert-number {
    &._new {
      &::after {
        position: relative;
        top: -6px;
        right: -2px;
        display: inline-flex;
      }
    }
  }

  .mobile-navigation {
    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }

      > a {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
      }
    }

    .sub-menu {
      margin-top: 12px;
    }
  }

  &__bookmark {
    &-progress {
      padding: 1px 0 0 24px;

      > div {
        background: var(--mobile-menu-bookmark-progress-background);

        > div {
          height: 3px;
        }
      }
    }

    i {
      transform: translateY(3px);
    }

    :is(i, button) {
      text-align: center;
      width: 20px;
    }
  }

  &__bookmark .mobile-menu__bookmark-bg {
    background: var(--bookmark-color-alpha);
    opacity: var(--bookmark-progress-mobile-opacity);
  }

  &__bookmark[data-color=beta] .mobile-menu__bookmark-bg {
    background: var(--bookmark-color-beta);
  }

  &__bookmark[data-color=gamma] .mobile-menu__bookmark-bg {
    background: var(--bookmark-color-gamma);
  }

  &__bookmark[data-color=delta] .mobile-menu__bookmark-bg {
    background: var(--bookmark-color-delta);
  }

  .not-in-mobile-menu {
    > a {
      display: none !important;
      content-visibility: hidden;
    }

    > ul.sub-menu {
      margin-top: 0;
    }
  }

  .current-chapter {
    position: relative;
    background: var(--mobile-menu-current-chapter-background);
    color: var(--mobile-menu-current-chapter-color);
    border-radius: var(--layout-border-radius-small);
    width: calc(100% + 4px);

    > a > span {
      &:not(:first-child)::before {
        left: 24px; // Leave space for icon if any
      }
    }
  }

  .mark-follows-read {
    color: currentColor;

    &:not(._new) {
      display: none;
    }
  }

  a[target=_blank] {
    &::after {
      content: unicode("f0d8");
      display: inline-block;
      color: var(--fg-800);
      font-family: 'Font Awesome 6 Free';
      font-size: 75%;
      font-weight: 900;
      transform: translate(3px, -7px) rotate(45deg);
    }
  }
}

.mobile-menu__bookmarks-panel {
  &[data-editing="true"] {
    :is(.off, .fa-bookmark) {
      display: none;
    }

    a {
      pointer-events: none;
    }
  }

  &:not([data-editing="true"]) {
    :is(.mobile-menu-bookmark-delete-button, .on) {
      display: none;
    }
  }
}
