.nav-observer {
  top: calc(-1px + var(--nav-observer-offset, 0px));
}

// Observer must account for large admin bar
@include bp(601px) {
  .admin-bar:not(.mobile-menu-open) {
    .main-navigation {
      top: calc(45.9px - var(--nav-observer-offset, 0px));
    }

    .nav-observer {
      top: calc(-47px + var(--nav-observer-offset, 0px));
    }
  }
}

// Observer must account for small admin bar
@include bp(783px) {
  .admin-bar:not(.mobile-menu-open) {
    .main-navigation {
      top: calc(31.9px - var(--nav-observer-offset, 0px));
    }

    .nav-observer {
      top: calc(-33px + var(--nav-observer-offset, 0px));
    }
  }
}

// Float in from top
:root:not(.no-nav-sticky) .scrolling-up.is-inside-main {
  .main-navigation {
    transform: translate3d(0, 0, 0);
  }
}

// Float out to top
:root:not(.no-nav-sticky) .scrolling-down.is-inside-main {
  .main-navigation:not(:hover, :focus-within) {
    transform: translate3d(0, -115%, 0); // Accounts for shadow
  }
}

// Case above or equal to 1024px
:root:not(.no-nav-sticky) body:not(.scrolled-to-top) .main-navigation.is-sticky {
  .main-navigation__background {
    opacity: var(--navigation-background-end-opacity);
  }
}

// Case below 1024px
:root:not(.no-nav-sticky, .header-style-overlay, .header-style-wide) .main-navigation.is-sticky {
  .main-navigation__background {
    @media only screen and (max-width: 1023px) {
      opacity: var(--navigation-background-end-opacity);
    }
  }
}

:root:not(.no-nav-sticky) body:not(.scrolled-to-top) .main-navigation.is-sticky:not(._oversized-navigation) :where(.main-navigation__list, .icon-menu) > :is(.menu-item, .page_item) {
  border-radius: 0;
}

// Extra spacing if header image is missing
:is(.header-style-top, .header-style-none) .main-navigation {
  @include bp(640px) {
    margin-bottom: 1.5rem;
  }
}

// Overlay nav
.header-style-overlay {
  --navigation-height: 48px;
  --navigation-background-start-opacity: 1;

  .main-navigation {
    margin: 0 0 calc(-1 * var(--navigation-height));

    &:not(._oversized-navigation) :where(.main-navigation__list, .icon-menu) > :is(.menu-item, .page_item) {
      border-radius: 0;
    }

    &__background {
      transition: opacity .3s;
    }
  }
}

:root:is(:fullscreen, :-webkit-full-screen).header-style-overlay {
  .main-navigation {
    margin: 0;
  }
}

:root:not(.no-nav-sticky) .site .main-navigation.is-sticky {
  position: sticky;
}

.main-navigation {
  --focus-offset: -2px;
  top: calc(-0.1px - var(--nav-observer-offset, 0px)); // -0.1px to prevent hairline gaps
  z-index: 1000;
  color: var(--navigation-color);
  font-size: var(--navigation-font-size);
  font-weight: var(--font-weight-navigation);
  padding: 0;
  margin: 12px 0;
  width: 100%;
  transform: translateZ(0); // Improve performance
  transition: transform var(--transition-duration);
  contain: layout style; // Improve performance

  &__background {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    background: var(--navigation-background);
    box-shadow: 0 0 1px transparent; // Safari fix to show drop-shadow
    opacity: var(--navigation-background-start-opacity);
    filter: var(--navigation-drop-shadow);
    contain: strict; // Improve performance
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--site-width);
  }

  &__left {
    flex-grow: 0;
    min-height: var(--navigation-height);
    max-width: calc(100% - 48px);
    overflow: hidden;

    @include bp(desktop) {
      flex-grow: 1;
      overflow: visible;
    }
  }

  // Customizer: Collapse mobile navigation
  &._collapse-on-mobile {
    .main-navigation__left {
      display: none;
      content-visibility: hidden;

      @include bp(640px) {
        display: block;
        content-visibility: visible;
      }
    }

    &:not(._wide) .mobile-menu-button {
      &__label {
        display: block;

        @include bp(640px) {
          display: none;
        }
      }
    }
  }

  // Customizer: Wide header
  &._wide {
    @media only screen and (max-width: 1023px) {
      :is(.main-navigation__left, .main-navigation__right) {
        display: none;
        content-visibility: visible;
      }
    }
  }

  &__right {
    flex-shrink: 0;
  }

  &__list {
    position: relative;
    display: flex;
    max-width: 100%;
    overflow: scroll hidden;
    scrollbar-width: none; // FF

    @include bp(desktop) {
      flex-wrap: wrap;
      overflow: visible;
    }

    &::-webkit-scrollbar {
      display: none;
      height: 0;
      width: 0;
    }

    > :is(.menu-item, .page_item) {
      @include bp(desktop) {
        border-radius: var(--layout-border-radius-small);
      }

      &.menu-item-has-children {
        @include bp(desktop) {
          border-radius: var(--layout-border-radius-small) var(--layout-border-radius-small) 0 0;
        }
      }
    }
  }
}

:is(.main-navigation, .icon-menu) {
  .menu-item {
    position: relative;
    height: fit-content;
    transition: background-color .1s;

    &:not(:hover) {
      .sub-menu {
        pointer-events: none;
        opacity: 0;
        transform: scale(1, 0);
        content-visibility: hidden;
      }
    }

    &:hover {
      .sub-menu {
        transition-delay: .3s;
      }
    }

    &:hover {
      background: var(--navigation-item-background-hover);
    }

    &.menu-item-has-children:not(.menu-item-icon) {
      @include bp(desktop) {
        > a {
          &::after {
            content: unicode("f078");
            margin: 0 -0.5em 0 .75em;
          }
        }
      }
    }

    :where(a, label):not(._no-menu-item-style) {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: var(--ff-nav-item);
      line-height: 1.2;
      letter-spacing: get_relative_clamp(-0.01, 0, 375, 480, 'vw', 'em');
      white-space: nowrap;
      height: var(--navigation-height);
      padding: 0 1rem;

      &:hover {
        color: var(--navigation-color-hover);
      }
    }
  }

  // Level 2
  .sub-menu {
    position: absolute;
    z-index: 1;
    display: none;
    content-visibility: hidden;
    background: var(--navigation-submenu-background);
    border-radius: 0 0 var(--layout-border-radius-small) var(--layout-border-radius-small);
    min-width: MAX(152px, 100%);
    box-shadow: var(--navigation-submenu-box-shadow);
    transform-origin: top left;
    transition: var(--submenu-transition, opacity .1s, transform .07s);

    @include bp(desktop) {
      display: block;
      content-visibility: visible;
    }

    :where(a, label, button):not(._no-menu-item-style) {
      color: var(--navigation-subitem-color, var(--navigation-color));

      &:hover {
        color: var(--navigation-subitem-color-hover, var(--navigation-color-hover));
      }
    }

    .menu-item {
      &:last-child {
        border-radius: 0 0 var(--layout-border-radius-small) var(--layout-border-radius-small);
      }

      &.menu-item-has-children:first-child {
        border-radius: var(--layout-border-radius-small) var(--layout-border-radius-small) 0 0;
      }

      &.menu-item-has-children {
        > a {
          &::after {
            content: unicode("f054");
          }
        }

        &:hover {
          border-radius: 0 0 var(--layout-border-radius-small) var(--layout-border-radius-small);
        }
      }

      &:hover {
        background: var(--navigation-subitem-background-hover);
      }
    }

    .sub-menu {
      top: 0;
      right: 0;
      transform: translate(100%);

      &:last-child {
        border-radius: 0 0 var(--layout-border-radius-small) var(--layout-border-radius-small);
      }

      .menu-item {
        border-radius: 0;

        &:first-child {
          border-radius: 0 var(--layout-border-radius-small) 0 0;
        }

        &:last-child {
          border-radius: 0 0 var(--layout-border-radius-small) var(--layout-border-radius-small);
        }
      }

      // Level 4
      .sub-menu {
        display: none;
        content-visibility: hidden;

        .menu-item a {
          &.menu-item-has-children {
            a::after {
              content: none;
            }
          }
        }
      }
    }
  }

  .menu-item-has-children > a {
    @include bp(desktop) {
      &::after {
        font-family: 'Font Awesome 6 Free';
        font-size: .75em;
        font-weight: 900;
      }
    }
  }
}

.static-menu-item > a {
  cursor: default;
}

.user-is-tabbing {
  :is(.main-navigation, .icon-menu) {
    :is(.menu-item, .page_item) {
      :where(a, label, button):focus-visible {
        color: var(--navigation-color-hover);
        background: var(--navigation-item-background-hover);
      }

      .sub-menu {
        :where(a, label, button):focus-visible {
          color: var(--navigation-subitem-color-hover, var(--navigation-color-hover));
        }
      }

      &:focus-within {
        background: var(--navigation-item-background-hover);

        > .sub-menu {
          pointer-events: initial;
          opacity: 1;
          content-visibility: visible;
          transform: scale(1);
        }
      }
    }
  }
}

.mobile-menu-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  line-height: 1;
  padding: 0 16px;
  height: var(--navigation-height);

  @include bp(desktop) {
    display: none;
    content-visibility: hidden;
  }

  &__label {
    display: none;
    font-size: 1rem;
    font-weight: var(--font-weight-strong);
    text-transform: uppercase;
  }
}
