.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  grid-column: 1 / -1; // Span all grid columns if any

  .page-numbers {
    --focus-offset: -2px;
    @extend %button;
    background: var(--pagination-background);
    color: var(--pagination-color);
    border-radius: 0;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }

    &:not(.current, [disabled]):hover {
      background: var(--pagination-background-hover);
      color: var(--pagination-color-hover);
    }
  }

  .current {
    cursor: default;
    background: var(--pagination-background-current);
    color: var(--pagination-color-current);
    text-shadow: none;
  }

  &._padding-top {
    &:not(:empty) {
      padding-top: 2rem;
    }
  }

  :is(.prev, .next) {
    .on {
      display: none;
    }

    @include bp(420px) {
      .off {
        display: none;
      }

      .on {
        display: initial;
      }
    }
  }
}
