@use 'common/_functions' as *;
@use 'common/_mixins' as *;
@use 'common/_variables' as *;

:is(.blog-posts, .latest-posts) {
  .post {
    &:not(:first-child) {
      border-top: var(--layout-hr-border);
      padding-top: var(--layout-spacing-vertical);
      margin-top: var(--layout-spacing-vertical);
    }
  }
}

.post {
  &._empty {
    text-align: center;
    color: var(--fg-900);
  }

  &__title {
    .sticky-pin {
      font-size: 0.8em;
      margin-right: 0.125em;
      transform: translateY(-0.05em);
    }

    .protected-icon {
      font-size: 0.75em;
      margin-right: 0.125em;
      transform: translateY(-0.125em);
    }
  }

  &__meta {
    --layout-link-color-hover: var(--post-meta-link-color-hover, var(--fg-300));
    display: flex;
    gap: .5rem 1.5rem;
    flex-wrap: wrap;
    color: var(--fg-800);
    font: var(--font-weight-post-meta) var(--fs-dxs)/1.7 var(--ff-note);
    margin: .75rem 0 1.5rem;

    :is(i, .icon) {
      color: var(--fg-900);
      margin-right: .25rem;
    }
  }

  &__tags {
    margin-top: 2.5rem;
  }

  &__footer {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

    &-box {
      display: flex;
      align-items: flex-start;
      gap: 3px;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__featured {
    clear: both;
    margin: 2.5rem 0;
  }
}
