@use 'common/_functions' as *;
@use 'common/_mixins' as *;
@use 'common/_variables' as *;

@media print {
  * {
    --font-weight-normal: 400;
    --font-weight-semi-strong: 600;
    --font-weight-strong: 600;
    --font-weight-medium: 500;
    --font-weight-heading: 700;
    background: transparent !important;
    color: #000 !important;
    letter-spacing: normal !important;
    text-shadow: none !important;
    box-shadow: none !important;
    overflow: visible !important;

    &::before,
    &::after {
      content: none !important;
    }
  }

  a,
  .spoiler {
    color: currentColor !important;
  }

  .modal-tooltip {
    text-decoration: none !important;
  }

  article {
    padding: 0 !important;
  }

  .chapter__headline,
  .main__wrapper {
    padding-top: 0 !important;
  }

  .main__background {
    border: none !important;
  }

  .header,
  .top-header,
  .footer,
  .main-navigation,
  .navigation,
  .header-background,
  .chapter-note-hideable,
  .chapter__actions,
  .chapter__suggestion,
  .chapter__comments,
  .chapter__support,
  .wp-block-embed,
  .wp-block-video,
  .wp-block-audio,
  .wp-block-file-wrapper,
  .micro-menu,
  .paragraph-tools,
  .lightbox,
  .fictioneer-sidebar {
    display: none !important;
    content-visibility: hidden;
  }
}
