@use 'common/_functions' as *;
@use 'common/_mixins' as *;
@use 'common/_variables' as *;

.profile {
  &__segment {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  &__description {
    font-size: var(--fs-xs);
  }

  &__input {
    &-group {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &-wrapper {
      position: relative;

      &._checkbox {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        flex: 0 0 auto;
        font-size: var(--fs-xs);
        line-height: 1.3;

        input[type=checkbox] {
          transform: translateY(1px);
        }
      }

      &._checkmark input:not([type="checkbox"], [type="radio"]) {
        padding-right: 32px;
      }

      .checkmark {
        pointer-events: none;
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 1;
        color: var(--fg-800);
      }
    }

    &-field {
      width: 100%;
    }

    &-label {
      display: flex;
      align-items: flex-end;
      color: var(--fg-500);
      font-size: var(--fs-xs);
      font-weight: var(--font-weight-medium);
      padding: 0 0 2px;
    }

    &-note {
      color: var(--fg-900);
      font-size: var(--fs-xxs);
      line-height: 1.3;
      padding: .5rem 2px 0;
    }
  }

  &__flags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px 24px;
    margin: 2rem 0;

    @include bp(tablet) {
      flex-direction: row;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 2rem;
  }

  &__delete-confirmation {
    flex-grow: 1;
  }

  &__moderation-message {
    font-size: var(--fs-xs);
  }

  &__oauth {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;

    .oauth-login-link {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;
      background: var(--button-secondary-background);
      color: var(--fg-600);
      font-size: var(--fs-xs);
      font-weight: var(--font-weight-medium);
      text-align: center;
      line-height: 1.1;
      padding: 1rem;
      border: 1px dashed var(--button-secondary-color);
      border-radius: var(--layout-border-radius-small);
      height: 5rem;
      width: 5rem;
      transition-property: color, background-color, border;
      transition-duration: var(--transition-duration);

      @include bp(desktop) {
        &:not(:hover, :focus-within) {
          button {
            opacity: 0;
          }
        }
      }

      &._disconnected {
        &:hover {
          background: var(--button-secondary-background-hover);
          color: var(--button-secondary-color-hover);
          border-color: var(--button-secondary-color-hover);
        }
      }

      &._connected {
        cursor: default;
        background: var(--button-oauth-connected);
        color: var(--fg-inverted);
        text-shadow: none;
        border: none;
      }

      &.ajax-in-progress {
        pointer-events: none;
        filter: var(--ajax-in-progress-filter, blur(1px));
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        color: inherit;
        font-size: 1rem;
        line-height: 1;
        padding: 4px 8px 12px 16px;
        transition: opacity var(--transition-duration);
      }

      > i {
        font-size: 1.75rem;
      }
    }
  }

  &__admin-notes {
    color: var(--fg-700);
    font-size: var(--fs-xs);
    font-style: italic;
    line-height: 1.3;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .warning,
    .warning > i {
      color: var(--red-400);
    }

    li {
      display: flex;
      align-items: baseline;

      &:not(:last-child) {
        margin-bottom: .5rem;
      }

      i {
        color: var(--fg-900);
        flex-shrink: 0;
        padding-left: 2px;
        width: 24px;
      }
    }
  }

  .notice {
    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.custom-skin-list {
  display: grid;
  gap: 1rem;

  &:not(:empty) {
    margin-bottom: 1rem;
  }
}

.custom-skin {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  color: var(--button-secondary-color);
  background: var(--button-secondary-background);
  font-size: var(--fs-xs);
  font-weight: var(--button-font-weight);
  line-height: 18px;
  padding: .5rem;
  border: var(--button-secondary-border);
  border-radius: var(--layout-border-radius-small);
  width: 100%;

  &._upload {
    position: relative;
    border-style: dashed;
    padding: 0;
    height: 2.75rem;

    &:not(:hover) .fa-plus {
      opacity: .4;
    }

    input {
      cursor: pointer;
      height: 100%;
      width: 100%;
      opacity: 0;
    }

    .fa-plus {
      position: absolute;
      top: 50%;
      left: 50%;
      pointer-events: none;
      text-align: center;
      transition: opacity var(--transition-duration);
      transform: translate(-50%, -50%);
    }
  }

  &.active {
    color: var(--button-color-active);
    background: var(--button-background-active);
    border: var(--button-border-active);

    .custom-skin__toggle .off {
      display: none;
    }
  }

  &:not(.active) {
    .custom-skin__toggle .on {
      display: none;
    }
  }

  &__info {
    flex: 1 1 auto;
  }

  &__toggle {
    padding: .25rem 1rem .25rem .25rem;
  }

  &__spacer {
    &::after {
      content: '|';
      margin: 0 .25rem;
      opacity: .6;
    }
  }

  &__version,
  &__author {
    opacity: .6;
  }

  &__delete {
    padding: .25rem .25rem .25rem 1rem;
    transition: opacity var(--transition-duration);

    &:not(:hover) {
      opacity: .3;
    }
  }
}

.custom-skin-action-status {
  display: none !important; // Only used in admin
}
