.reader-settings {
  --modal-overlay: transparent;

  &__row {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
  }

  .select-wrapper {
    &:not(:last-child) select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  button.button {
    font-size: 16px;
    padding: 0;
    border-radius: 0;
    height: 26px;
    width: 26px;
    min-width: auto;

    &--left {
      padding-left: 2px;
    }

    &--right {
      border-radius: 0 var(--layout-border-radius-small) var(--layout-border-radius-small) 0;
      padding-right: 2px;
    }
  }

  &__toggles {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
  }

  &__toggle {
    --focus-offset: 2px;
    border-radius: 50%;

    &[aria-checked="true"] {
      .reader-settings__toggle-icon {
        background: var(--toggle-background-checked);
        color: var(--toggle-text-checked);
        border-color: var(--toggle-border-checked);

        &:hover {
          background: var(--toggle-background-hover);
          color: var(--toggle-text-checked-hover);
          border-color: var(--toggle-border-hover);
        }
      }
    }
  }

  // Needs higher specificity to override icon font
  &__toggle-icon[class] {
    display: grid;
    place-content: center;
    background: var(--toggle-background);
    color: var(--toggle-text);
    font-size: 12px;
    line-height: 1;
    text-shadow: none;
    border: 1.5px solid var(--toggle-border);
    border-radius: 50%;
    height: 26px;
    min-width: 26px;
    transition: border-color var(--transition-duration),
                background-color var(--transition-duration),
                color var(--transition-duration);

    &:hover {
      color: var(--toggle-text-hover);
      border-color: var(--toggle-border-hover);
    }
  }
}
