.recommendation {
  &__header {
    margin-bottom: 2rem;
  }

  &__taxonomies {
    margin-bottom: 1.5rem;
  }

  &__thumbnail {
    --focus-offset: 2px;
    float: right;
    max-width: get_clamp(100, 200, 375, 768);
    margin: 0 0 get_clamp(10, 48, 375, 768) get_clamp(24, 48, 375, 768);

    :is(a, img) {
      display: block;
      cursor: zoom-in;
      border-radius: var(--layout-border-radius-small);
    }

    &-image {
      width: inherit;
      box-shadow: var(--recommendation-cover-box-shadow, var(--box-shadow-xl));

      @media (max-width: 768px) {
        height: auto;
      }
    }
  }

  &__tags {
    margin: 2rem 0 3rem;
  }

  &__support,
  &__read-on {
    margin-top: 1.5rem;

    h5 {
      margin-bottom: .5rem;
    }

    :is(i, .icon) {
      color: var(--fg-600);
      margin-right: .5rem;
    }
  }

  &__list-item {
    line-height: 1.3;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &__footer {
    clear: both;
  }
}
