@use 'common/_functions' as *;
@use 'common/_mixins' as *;
@use 'common/_variables' as *;

.search-form[data-advanced="false"] {
  .search-form__advanced {
    display: none;
  }
}

.search-form[data-advanced="true"] {
  .search-form__bar .search-form__advanced-toggle {
    color: var(--button-primary-color-hover);
  }

  .search-form__current {
    display: none;
  }
}

.search-form {
  &._simple {
    .search-form__bar input {
      padding-right: 32px;
    }
  }

  &__bar {
    position: relative;

    &-actions {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      gap: 3px;
    }

    input {
      padding-right: 96px;
      width: 100%;
    }

    button {
      --button-primary-background: transparent;
      --button-primary-background-hover: transparent;
      --button-primary-color: var(--fg-900);
      --button-primary-color-hover: var(--fg-400);
      display: grid;
      place-content: center;
      font-size: 12px;
      min-width: 32px;
    }
  }

  &__current {
    color: var(--fg-800);
    font-size: 11px;
    line-height: 1.5;
    padding: 6px 2px 0;

    button {
      color: currentColor;
      font-size: inherit;
      font-weight: var(--font-weight-medium);
      line-height: inherit;
      transition: color var(--transition-duration);

      &:hover {
        color: var(--fg-400);
      }
    }

    > :not(:last-child) {
      &::after {
        content: "\2022";
        color: var(--fg-900);
        padding: 0 2px 0 6px;
      }
    }
  }

  &__select-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  }

  &__select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:is(select) {
      font-size: 13px;
    }

    &-wrapper {
      display: flex;
      align-items: flex-start;
      gap: 1px;
      flex: 1 1 200px;
    }

    &-title {
      display: grid;
      place-content: center;
      flex: 0 0 auto;
      background: var(--input-background);
      font-size: 12px;
      font-weight: var(--font-weight-medium);
      text-transform: uppercase;
      white-space: nowrap;
      padding: 0 8px;
      border-radius: var(--layout-border-radius-small) 0 0 var(--layout-border-radius-small);
      height: 32px;
      min-width: 56px;
    }
  }

  &__text-input {
    width: 100%;
  }

  &__option-headline:is(h6) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    font-size: 15px; // Fix like the inputs
    margin-bottom: .675rem !important; // Override content-section styles

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__advanced {
    margin-top: .75rem;

    hr {
      margin: 1.5rem 0;
      border-style: dashed;
    }

    &-toggle {
      color: var(--button-primary-color);
      padding-left: 32px;
      transition: color var(--transition-duration);

      &:hover {
        color: var(--button-primary-color-hover);
      }
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }

  :is(.checkbox-label, .radio-label) {
    height: unset;
  }
}

.search-results {
  &__header {
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
    border-bottom: var(--layout-hr-border-dashed);
  }

  &__title {
    font-size: var(--fs-ml);
    text-transform: uppercase;
  }

  &__content {
    margin-top: 2rem;

    &:is(._no-results, ._no-params) {
      color: var(--fg-950);
      font: var(--font-weight-strong) var(--fs-ds)/1.5 var(--ff-note);
      text-align: center;
      overflow-wrap: break-word;
    }
  }
}
