.singular {
  &__header {
    margin-bottom: 2rem;
  }
}

.glossary {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 1.5rem 4rem;
  }

  &__entry {
    font-size: var(--fs-dxs);
    line-height: 1.3;

    &-head {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      font-family: var(--ff-heading);
      margin-bottom: 0.25rem;
    }

    &-name {
      font-weight: var(--font-weight-heading);

      &:not(._full) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &-meta-item {
      &:not(:last-child)::after {
        content: ' • ';
      }
    }

    &-count {
      flex-shrink: 0;
      color: var(--fg-800);
      font-weight: var(--font-weight-medium);
    }

    &-description {
      color: var(--fg-700);
    }
  }
}

.index-wrapper {
  column-gap: 2rem;

  @include bp(640px) {
    columns: 2;
  }
}

.index-group {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 3rem;

  &__header {
    --heading-margin-bottom: .5rem;
  }

  &__item {
    font-size: var(--fs-dxs);
    line-height: 1.3;
  }

  &__title {
    color: var(--heading-link-color);
    font-weight: var(--font-weight-heading);

    &:hover {
      color: var(--heading-link-color-hover);
    }
  }

  &__meta {
    color: var(--fg-700);
    margin-top: 0.25rem;
  }
}
