@use 'common/_functions' as *;
@use 'common/_mixins' as *;
@use 'common/_variables' as *;

.media-buttons {
  --i: #{get_clamp(22, 24, 320, 480)};
  --o: .3;
  display: flex;
  gap: 16px;

  &__item {
    cursor: pointer;
    color: var(--media-button-color, var(--fg-600));
    font-size: var(--i);
    line-height: 1;
    transition: opacity var(--transition-duration), color var(--transition-duration);
    height: var(--i);

    &:not(:is(:hover, :focus-visible)) {
      opacity: var(--o);
    }
  }

  &._modal {
    --o: 1;
    justify-content: center;
  }

  :is(.icon, .icon-wrapper) {
    vertical-align: baseline;
  }
}
