.media-buttons {
  display: flex;
  gap: 16px get_clamp(12, 16, 320, 480);

  &__item {
    cursor: pointer;
    display: block;
    color: (--media-button-color, var(--fg-600));
    font-size: get_clamp(22, 24, 320, 480);
    line-height: 1;
    opacity: .3;
    transition: opacity var(--transition-duration), color var(--transition-duration);
    height: get_clamp(22, 24, 320, 480);

    &:hover,
    &:focus-visible {
      opacity: 1;
    }

    :is(.icon, .icon-wrapper) {
      vertical-align: baseline;
    }
  }

  &._modal {
    justify-content: center;
    gap: 16px;
    padding-top: get_clamp(16, 22, 320, 480);

    &:empty {
      display: none;
    }

    .media-buttons__item {
      opacity: 1;
    }
  }
}
