@use 'common/_functions' as *;
@use 'common/_mixins' as *;
@use 'common/_variables' as *;

$header_breakpoint: 640px;

.button-follow-story._followed,
.button-read-later._remembered {
  background: var(--button-background-active) !important;
  color: var(--button-color-active) !important;
  border: var(--button-border-active) !important;
}

:root.no-covers {
  .story__taxonomies {
    margin-bottom: 1.5rem;

    &-space {
      display: none;
    }
  }

  .story__header {
    display: block;

    &:not(._no-thumbnail, ._float-top-left, ._float-top-right) {
      padding-top: calc(var(--page-inset-top, 0px) + var(--layout-spacing-vertical));
    }
  }

  .story__title {
    padding-top: 0;
  }
}

.story {
  &._no-checkmarks {
    .checkmark {
      display: none;
      content-visibility: hidden;
    }
  }

  &__header {
    --this-img-height: #{get_clamp(145, 165, 400, $full-width)};
    --this-img-width: #{get_clamp(96, 110, 400, $full-width)};
    grid-template-columns: var(--this-img-width) 1fr;
    grid-template-rows: var(--page-inset-top, 0px) auto auto;
    gap: 0 get_clamp(10, 18, 320, 375);
    margin-bottom: 1.75rem;

    @include bp(375px) {
      gap: 0 get_clamp(16, 24, 375, 768);
    }

    @include bp($header_breakpoint) {
      --this-img-height: #{get_clamp(197, 225, 400, $full-width)};
      --this-img-width: #{get_clamp(131, 150, 400, $full-width)};
      margin-bottom: 2.5rem;
    }

    &:not(._no-thumbnail) {
      display: grid;

      .story__taxonomies {
        max-height: 66px;
        overflow: hidden;

        @include bp($header_breakpoint) {
          max-height: 44px;
        }

        &-space {
          grid-area: 2 / 2 / 3 / 3;
          height: 98px;

          @include bp($header_breakpoint) {
            height: 72px;
          }
        }
      }
    }

    .story__taxonomies {
      grid-area: 2 / 2 / 3 / 3;
      align-self: center;

      .tag-pill {
        outline-offset: -1px;
      }
    }

    .story__identity {
      grid-area: 4 / 1 / 5 / 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 1.75rem;

      @include bp($header_breakpoint) {
        grid-area: 3 / 2 / 4 / 3;
        margin-top: 0;
      }
    }

    &._no-thumbnail {
      .story__taxonomies {
        margin-bottom: 1.5rem;
      }
    }

    &:is(._no-thumbnail, ._float-top-left, ._float-top-right) {
      display: block;
    }

    &:is(._float-top-left, ._float-top-right) {
      &:not(._no-thumbnail) .story__taxonomies-space {
        height: 1.5rem;
      }

      .story__identity {
        display: inline;
      }
    }

    &:is(._float-top-left, ._float-top-right) .story__thumbnail {
      --this-img-height: auto;
      --this-img-width: var(--floating-cover-image-width, #{get_clamp(56, 200, 320, 768)});
      transform: translateY(-0.25rem);

      &-image {
        width: var(--this-img-width);
        max-height: unset;
      }
    }

    &._float-top-left .story__thumbnail {
      float: left;
      margin: 0 get_clamp(20, 32, 375, 768) get_clamp(10, 20, 375, 768) 0;
    }

    &._float-top-right .story__thumbnail {
      float: right;
      margin: 0 0 get_clamp(10, 20, 375, 768) get_clamp(20, 32, 375, 768);
    }
  }

  &__thumbnail {
    a {
      display: block;
      border-radius: var(--layout-border-radius-small);
      height: 100%;
      box-shadow: var(--story-cover-box-shadow, var(--box-shadow-xl));
      outline-offset: 2px;
    }

    &:not(._in-content) {
      grid-area: 1 / 1 / 4 / 2;
      position: relative;
      height: var(--this-img-height);

      @include bp($header_breakpoint) {
        grid-area: 1 / 1 / 4 / 2;
      }
    }

    &._in-content .story__thumbnail-image {
      width: var(--in-content-cover-image-width, get_clamp(100, 200, 375, 768));
    }

    &._float-right {
      float: right;
      margin: 0 0 get_clamp(10, 32, 375, 768) get_clamp(24, 32, 375, 768);
    }

    &._float-left {
      float: left;
      margin: 0 get_clamp(24, 32, 375, 768) get_clamp(10, 32, 375, 768) 0;
    }

    &-ribbon {
      pointer-events: none;
      position: absolute;
      inset: 0;
      top: 0;
      overflow: hidden;
    }

    &-image {
      cursor: zoom-in;
      display: block;
      background: var(--story-cover-placeholder, var(--placeholder-background));
      border-radius: var(--layout-border-radius-small);
      height: 100%;
      max-height: var(--this-img-height);
      object-fit: cover;
    }
  }

  &__identity {
    h1 {
      font-family: var(--ff-story-title);
      font-size: get_clamp(22, 32, 320, $full-width);
      line-height: 1.2;
    }

    &-meta {
      display: block;
      color: var(--fg-600);
      font-size: var(--fs-xs);
      font-style: italic;
      line-height: 1.3;
      padding-top: .5rem;

      @include bp($header_breakpoint) {
        padding-bottom: 2px;
      }

      a {
        &:not(:hover) {
          color: currentColor;
        }
      }
    }
  }

  &__password-note {
    margin-bottom: 1.5rem;
  }

  &__copyright-notice {
    color: var(--fg-800);
    font-size: var(--fs-xxs);
    font-style: italic;
    margin-top: 1.5rem;
  }

  &__tags-and-warnings {
    clear: both;
    margin-top: 2rem;
  }

  &__after-summary {
    clear: both;
    display: flex;
    gap: 0 24px;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;

    .media-buttons {
      padding: 4px 0;
      max-height: 32px;
    }
  }

  &__actions {
    display: flex;
    gap: 3px;

    > .button {
      border-radius: 0;

      &:first-child {
        border-top-left-radius: var(--layout-border-radius-small);
        border-bottom-left-radius: var(--layout-border-radius-small);
      }

      &:last-child {
        border-top-right-radius: var(--layout-border-radius-small);
        border-bottom-right-radius: var(--layout-border-radius-small);
      }
    }
  }

  &__tabs {
    margin: 3rem 0 1.5rem;

    &:not([data-current="chapters"]) .story__toggle {
      pointer-events: none;
      opacity: 0;
    }
  }

  &__chapters {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -12px; // Compensate groups
    contain: style layout;

    &[data-order="asc"] {
      flex-direction: column;

      .chapter-group__list-item {
        order: initial !important;
      }
    }

    &[data-view="list"] {
      .grid-view {
        display: none;
        content-visibility: hidden;
      }
    }
  }

  &__scheduled-chapter {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--fg-700);
    font-size: var(--fs-dxs);
    font-weight: var(--font-weight-semi-strong);
    padding: 0 6px;
    margin-bottom: 24px;

    :is(i, .icon) {
      text-align: center;
      min-width: 1em;
    }
  }

  .chapter-group {
    margin-top: 12px;

    &.filtered-out {
      display: none;
    }

    .chapter-group__list-item._folding-toggle {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      content-visibility: visible;
      padding: 0 !important;
    }

    &__folding-toggle {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      content-visibility: visible;
      color: var(--fg-800);
      line-height: 1.125;
      text-align: center;
      padding: 1.125rem 0;
      width: 100%;
      transition: color var(--transition-duration);

      &:hover {
        color: var(--fg-400);
      }
    }
  }

  &__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding-top: .75rem;
  }

  &__changelog {
    cursor: pointer;
    display: grid;
    place-content: center;
    color: var(--fg-600);
    font-size: var(--fs-ds);
    height: 2.25rem;
    width: 1.5rem;
    transition: opacity var(--transition-duration);

    &:not(:hover) {
      opacity: 0.3;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: var(--fg-600);
    font-family: var(--ff-note);
    font-size: var(--fs-ds); // 14px (desktop) to 13px (mobile)
    line-height: 1.75rem;
    padding: .25rem 4px .25rem 0;
    white-space: nowrap;

    &-item:not(:first-child) {
      @include bp(640px) {
        margin-left: 1.5rem;
      }

      &:not(.checkmark)::before {
        content: unicode("2022");
        color: var(--fg-800);
        font-family: var(--ff-base);
        padding: 0 .25rem 0 .35rem;

        @include bp(640px) {
          content: none;
        }
      }
    }

    button.checkmark {
      color: var(--checkmark-checked);
      font-size: 18px;
      padding: 0 4px;
      margin: 0 0 0 1.25rem;

      &:not(.marked) {
        color: var(--checkmark-not-checked);
        text-shadow: none;
      }
    }

    > :is(span, label) {
      :is(i, .icon) {
        display: none;
        color: var(--fg-800);
        margin-right: .25rem;

        @include bp(640px) {
          display: initial;
        }
      }
    }
  }

  .icon-password {
    &.grid-view {
      grid-area: 1/3/2/4;
      color: var(--fg-700);
      text-align: right;
    }
  }

  &__tab-target:not(._current) {
    display: none;
    content-visibility: hidden;
  }

  &__custom-page {
    padding: 8px 2px;
  }

  &__blog {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 3px;
      font-size: var(--fs-xs);
      line-height: 1.5;

      &-item {
        background: var(--story-blog-li-background, var(--content-li-background));
        padding: .5rem 8px .5rem 0;
        border-radius: var(--layout-border-radius-small);
      }
    }

    &-title {
      color: var(--heading-link-color);
      font-weight: var(--font-weight-strong);

      &:hover {
        color: var(--heading-link-color-hover);
      }
    }

    &-content {
      color: var(--fg-600);
    }
  }

  &__chapter-list-toggles {
    display: flex;
  }

  &__toggle {
    .on {
      display: none;
      content-visibility: hidden;
    }

    .off {
      display: block;
      content-visibility: visible;
    }

    &:is([data-view="grid"], [data-order="desc"]) {
      .on {
        display: block;
        content-visibility: visible;
      }

      .off {
        display: none;
        content-visibility: hidden;
      }
    }
  }

  &__filter-reel {
    margin: 2.25rem 0 1rem;

    &-toggle {
      display: none;
    }

    &.splide {
      --this-shadow-space: 0;
      visibility: visible;
    }

    &:not(.splide.is-initialized) .splide__list {
      display: flex;
      align-items: stretch;
      gap: 1rem;
    }

    &-item {
      position: relative;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: var(--filter-reel-background);
      color: var(--tab-color);
      font-family: var(--ff-note);
      font-size: var(--fs-xxs);
      line-height: 1.2;
      text-align: center;
      text-shadow: var(--filter-reel-text-shadow);
      overflow-wrap: break-word;
      border-radius: var(--layout-border-radius-small);
      width: 7.25rem;

      &:not(.selected):hover {
        color: var(--filter-reel-color-hover);
      }

      &:hover,
      &.selected {
        .story__filter-reel-item-img {
          filter: grayscale(0) brightness(1);
        }
      }

      &.selected {
        background: var(--filter-reel-background-active);
        color: var(--filter-reel-color-active);
        text-shadow: var(--filter-reel-text-shadow-active);
      }

      &._no-label {
        img {
          margin: 12px;
          height: 100%;
        }
      }
    }

    &-item-img {
      aspect-ratio: 2/3;
      display: block;
      margin: 12px 12px 0;
      border-radius: calc(var(--layout-border-radius-small) * var(--layout-nested-border-radius-multiplier, 1));
      height: 8.625rem;
      width: auto;
      object-fit: cover;
      filter: grayscale(0.95) brightness(1.1);
      transition: filter var(--transition-duration);
    }

    &-item-label {
      pointer-events: none;
      position: relative;
      z-index: 2;
      flex: 1 1 auto;
      display: grid;
      place-content: center;
      padding: 4px 6px 5px;
      min-height: 30px;
      overflow: hidden;
    }

    &-item-button {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      display: grid;
      place-content: center;
      font-size: 24px;
      opacity: 0;
      transition: opacity var(--transition-duration);

      &:hover {
        opacity: 1;
      }

      &._lightbox {
        top: 0;
        background: var(--filter-reel-lightbox-hover-shadow);
        height: 70%;
      }

      &._filter {
        bottom: 0;
        height: 30%;

        @include bp(1024px) {
          background: var(--filter-reel-filter-hover-shadow);
        }
      }

      .icon {
        color: #fff;
        opacity: .7;
        text-shadow: 0 0 6px rgb(0 0 0 / 90%);
      }
    }
  }

  .comment-section {
    margin-top: 3rem;
  }
}

.story._shortcode {
  :is(.chapter-group, .story__scheduled-chapter, .story__blog) {
    margin-left: 0;
    margin-right: 0;
  }

  :is(.story__tabs, .story__tab-target:not(.story__scheduled-chapter)) {
    padding: 0;
  }

  &._no-pages {
    [data-target*="tab-page-"] {
      display: none;
    }

    [data-target="blog"] {
      border-top-right-radius: var(--layout-border-radius-small);
      border-bottom-right-radius: var(--layout-border-radius-small);
    }
  }

  &._no-blog {
    [data-target="blog"] {
      display: none;
    }
  }

  &._no-pages._no-blog {
    [data-target="chapters"] {
      border-top-right-radius: var(--layout-border-radius-small);
      border-bottom-right-radius: var(--layout-border-radius-small);
    }
  }
}

:is(.story__header._no-tax, :root.no-taxonomies .story__header) {
  grid-template-rows: var(--page-inset-top, 0px) auto auto;

  .story__identity {
    grid-area: 2 / 2 / 4 / 3;
    margin-top: 0;
  }

  .story__taxonomies {
    display: none;
  }

  @include bp($header_breakpoint) {
    --this-img-height: #{get_clamp(145, 165, 400, $full-width)};
    --this-img-width: #{get_clamp(96, 110, 400, $full-width)};
  }
}

:root.no-taxonomies {
  .story__tags-and-warnings {
    display: none;
  }
}

:root.no-filters {
  .story__filter-reel {
    display: none;
  }
}

.story__chapters[data-view="grid"] {
  margin-top: -12px; // Compensate groups

  .list-view {
    display: none;
    content-visibility: hidden;
  }

  // Fix render bug in Chromium that sometimes makes the grid item vanish
  .chapter-group__folding-toggle {
    display: flex;
    justify-content: center;
  }

  .chapter-group {
    &__list {
      display: grid;
      gap: var(--chapter-grid-gap, get_clamp(12, 16, 320, 480));
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 136px), 1fr));

      @include bp(phablet) {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
      }

      &-item {
        background: var(--chapter-grid-item-background, var(--content-li-background));
        padding: .5rem;
        border-radius: var(--layout-border-radius-small); // Accounts for minimalist mode
        box-shadow: var(--chapter-grid-item-box-shadow);

        &-icon {
          display: none;
          content-visibility: hidden;
        }

        &-link {
          grid-area: 1/1/2/4;

          &._password {
            grid-area: 1/1/2/3;
          }
        }

        &-date {
          &::before {
            content: none;
          }
        }

        &-words {
          @media only screen and (max-width: 340px) {
            span span {
              display: none;
              content-visibility: hidden;
            }
          }
        }

        &-subrow {
          grid-area: 2/1/3/4;
          padding-right: 16px;
        }

        .checkmark {
          font-size: 14px;
          padding: 4px 8px 8px 8px;
          transform: translate(4px, 14px);
          height: 100%;
        }
      }
    }
  }
}

.chapter-group[data-folded="true"] .chapter-group__list-item:not(.filtered-in)._foldable,
.chapter-group[data-folded="false"] .chapter-group__list-item._folding-toggle {
  display: none;
  content-visibility: hidden;
}
