.tts-interface {
  position: fixed;
  inset: 0;
  top: unset;
  z-index: 100;
  display: flex;
  justify-content: center;
  background: var(--tts-background);
  padding: 16px;

  &__controls {
    display: flex;
    gap: 3px;

    .button {
      border-radius: 0;
    }

    > :first-child {
      border-radius: 2px 0 0 2px;
    }

    > :last-child {
      border-radius: 0 2px 2px 0;
    }
  }

  &:not(.ended).paused .button.pause,
  &:not(.ended).playing .button.play {
    background: var(--tts-button-active-background);
    color: var(--tts-button-active-text);
  }
}
