@import '_reset';

@import 'common/_functions';
@import 'common/_mixins';
@import 'common/_variables';
@import 'common/_utility';
@import 'common/_setup';
@import 'common/_base';
@import 'common/_inputs';
@import 'common/_formatting';
@import 'common/_blocks';
@import 'common/_modals';
@import 'common/_fullscreen';
@import 'common/_icons';
@import 'common/_settings';
@import 'common/_tabs';
@import 'common/_forms';

@import '_consent';
@import '_header';
@import '_icon-menu';
@import '_footer';
@import '_breadcrumbs';
@import '_navigation';
@import '_socialmedia';
@import '_mobile-menu';
@import '_login';
@import '_follows';
@import '_singular';
@import '_cookies';
@import '_pagination';
@import '_statistics';
@import '_card';
@import '_post';
@import '_profile';
@import '_showcase';
@import '_search';

@import '_notifications';
@import '_lightbox';

@import '_browser-hacks';
@import '_print';
@import '_minimal';

:root body {
  --card-frame-border-color: var(--bg-800);
  --card-style-border-color: var(--card-frame-border-color);
}

:root[data-mode=light] body {
  --card-frame-border-color: var(--bg-300);
}

// 0 0 0 var(--card-frame-border-thickness, 2.5px) var(--card-frame-border-color), 0 0 6px 2px rgb(0 0 0/24%)

// Solid borders thin
// .card {
//   --card-style-border-width: 1px;
//   box-shadow: 0 0 0 var(--card-frame-border-thickness, 1px) var(--card-frame-border-color);
// }

// Solid borders normal
// .card {
//   --card-style-border-width: 2px;
//   box-shadow: 0 0 0 var(--card-frame-border-thickness, 2px) var(--card-frame-border-color);
// }

// Stacked shadow
.card {
  --card-style-border-width: 2px;
  --this-rotation: calc(2deg * var(--this-rotation-mod, 1));
  --this-rotation-s: calc(1.75deg * var(--this-rotation-mod, 1));
  --this-rotation-xs: calc(1.5deg * var(--this-rotation-mod, 1));
  --this-rotation-xxs: calc(1.25deg * var(--this-rotation-mod, 1));
  box-shadow: 0 0 0 var(--card-frame-border-thickness, 2.5px) var(--card-frame-border-color);

  &:nth-child(even) {
    --this-rotation-mod: -1;
  }

  &::before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    background: var(--card-frame-border-color);
    border-radius: var(--card-frame-border-radius, var(--layout-border-radius-small));
    height: var(--card-frame-height, calc(100% + 6px));
    width: var(--card-frame-width, calc(100% + 6px));
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(var(--card-frame-rotation, var(--this-rotation)));

    @container (min-width: 450px) {
      transform: translate(-50%, -50%) rotate(var(--card-frame-rotation, var(--this-rotation-s)));
    }

    @container (min-width: 600px) {
      transform: translate(-50%, -50%) rotate(var(--card-frame-rotation, var(--this-rotation-xs)));
    }

    @container (min-width: 750px) {
      transform: translate(-50%, -50%) rotate(var(--card-frame-rotation, var(--this-rotation-xxs)));
    }
  }

  .card__body {
    border-radius: var(--card-frame-border-radius, var(--layout-border-radius-small));
  }
}
