@use 'common/_functions' as *;
@use 'common/_mixins' as *;
@use 'common/_variables' as *;

.collection {
  &__taxonomies {
    margin-bottom: 1.5rem;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__tags-and-warnings {
    margin-top: 2rem;
  }
}
