@use 'common/_functions' as *;
@use 'common/_mixins' as *;
@use 'common/_variables' as *;

.comment-section {
  --layout-link-color-hover: var(--comment-link-color-hover, var(--fg-300));
  margin-top: 5rem;

  blockquote a[href^="#paragraph-"] {
    border-bottom: none;
  }

  &:empty {
    display: none;
  }
}

.comment-respond-option-toggle {
  display: block;

  span {
    display: grid;
    place-content: center;
    height: 32px;
    width: 32px;
    transition: opacity var(--transition-duration);
  }

  &[aria-checked="false"] {
    span {
      &:not(:hover) {
        opacity: .3;
      }
    }

    .on {
      display: none;
    }
  }

  &[aria-checked="true"] {
    .off {
      display: none;
    }
  }
}

// Theme comments
.fictioneer-respond {
  margin: 16px 0 24px;

  &__must-login {
    color: var(--fg-800);
    font-size: var(--fs-xs);
    text-align: center;

    :is(label, a, button) {
      font-weight: 600;
      transition: color var(--transition-duration);

      &:hover {
        color: var(--fg-400);
      }
    }
  }

  &__form {
    &.ajax-in-progress {
      pointer-events: none;

      textarea {
        filter: var(--ajax-in-progress-filter, blur(1px));
      }
    }

    &._invalid {
      input:invalid {
        --input-validation-shadow: inset 0 0 0 2px var(--red-500);
      }
    }

    textarea {
      display: block;
      background: transparent;
      line-height: 1.4;
      overflow-wrap: break-word;
      padding: 8px;
      min-height: 104px;
      width: 100%;
      box-shadow: none;
      resize: none;
      overflow-y: hidden;
    }

    &-comment {
      background: var(--input-background);
      border-radius: var(--layout-border-radius-small);
      transition: filter var(--transition-duration); // AJAX
      box-shadow: var(--input-shadow, 0 0 transparent), var(--input-validation-shadow, 0 0 transparent);
    }

    .notice {
      margin-bottom: 8px;
    }

    &-before-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0 20px;
      margin-bottom: 4px;

      .left {
        flex-grow: 1;
        display: flex;
        align-items: center;
        color: var(--fg-800);
        font-size: 13px;
        height: 32px;
      }

      .right {
        display: flex;
        flex-shrink: 0;
        color: var(--fg-800);
        font-size: 14px;
        margin: 0 -4px;
      }

      .oauth-login-link {
        display: grid;
        place-content: center;
        height: 32px;
        width: 32px;

        &:hover {
          color: var(--fg-400);
        }
      }
    }

    &-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      gap: 8px;
      margin-top: 8px;

      @include bp(600px) {
        flex-direction: row;
      }

      &-block {
        @include bp(600px) {
          flex: 1 1 250px;
        }
      }
    }

    &-identity {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        display: block;
        width: 100%;
      }
    }

    &-actions {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      margin-top: 16px;

      &-wrapper {
        display: flex;
        align-items: center;

        .button {
          &:not(:first-child) {
            margin-left: 8px;
          }
        }
      }
    }
  }

  &__notices:not(:empty) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--fs-dxs);
    line-height: 1.5;
    margin-top: 1rem;
  }

  &:not(._private) {
    .private-comment-notice {
      display: none;
    }
  }

  .private-comment-notice {
    color: var(--fg-700);
  }

  &__checkbox-label-pair {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--fg-600);
    font-size: 13px;
    line-height: 1.3;
    height: 32px;

    @include bp(600px) {
      justify-content: flex-end;

      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }
}

.fictioneer-comment-toolbar {
  display: flex;
  gap: 4px;
  align-items: center;
  line-height: 1.2;
  padding: 0 4px;
  height: 38px;

  > :is(span, label) {
    cursor: pointer;
    padding: 4px 7px;
    transition: opacity var(--transition-duration);

    @include bp(375px) {
      padding: 4px 8px;
    }

    &:not(:hover) {
      opacity: .3;
    }
  }
}

.fictioneer-comments {
  &.ajax-in-progress .commentlist {
    filter: var(--ajax-in-progress-filter, blur(1px));
    transition: filter var(--transition-duration);
  }

  > .fictioneer-respond {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    margin-bottom: 24px;
  }

  &__title {
    font-size: var(--fs-m);
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: .75rem;
    margin-bottom: 24px;
    border-bottom: var(--layout-hr-border-dashed);
  }

  &__notice {
    color: var(--fg-800);
    font-size: 13px;
    padding-top: 8px;
  }

  &__disabled {
    color: var(--fg-800);
    font-size: 13px;
    text-align: center;
    margin-top: 40px;
  }

  &__list {
    .notice {
      margin-top: 16px;
    }
  }

  .load-more-list-item {
    margin-top: 16px;
  }

  .comments-loading-placeholder {
    text-align: center;
    margin-top: 16px;
    height: get_clamp(34, 39, 320, 1024);
  }
}

.fictioneer-comment {
  margin-top: 16px;
  transition: height 1s, margin 1s, opacity 1s;
  contain: layout style; // Improve performance

  &.parent .children {
    button:is([data-action*="#sticky"], [data-action*="#unsticky"]) {
      display: none;
    }
  }

  // Make sure to not hit reply comment form as direct child!
  &:is(.private, ._has-private-ancestor, ._unpublished) > .fictioneer-comment__container {
    background: var(--comment-background-private);
  }

  &:is(._offensive, .hidden-by-reports) > .fictioneer-comment__container {
    background: var(--comment-background-offensive);
  }

  &._deleted > .fictioneer-comment__container {
    background: var(--comment-background-deleted);

    .fictioneer-comment__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 0;
    }

    button:is([data-action*="#sticky"], [data-action*="#approve"], [data-action*="#unapprove"], [data-action*="#offensive"], [data-action*="#unoffensive"]) {
      display: none;
    }
  }

  &.ajax-in-progress {
    > .fictioneer-comment__container {
      pointer-events: none;
      filter: var(--ajax-in-progress-filter, blur(1px));
      transition: filter var(--transition-duration);

      .fictioneer-comment__footer-right {
        .spinner.ajax {
          display: block;
        }

        > .hide-on-ajax {
          display: none;
        }
      }
    }
  }

  &._unapproved > .fictioneer-comment__container {
    color: var(--fg-800);

    :is([data-action*="#unapprove"], .fictioneer-comment__actions) {
      display: none;
    }
  }

  &:not(._unapproved) > .fictioneer-comment__container {
    :is([data-action*="#approve"], .moderation-note-unapproved) {
      display: none;
    }
  }

  &._offensive > .fictioneer-comment__container {
    [data-action*="#offensive"] {
      display: none;
    }
  }

  &:not(._offensive) > .fictioneer-comment__container {
    :is([data-action*="#unoffensive"], .moderation-note-offensive) {
      display: none;
    }
  }

  &._sticky {
    position: relative;

    > .fictioneer-comment__container {
      background: var(--comment-background-sticky);
      border: var(--comment-border-sticky);
    }

    [data-action*="#sticky"] {
      display: none;
    }

    &.private {
      > .fictioneer-comment__container {
        background: var(--comment-background-private);
      }
    }

    .sticky-pin {
      position: absolute;
      top: -7px;
      right: 6px;
      color: var(--fg-600);
      transform: rotate(30deg);
    }
  }

  &:not(._sticky) {
    :is([data-action*="#unsticky"], .sticky-pin) {
      display: none;
    }
  }

  &._closed {
    > .fictioneer-comment__container :is([data-action*="#close"], .fictioneer-comment__edit-toggle),
    .fictioneer-comment__actions {
      display: none;
    }

    .fictioneer-comment > .fictioneer-comment__container {
      .closed-icon {
        display: block;
      }
    }
  }

  &:not(._closed) > .fictioneer-comment__container {
    :is([data-action*="#open"], .closed-icon) {
      display: none;
    }
  }

  &._editing {
    .hide-on-edit {
      display: none;
    }
  }

  &__container {
    background: var(--comment-background);
    line-height: 1.6;
    border: 1px solid transparent; // Preserve spacing if sticky or other borders apply
    border-radius: var(--layout-border-radius-small);
    background-origin: border-box !important; // Prevent inverted gradients on border
    padding: .75rem;

    &:not(:hover, :focus-within) {
      .hide-unless-hover-on-desktop {
        @include bp(desktop) {
          opacity: 0;
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    line-height: 1;
    margin-bottom: .75rem;

    .avatar {
      border-radius: var(--layout-border-radius-small);
      transform: translateY(1.5px);
    }
  }

  &__author {
    font-size: 13px;
    line-height: 1.2;
    padding-top: 2px;
    margin-bottom: 2px;

    > :is(span, a) {
      font-weight: var(--font-weight-medium);
    }
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    background: var(--badge-generic-background);
    color: var(--badge-generic-color);
    font: var(--font-weight-badge) 10px/1 var(--ff-base);
    letter-spacing: -0.03em;
    text-shadow: none;
    border-radius: 2px;
    padding: 0 4px;
    margin-left: 4px;
    height: 16px;
    transform: translateY(-1px);

    &.badge-override {
      background: var(--badge-override-background);
      color: var(--badge-override-color);
    }

    &.is-moderator {
      background: var(--badge-moderator-background);
      color: var(--badge-moderator-color);
    }

    &.is-admin {
      background: var(--badge-admin-background);
      color: var(--badge-admin-color);
    }

    &.is-author {
      background: var(--badge-author-background);
      color: var(--badge-author-color);
    }

    &.is-supporter {
      background: var(--badge-supporter-background);
      color: var(--badge-supporter-color);
    }
  }

  &__info {
    color: var(--fg-700);
    font-size: 11px;
    font-style: italic;
    line-height: 1.3;
    padding-left: 4px; // Prevent letter to be cut off
    transform: translate(-4px); // Move back the padding
  }

  &__in-moderation,
  &__hidden-notice {
    color: var(--comment-color-hidden, var(--fg-900));
    font-size: var(--fs-xs);
    font-style: italic;
  }

  &__in-moderation {
    color: var(--fg-700);

    :is(i, .icon) {
      color: var(--fg-800);
    }
  }

  &__body {
    font-size: var(--fs-xs);
    overflow-wrap: break-word;

    p:empty {
      height: .5rem;
    }

    textarea {
      display: block;
      background: var(--comment-background);
      line-height: 1.4;
      overflow-wrap: break-word;
      padding: 8px;
      min-height: 104px;
      width: 100%;
      resize: vertical;
    }
  }

  &__edit-note {
    color: var(--fg-900);
    font-size: var(--fs-xxs);
    font-style: italic;
    margin-top: 16px;
  }

  &__edit {
    &-actions {
      display: flex;
      gap: 8px;
      margin-top: 16px;
    }

    &.ajax-in-progress {
      pointer-events: none;

      textarea {
        filter: var(--ajax-in-progress-filter, blur(1px));
        transition: filter var(--transition-duration);
      }
    }
  }

  &__encapsulated {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }

    summary {
      font-style: italic;

      &::marker,
      &::-webkit-details-marker {
        display: none;
        content: '';
      }

      .icon {
        font-size: 87.5%;
        vertical-align: baseline;
        opacity: .75;
        transform: translateY(-0.1em);
      }
    }

    > a {
      font-weight: var(--font-weight-medium);
    }
  }

  &__parent-comment {
    background: var(--comment-background);
    padding: .75rem;
    border-radius: calc(var(--layout-border-radius-small) * var(--layout-nested-border-radius-multiplier, 1));
    margin: .5rem 0 .75rem;
  }

  > :is(ol, ul) {
    margin-left: .75rem;

    @include bp(mobile-l) {
      margin-left: 1.5rem;
    }
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: var(--fg-700);
    font-size: var(--fs-xs);
    line-height: 18px;
    margin-top: 1rem;

    a {
      transition: color var(--transition-duration);
    }

    &-left {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      min-height: 18px; // Prevent layout shift with ajax-in-progress
    }

    &-right {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-right: -2px;
      min-height: 18px; // Prevent layout shift with ajax-in-progress

      @include bp(desktop) {
        gap: 8px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__fingerprint {
    cursor: help;

    &::before {
      font-family: var(--ff-mono);
      font-size: 10px;
      word-break: break-all;
      width: 66px;
    }
  }

  .comment-quick-button {
    color: var(--fg-600);
    padding: 0 2px;
    transition: opacity var(--transition-duration);

    &:not(:hover, :focus-visible, .fictioneer-report-comment-button, .popup-menu-toggle) {
      opacity: .3;
    }
  }

  .popup-menu {
    min-width: 104px;
  }

  .spinner.ajax {
    display: none;
    padding: 0 2px;
  }

  .hide-unless-hover-on-desktop {
    transition: opacity var(--transition-duration);
  }

  .fictioneer-report-comment-button {
    &:not(:hover, :focus-visible, .on) {
      opacity: .3;
    }

    &.on {
      color: var(--red-400);
    }
  }

  .popup-menu-toggle {
    cursor: pointer;
    transition: opacity var(--transition-duration);

    &:not(:hover, :focus-visible, .last-clicked) {
      opacity: .3;
    }
  }

  .comment-reply-link {
    color: var(--fg-700);

    &:hover {
      color: var(--fg-400);
    }

    i {
      transform: translateY(-1px) scale(-1);
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  blockquote {
    overflow-wrap: break-word;
    word-break: break-all;
    padding: .375rem .875rem;
    margin: 1rem 0 0;

    &:not(:first-child) {
      margin-top: .75rem;
    }

    &:not(:last-child) {
      margin-bottom: .75rem;
    }
  }

  .comment-suggestion-heading {
    display: block;
    margin: 0 0 .25rem;
  }
}

.comments-skeleton {
  --hr-border-color: var(--skeleton-shape-color);
  opacity: .5;
  animation: skeleton-animation 2s linear infinite;

  .fictioneer-comments__title {
    border-style: solid;

    .shape {
      height: 18px;
      width: 144px;
    }
  }

  .shape {
    background: var(--skeleton-shape-color);
  }

  .cutout {
    background: var(--skeleton-cutout-color);
  }

  :is(.shape, .cutout) {
    border-radius: var(--layout-border-radius-small);
  }

  &__login {
    padding: 8px 0 12px;

    > .shape {
      height: 16px;
      width: 200px;
    }
  }

  &__response {
    height: 142px;
  }

  &__list {
    margin-top: 82px;

    > .shape {
      padding: 12px;
      margin-top: 16px;
      height: 128px;
    }

    .cutout {
      height: 32px;
      width: 32px;
    }
  }
}

.comment-list-item {
  display: list-item;
  list-style: disc;
  margin: .25rem 0 .25rem 16px;
}

.comment-image-consent-wrapper {
  button {
    display: inline-flex;
    font-size: .75em;
    padding: 6px 8px;
    transform: translateY(-1px);
    height: auto;
  }
}

.comment-reply-title {
  margin: 16px 0 8px;

  small {
    float: right;
  }
}
