/*******************************************************************************
* Unlike the other CSS files that are built for purpose and loaded only on pages
* when needed, this one contain _all_ CSS regardless of location. This is useful
* when HTTP/2 (or better) is not supported and therefore files cannot be loaded
* parallel. Loading many small files in sequence is slower than one large file.
***************************************************************************** */

@use 'properties';
@use 'application';
@use 'comments';
@use 'fonts-full';
@use 'collections';
@use 'post-list';

@use '_reader-settings';
@use '_suggestions';
@use '_progress_bar';
@use '_tts';
@use '_micro-menu';
@use '_chapter';
@use '_paragraph-tools';
@use '_recommendation';
@use '_story';
@use '_archive';
