@import 'common/_functions';
@import 'common/_mixins';

:root.page-style-mask-image-ringbook:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);

  @include bp(375px) {
    &::before {
      --this-left: #{get_clamp(-14, 0, 375, 768)};
      --this-width: #{get_clamp(22, 26, 375, 768)};
      --mi: url('../img/mask_ringbook.png'), var(--data-image-2x2-black);
      --mp: top 0 left var(--this-left), top 0 left calc(var(--this-width) + var(--this-left) - 1px);
      --ms: var(--this-width) auto, calc(100% - calc(var(--this-width) + var(--this-left) - 1px)) 100%;
      --mr: repeat-y, no-repeat;
      left: 0 !important;

      @include bp(640px) {
        border-radius: 0 var(--layout-border-radius-large) var(--layout-border-radius-large) 1.5rem;
      }
    }
  }
}

:root.page-style-polygon-battered:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);

  &::before {
    clip-path: var(--polygon-battered-half);

    @include bp(tablet) {
      left: 4px;
      right: 4px;
      clip-path: var(--polygon-battered);
    }

    @include bp(desktop) {
      left: 0;
      right: 0;
    }
  }
}

:root.page-style-polygon-chamfered:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);

  &::before {
    --m: #{get_clamp(6, 12, 320, 768)};

    clip-path: polygon(
      0% var(--m),
      var(--m) 0%,
      calc(100% - var(--m)) 0%,
      100% var(--m),
      100% calc(100% - var(--m)),
      calc(100% - var(--m)) 100%,
      var(--m) 100%,
      0% calc(100% - var(--m))
    );
  }
}

:root.page-style-polygon-interface-a:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);

  &::before {
    --o: #{get_clamp(0, 8, 375, 1024)};
    --m: #{get_clamp(6, 8, 320, 768)};
    --g: calc(100% - #{get_clamp(140, 320, 320, 768)});
    --s: #{get_clamp(0, 32, 320, 768)};
    --p: #{get_clamp(92, 230, 320, 768)};
    --i: 0px;

    @include bp(desktop) {
      --i: 4px;
    }

    clip-path: polygon(
      0% calc(var(--o) + var(--m)),
      var(--o) var(--m),

      calc(var(--s)) var(--m),
      calc(var(--m) + var(--s)) 0%,
      calc(var(--m) + var(--s) + var(--p)) 0%,
      calc(2 * var(--m) + var(--s) + var(--p)) var(--m),

      calc(50% - 48px) var(--m),
      calc(50% - 44px) calc(var(--m) + var(--i)),
      calc(50% - 36px) calc(var(--m) + var(--i)),
      calc(50% - 32px) var(--m),

      calc(50% - 16px) var(--m),
      calc(50% - 12px) calc(var(--m) + var(--i)),
      calc(50% - 4px) calc(var(--m) + var(--i)),
      calc(50%) var(--m),

      calc(50% + 16px) var(--m),
      calc(50% + 20px) calc(var(--m) + var(--i)),
      calc(50% + 28px) calc(var(--m) + var(--i)),
      calc(50% + 32px) var(--m),

      var(--g) var(--m),
      calc(var(--g) + 1 * var(--m)) 0%,

      calc(var(--g) + 3 * var(--m)) 0%,
      calc(var(--g) + 2 * var(--m)) var(--m),
      calc(var(--g) + 2.5 * var(--m)) var(--m),
      calc(var(--g) + 3.5 * var(--m)) 0%,

      calc(var(--g) + 5.5 * var(--m)) 0%,
      calc(var(--g) + 4.5 * var(--m)) var(--m),
      calc(var(--g) + 5 * var(--m)) var(--m),
      calc(var(--g) + 6 * var(--m)) 0%,

      calc(var(--g) + 8 * var(--m)) 0%,
      calc(var(--g) + 7 * var(--m)) var(--m),
      calc(var(--g) + 7.5 * var(--m)) var(--m),
      calc(var(--g) + 8.5 * var(--m)) 0%,

      calc(var(--g) + 11 * var(--m)) 0%,
      calc(var(--g) + 11.5 * var(--m)) calc(0.5 * var(--m)),
      calc(100% - 5.5 * var(--m)) calc(0.5 * var(--m)),
      calc(100% - 5 * var(--m)) 0%,

      calc(100% - 1 * var(--m)) 0%,
      100% var(--m),

      100% calc(100% - 1 * var(--m)),
      calc(100% - 1 * var(--m)) 100%,

      var(--m) 100%,
      0% calc(100% - 1 * var(--m))
    );
  }
}

:root.inset-header-image .header-background {
  left: 50%;
  right: unset;
  width: 100%;
  transform: translate3d(-50%, 0, 0);

  @include bp(desktop) {
    border-radius: var(--layout-border-radius-large);
    width: calc(var(--site-width) * 1.5);
    max-width: min(calc(100vw - 2rem), 1980px);
  }

  &__wrapper {
    @include bp(desktop) {
      border-radius: var(--layout-border-radius-large);
    }
  }
}

:root.header-image-style-polygon-battered {
  .header-background {
    border-radius: 0 !important;

    &__wrapper {
      border-radius: 0 !important;
      clip-path: var(--polygon-battered-half);

      @include bp(tablet) {
        margin-left: 4px;
        margin-right: 4px;
        clip-path: var(--polygon-battered);
      }

      @include bp(desktop) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
:root.header-image-style-polygon-battered:not(.inset-header-image) {
  .header-background__wrapper {
    --polygon-battered: var(--polygon-battered-half);
    margin-left: 0;
    margin-right: 0;
  }
}

:root:not(.minimal) .content-list-style-full {
  --content-list-item-background: var(--content-list-item-background-full);

  .chapter-group__list-item {
    padding: .5rem 8px .5rem 6px;
  }

  .story__blog-list-item {
    padding: .5rem 8px;
  }

  .card__link-list-item {
    padding-left: 0.35em;
  }
}

:is(:root, :root.minimal) .content-list-style-free {
  --content-list-item-background: none;

  :is(.chapter-group__list-item, .story__blog-list-item) {
    border-radius: 0;
    border-bottom: none;
  }
}

:is(:root, :root.minimal) .content-list-style-lines {
  --content-list-item-background: none;

  :is(.chapter-group__list-item, .story__blog-list-item, .card__link-list-item) {
    border-radius: 0;
    border-bottom: 1.5px solid var(--layout-color-separator);
  }

  .card__link-list-item:last-child {
    border-bottom: none;
  }
}

:root.page-style-mask-image-wave-a:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);

  &::before {
    --mp: top calc(-1 * #{get_clamp(5, 8, 375, 768)}) left 0, top #{get_clamp(22, 31, 375, 768)} left 0;
    --ms: 100% #{get_clamp(28, 41, 375, 768)}, 100% calc(100% - #{get_clamp(22, 31, 375, 768)});
    --mr: repeat-x, no-repeat;
    --mi: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' id='svg' viewBox='0 0 1440 690' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cpath d='M 0,700 L 0,262 C 85.6267942583732,192.2488038277512 171.2535885167464,122.49760765550238 260,138 C 348.7464114832536,153.50239234449762 440.6124401913876,254.25837320574163 541,315 C 641.3875598086124,375.74162679425837 750.2966507177035,396.46889952153106 854,374 C 957.7033492822965,351.53110047846894 1056.200956937799,285.86602870813397 1153,260 C 1249.799043062201,234.133971291866 1344.8995215311006,248.06698564593302 1440,262 L 1440,700 L 0,700 Z' stroke='none' stroke-width='0' fill='%23000000' fill-opacity='1' class='transition-all duration-300 ease-in-out delay-150 path-0'%3E%3C/path%3E%3C/svg%3E"), var(--data-image-2x2-black);
    border-radius: 56px / get_clamp(6, 12, 375, 768);
  }
}

:root.page-style-mask-image-layered-steps-a:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);

  &::before {
    --mp: top left, top #{get_clamp(15, 23, 375, 768)} left 0;
    --ms: 100% #{get_clamp(16, 24, 375, 768)}, 100% calc(100% - #{get_clamp(15, 23, 375, 768)});
    --mr: repeat-x, no-repeat;
    --mi: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 24' width='900' height='24' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 12L39 12L39 4L78 4L78 2L117 2L117 8L157 8L157 9L196 9L196 17L235 17L235 7L274 7L274 15L313 15L313 13L352 13L352 7L391 7L391 19L430 19L430 11L470 11L470 13L509 13L509 19L548 19L548 14L587 14L587 10L626 10L626 6L665 6L665 17L704 17L704 11L743 11L743 2L783 2L783 19L822 19L822 19L861 19L861 2L900 2L900 6L900 25L900 25L861 25L861 25L822 25L822 25L783 25L783 25L743 25L743 25L704 25L704 25L665 25L665 25L626 25L626 25L587 25L587 25L548 25L548 25L509 25L509 25L470 25L470 25L430 25L430 25L391 25L391 25L352 25L352 25L313 25L313 25L274 25L274 25L235 25L235 25L196 25L196 25L157 25L157 25L117 25L117 25L78 25L78 25L39 25L39 25L0 25Z' fill='rgba(0,0,0,0.5)'%3E%3C/path%3E%3Cpath d='M0 10L39 10L39 11L78 11L78 12L117 12L117 16L157 16L157 13L196 13L196 20L235 20L235 16L274 16L274 7L313 7L313 16L352 16L352 12L391 12L391 8L430 8L430 9L470 9L470 12L509 12L509 10L548 10L548 20L587 20L587 12L626 12L626 12L665 12L665 9L704 9L704 11L743 11L743 14L783 14L783 8L822 8L822 13L861 13L861 20L900 20L900 14L900 25L900 25L861 25L861 25L822 25L822 25L783 25L783 25L743 25L743 25L704 25L704 25L665 25L665 25L626 25L626 25L587 25L587 25L548 25L548 25L509 25L509 25L470 25L470 25L430 25L430 25L391 25L391 25L352 25L352 25L313 25L313 25L274 25L274 25L235 25L235 25L196 25L196 25L157 25L157 25L117 25L117 25L78 25L78 25L39 25L39 25L0 25Z' fill='rgba(0,0,0,0.75)'%3E%3C/path%3E%3Cpath d='M0 14L39 14L39 18L78 18L78 20L117 20L117 20L157 20L157 19L196 19L196 15L235 15L235 18L274 18L274 18L313 18L313 15L352 15L352 21L391 21L391 13L430 13L430 20L470 20L470 21L509 21L509 17L548 17L548 18L587 18L587 12L626 12L626 14L665 14L665 21L704 21L704 17L743 17L743 18L783 18L783 14L822 14L822 17L861 17L861 15L900 15L900 16L900 25L900 25L861 25L861 25L822 25L822 25L783 25L783 25L743 25L743 25L704 25L704 25L665 25L665 25L626 25L626 25L587 25L587 25L548 25L548 25L509 25L509 25L470 25L470 25L430 25L430 25L391 25L391 25L352 25L352 25L313 25L313 25L274 25L274 25L235 25L235 25L196 25L196 25L157 25L157 25L117 25L117 25L78 25L78 25L39 25L39 25L0 25Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E%0A"), var(--data-image-2x2-black);
  }
}

:root.page-style-mask-image-layered-peaks-a:not(.minimal) .main__background {
  filter: var(--layout-main-drop-shadow);

  &::before {
    --mp: top left, top #{get_clamp(15, 23, 375, 768)} left 0;
    --ms: 100% #{get_clamp(16, 24, 375, 768)}, 100% calc(100% - #{get_clamp(15, 23, 375, 768)});
    --mr: repeat-x, no-repeat;
    --mi: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 24' width='900' height='24' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 6L39 0L78 0L117 17L157 3L196 14L235 9L274 19L313 14L352 12L391 3L430 6L470 19L509 3L548 12L587 19L626 7L665 12L704 2L743 8L783 17L822 5L861 9L900 1L900 25L861 25L822 25L783 25L743 25L704 25L665 25L626 25L587 25L548 25L509 25L470 25L430 25L391 25L352 25L313 25L274 25L235 25L196 25L157 25L117 25L78 25L39 25L0 25Z' fill='rgba(0,0,0,0.5)'%3E%3C/path%3E%3Cpath d='M0 8L39 17L78 20L117 6L157 13L196 17L235 17L274 7L313 17L352 18L391 21L430 19L470 14L509 15L548 17L587 11L626 18L665 8L704 19L743 17L783 13L822 7L861 6L900 9L900 25L861 25L822 25L783 25L743 25L704 25L665 25L626 25L587 25L548 25L509 25L470 25L430 25L391 25L352 25L313 25L274 25L235 25L196 25L157 25L117 25L78 25L39 25L0 25Z' fill='rgba(0,0,0,0.75)'%3E%3C/path%3E%3Cpath d='M0 12L39 14L78 17L117 14L157 16L196 17L235 19L274 20L313 20L352 16L391 16L430 12L470 22L509 22L548 17L587 13L626 11L665 18L704 13L743 23L783 21L822 16L861 17L900 21L900 25L861 25L822 25L783 25L743 25L704 25L665 25L626 25L587 25L548 25L509 25L470 25L430 25L391 25L352 25L313 25L274 25L235 25L196 25L157 25L117 25L78 25L39 25L0 25Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E%0A"), var(--data-image-2x2-black);
  }
}

:root.header-image-style-mask-grunge-frame-a-small {
  .header-background {
    border-radius: 0 !important;

    &__wrapper {
      --g: #{get_clamp(-8, 0, 375, 768)};
      --mi: url('../img/grunge-frame-a/top.png'), url('../img/grunge-frame-a/bottom.png'), var(--data-image-2x2-black);
      --ms: 100% 32px, 100% 32px, 100% calc(100% - var(--g) - 62px);
      --mp: top var(--g) left 0, bottom left, top calc(31px + var(--g)) left 0;
      border-radius: 0 !important;

      @include bp(desktop) {
        --mi: url('../img/grunge-frame-a/top-left.png'), url('../img/grunge-frame-a/top.png'), url('../img/grunge-frame-a/top-right.png'), url('../img/grunge-frame-a/right.png'), url('../img/grunge-frame-a/bottom-right.png'), url('../img/grunge-frame-a/bottom.png'), url('../img/grunge-frame-a/bottom-left.png'), url('../img/grunge-frame-a/left.png'), var(--data-image-2x2-black);
        --ms: 32px 32px, calc(100% - 62px) 32px, 32px 32px, 32px calc(100% - 62px), 32px 32px, calc(100% - 62px) 32px, 32px 32px, 32px calc(100% - 62px), calc(100% - 62px) calc(100% - 62px);
        --mp: top left, top 0 left 31px, top right, top 31px right 0, bottom right, bottom 0 right 31px, bottom left, top 31px left 0, top 31px left 31px;
      }
    }
  }
}
:root.header-image-style-mask-grunge-frame-a-small:not(.inset-header-image) {
  .header-background__wrapper {
    --mi: url('../img/grunge-frame-a/top.png'), url('../img/grunge-frame-a/bottom.png'), var(--data-image-2x2-black);
    --ms: 100% 32px, 100% 32px, 100% calc(100% - 62px);
    --mp: top left, bottom left, top 31px left 0;
  }
}

:root.header-image-style-mask-grunge-frame-a-large {
  .header-background {
    border-radius: 0 !important;

    &__wrapper {
      --f: #{get_clamp(48, 64, 375, 768)};
      --g: #{get_clamp(-12, 0, 375, 768)};
      --mi: url('../img/grunge-frame-a/top.png'), url('../img/grunge-frame-a/bottom.png'), var(--data-image-2x2-black);
      --ms: 100% var(--f), 100% var(--f), 100% calc(100% - calc(var(--f) * 2 + var(--g) - 2px));
      --mp: top var(--g) left 0, bottom left, top calc(var(--f) + var(--g) - 1px) left 0;
      border-radius: 0 !important;

      @include bp(desktop) {
        --mi: url('../img/grunge-frame-a/top-left.png'), url('../img/grunge-frame-a/top.png'), url('../img/grunge-frame-a/top-right.png'), url('../img/grunge-frame-a/right.png'), url('../img/grunge-frame-a/bottom-right.png'), url('../img/grunge-frame-a/bottom.png'), url('../img/grunge-frame-a/bottom-left.png'), url('../img/grunge-frame-a/left.png'), var(--data-image-2x2-black);
        --ms: var(--f) var(--f), calc(100% - calc(var(--f) * 2 - 2px)) var(--f), var(--f) var(--f), var(--f) calc(100% - calc(var(--f) * 2 - 2px)), var(--f) var(--f), calc(100% - calc(var(--f) * 2 - 2px)) var(--f), var(--f) var(--f), var(--f) calc(100% - calc(var(--f) * 2 - 2px)), calc(100% - calc(var(--f) * 2 - 2px)) calc(100% - calc(var(--f) * 2 - 2px));
        --mp: top left, top 0 left calc(var(--f) - 1px), top right, top calc(var(--f) - 1px) right 0, bottom right, bottom 0 right calc(var(--f) - 1px), bottom left, top calc(var(--f) - 1px) left 0, top calc(var(--f) - 1px) left calc(var(--f) - 1px);
      }
    }
  }
}

:root.header-image-style-mask-grunge-frame-a-large:not(.inset-header-image) {
  .header-background__wrapper {
    --mi: url('../img/grunge-frame-a/top.png'), url('../img/grunge-frame-a/bottom.png'), var(--data-image-2x2-black);
    --ms: 100% var(--f), 100% var(--f), 100% calc(100% - calc(var(--f) * 2 - 2px));
    --mp: top left, bottom left, top calc(var(--f) - 1px) left 0;
  }
}

.main__background {
  &::before {
    --c: #{get_clamp(17, 25, 375, 768)};
    --d: #{get_clamp(20, 28, 375, 768)};
    --mi: url('../img/grunge-top-a.svg'), var(--data-image-2x2-black), url("../img/flipped-grunge-top-a.svg");
    --ms: 100% var(--d), 100% calc(100% - var(--c) * 2), 100% var(--d);
    --mp: top calc(-1 * #{get_clamp(0, 2, 375, 768)}) left 0, top var(--c) left 0, bottom left;
  }
}

:root.header-image-style-polygon-chamfered {
  .header-background {
    border-radius: 0 !important;

    &__wrapper {
      --m: #{get_clamp(6, 12, 320, 768)};
      border-radius: 0 !important;
      clip-path: polygon(
        0% var(--m),
        var(--m) 0%,
        calc(100% - var(--m)) 0%,
        100% var(--m),
        100% calc(100% - var(--m)),
        calc(100% - var(--m)) 100%,
        var(--m) 100%,
        0% calc(100% - var(--m))
      );
    }
  }
}

.top-header {
  background: var(--layout-top-header-background-color);
  width: 100%;
  contain: style layout; // Improves performance

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem .5rem;
    margin: 0 auto;
    max-width: var(--site-width);

    @include bp(desktop) {
      justify-content: flex-start;
      padding-bottom: .25rem;
    }
  }

  .custom-logo-link {
    flex: 0 0 auto;
  }

  .custom-logo {
    display: block;
    height: var(--layout-site-logo-height);
    max-height: calc(var(--site-title-font-size) + var(--site-title-tagline-font-size) + 1rem);
    width: auto;
    object-fit: contain;
  }

  &._no-tagline .custom-logo {
    max-height: calc(var(--site-title-font-size) + .75rem);
  }

  &._no-title .custom-logo {
    max-height: unset;
  }

  &__title {
    flex: 0 1 auto;
  }

  &__heading {
    font: 700 var(--site-title-font-size)/1.3 var(--ff-site-title);
    letter-spacing: 0;

    a {
      color: var(--site-title-heading-color);
    }
  }

  &__tagline {
    color: var(--site-title-tagline-color);
    font: 400 var(--site-title-tagline-font-size)/1.3 var(--ff-site-title);
    letter-spacing: 0;
  }

  &._no-logo {
    text-align: center;

    @include bp(desktop) {
      text-align: left;
    }
  }
}

.footer._footer-isolated {
  --layout-link-hover: var(--fg-d200);
  background-color: var(--bg-isolated-footer);
  color: var(--fg-isolated-footer);
  margin-top: 3rem;

  .footer__wrapper {
    margin: 2rem auto;
  }

  .breadcrumbs {
    color: var(--fg-isolated-footer);
  }
}

.card:where(._unfolded, ._combined) {
  &:is(._small, ._article) .card__body > .card__footer {
    margin-top: 0;
  }

  .card__body {
    padding: 0;

    &._article {
      .card__tag-list._scrolling {
        padding: 0 var(--this-padding);
        margin-top: calc(-1 * var(--card-footer-margin-top, 1em));
        margin-bottom: 0;
      }
    }

    > .card__footer {
      gap: 0;

      .card__footer-box {
        background: none;
        border-top: var(--this-border-width, 1.5px) solid var(--secant);
        border-radius: 0;

        &._right {
          border-left: var(--this-border-width, 1.5px) solid var(--secant);
          min-width: 9cqw;
        }
      }
    }
  }

  .card__header {
    padding: var(--this-padding) var(--this-padding) 0;
  }

  .card__main {
    padding: 0 var(--this-padding);

    &:is(._small, ._article, ._hidden-result) {
      padding: var(--this-padding);
    }
  }

  &._recommendation {
    .card__main {
      padding-bottom: var(--this-padding);
    }
  }

  .card__footer._article .card__footer-box,
  .card__body > .card__footer .card__footer-box:is(._left, :last-child) {
    padding: calc(var(--this-padding) * 0.75) var(--this-padding);
  }
}

.card._combined {
  --this-border-width: 0;

  .card__footer._article .card__footer-box,
  .card__body > .card__footer .card__footer-box:is(._left, :last-child) {
    padding: calc(var(--this-padding) * 0.5) var(--this-padding) var(--this-padding);
  }

  .rating-letter-label {
    font-weight: 700;
    opacity: 0.5;
  }
}
