@import 'common/_functions';
@import 'common/_mixins';
@import 'common/_variables';
@import 'common/_properties';

// Automatically becomes .editor-styles-wrapper
body {
  --editor-max-width: 840px;
  --editor-padding: 8px;
  --strong-filter: none;

  --wp--preset--font-size--small: var(--fs-xs);
  --wp--preset--font-size--medium: var(--fs-m);
  --wp--preset--font-size--large: var(--fs-l);
  --wp--preset--font-size--x-large: var(--fs-xl);
  --wp--style--block-gap: 1.5em;

  font-family: var(--wp--preset--font-family--system-fonts);
  font-size: var(--fs-s);
  line-height: 1.8;
  padding: var(--editor-padding);

  // =============================================================================
  // INLINE
  // =============================================================================

  code:not([role=textbox]) {
    background: rgb(0 0 0 / 7%);
    font-family: var(--ff-mono);
    font-size: .75em;
    line-height: inherit;
    word-wrap: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: .375em .25em;
    border-radius: 2px;
  }

  kbd {
    display: inline-block;
    background: rgb(0 0 0 / 7%);
    font-family: var(--ff-mono);
    font-size: .75em;
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;
    padding: 0 0.375em;
    border-radius: 3px;
    box-shadow: 0 0 1px currentColor, 0 1px 1px rgb(0 0 0 / 20%);
    transform: translateY(-1px);
  }

  acronym,
  abbr {
    cursor: help;
    text-decoration: underline rgb(0 0 0 / 50%) dotted 1px;
    text-underline-offset: 0.125em;
  }

  sup[data-fn] {
    display: inline-block;
    font-weight: 500;
    padding-left: .15em;

    a {
      text-decoration: none;
    }
  }

  p.has-drop-cap::first-letter {
    position: static;
    float: left;
    display: block;
    font-size: 3.75em;
    font-weight: inherit;
    line-height: .9;
    padding: 0 .05em 0 0;
    margin: 0;
  }

  p {
    img:not(.wp-more-tag) {
      display: inline-block;
      height: auto;
      transform: translateY(0.1em);
    }
  }

  :is(ul, ol) {
    padding-left: 28px;

    > li {
      --spacing-offset: -16px;
    }
  }

  // =============================================================================
  // GENERAL
  // =============================================================================

  .wp-block {
    box-sizing: border-box;
    max-width: var(--editor-max-width);

    &:where(:not(.no-theme-spacing)) {
      margin: 0 auto calc(28px + var(--spacing-offset, 0px));

      &:not(p) {
        margin: calc(28px + var(--spacing-offset, 0px)) auto;
      }
    }

    figcaption {
      color: rgb(0 0 0 / 70%);
      font-size: 75%; // Scales with custom formatting
      line-height: 1.3;
      text-align: center;
      padding: 8px 12px 0;
      margin: 0;
    }
  }

  .wp-block-group-is-layout-flex {
    .wp-block {
      margin: 0;
    }
  }

  // =============================================================================
  // HEADINGS
  // =============================================================================

  :where(h1, h2, h3, h4, h5, h6) {
    display: block;
    font-weight: 700;
    line-height: 1.3;

    > strong {
      font-weight: 700;
    }
  }

  h1 {
    font-size: get_relative_clamp(1.5, 2.25, 320, $full-width, 'vw', 'em');
    letter-spacing: get_clamp(-0.48, 0.8, 320, 375);
  }

  h2 {
    font-size: get_relative_clamp(1.25, 1.75, 320, $full-width, 'vw', 'em');
  }

  h3 {
    font-size: get_relative_clamp(1.2, 1.4, 320, $full-width, 'vw', 'em');
  }

  h4 {
    font-size: get_relative_clamp(1.1, 1.2, 320, $full-width, 'vw', 'em');
  }

  h5 {
    font-size: get_relative_clamp(1.05, 1.125, 320, $full-width, 'vw', 'em');
  }

  h6 {
    font-size: 1em;
  }

  // =============================================================================
  // SEPARATORS
  // =============================================================================

  .wp-block-separator:where(:not(.no-theme-style)) {
    margin: 48px auto;
    border: 0;
    border-bottom: var(--layout-hr-border);
    border-color: rgb(0 0 0 / 30%);

    &.is-style-wide {
      width: 100%;
    }

    &:not(.is-style-wide) {
      width: max(25%, 128px);
    }

    &.has-background {
      border-color: currentColor;

      &::before {
        color: currentColor !important;
      }
    }

    &.is-style-dots {
      text-align: center;
      line-height: 1;
      border: none;
      width: 100%;

      &::before {
        content: '···';
        color: rgb(0 0 0 / 50%);
        font-size: 1.5em;
        letter-spacing: 2em;
        padding-left: 2em;
        font-family: serif;
      }
    }
  }

  // =============================================================================
  // BUTTONS
  // =============================================================================

  .wp-block-button:where(:not(.no-theme-style)) {
    padding-left: 0 !important;
    padding-right: 0 !important;

    &.button {
      background: #32373c;
      color: white;
      border: 1px solid transparent;

      &:hover {
        background: #464c53;
      }

      .wp-block-button__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin: -1px;
        line-height: 1;
        min-height: 32px;
        width: calc(100% + 2px);

        &:not([style*="padding-top"]) {
          padding-top: 0 !important;
        }

        &:not([style*="padding-bottom"]) {
          padding-bottom: 0 !important;
        }

        &:not([style*="padding-left"]) {
          padding-left: 8px;
        }

        &:not([style*="padding-right"]) {
          padding-right: 8px;
        }
      }

      &._secondary {
        background: rgb(0 0 0 / 4%);
        color: currentColor;
        border: 1px solid #32373c;

        &:hover {
          background: rgb(0 0 0 / 6%);
          color: currentColor;
          border: 1px solid #464c53;
        }
      }
    }
  }

  // =============================================================================
  // IMAGES
  // =============================================================================

  .wp-block-image:where(:not(.no-theme-style)) {
    &.alignright {
      float: right;
      margin: .5em calc((100% - min(100%, var(--editor-max-width))) / 2) .5em 1.5em;
    }

    &.alignleft {
      float: left;
      margin: .5em 1.5em .5em calc((100% - min(100%, var(--editor-max-width))) / 2);
    }

    &:not(.is-style-rounded) img {
      border-radius: 2px;
    }
  }

  .wp-block-gallery:where(:not(.no-theme-style)) {
    &.has-background {
      padding: max(var(--wp--style--unstable-gallery-gap, 1em), 8px);
    }
  }

  // =============================================================================
  // CODE BLOCK
  // =============================================================================

  .wp-block-code:where(:not(.no-theme-style)) {
    clear: both;
    padding: 1rem;
    border-radius: var(--layout-border-radius-small);
    overflow: auto;

    code {
      display: block;
      font-family: var(--ff-mono);
      line-height: 1.7;
      white-space: pre !important;
      border-radius: var(--layout-border-radius-small);
    }

    &:not([class*=font-size]) {
      code {
        font-size: var(--fs-xxs);
      }
    }

    &:not([class*=background-color]) {
      background: #e5e5e5;
    }

    &:not([class*=text-color]) {
      color: #444;
    }
  }

  // =============================================================================
  // BLOCKQUOTE
  // =============================================================================

  .wp-block-quote:where(:not(.no-theme-style)) {
    --spacing-offset: 12px;
    font-size: 87.5%;
    position: relative;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    max-width: max(85%, 260px);
    width: max-content;

    &.has-background {
      --spacing-offset: 8px;
      --this-vertical-offset: -8px;
      --this-horizontal-offset: -8px;
      padding: 8px;
    }

    p {
      text-indent: 0 !important;
      margin: 0 !important;
      overflow-wrap: break-word;

      &.has-background {
        padding: 0;
      }
    }

    cite {
      display: block;
      color: rgb(0 0 0 / 70%);
      font-size: 87.5%; // Scales with custom formatting
      font-style: italic;
      text-align: right;

      &::before {
        content: '~ ';
      }
    }

    em {
      font-style: normal;
    }

    &:not(.is-style-plain)::before,
    &:not(.is-style-plain)::after {
      content: '';
      position: absolute;
      top: var(--this-vertical-offset, -12px);
      left: var(--this-horizontal-offset, -16px);
      display: block;
      border: 5px solid rgb(0 0 0 / 30%);
      border-width: 3px 0 0 3px;
      height: 16px;
      width: 16px;
    }

    &:not(.is-style-plain)::after {
      inset: inherit;
      bottom: var(--this-vertical-offset, -12px);
      right: var(--this-horizontal-offset, -16px);
      border-width: 0 3px 3px 0;
    }
  }

  // =============================================================================
  // PULLQUOTE
  // =============================================================================

  figure.wp-block-pullquote:where(:not(.no-theme-style)) {
    --spacing-offset: 8px;
    clear: both;
    font-size: 1.25em;
    font-style: italic;
    text-align: center;
    padding: 0;
    max-width: max(85%, 260px);
    width: max-content;

    blockquote {
      border: 2px solid rgb(0 0 0 / 30%);
      border-width: 2px 0;
      padding: 1rem;
      margin: 0;
    }

    p {
      font-size: 1em; // Scales with custom formatting
      margin: 0 !important;
    }

    em {
      font-style: normal;
    }

    cite {
      display: block;
      color: rgb(0 0 0 / 70%);
      font-size: 75%; // Scales with custom formatting
      font-style: italic;
      margin-top: .75rem;

      &::before {
        content: '~ ';
      }

      &::after {
        content: ' ~';
      }
    }
  }

  // =============================================================================
  // TABLES
  // =============================================================================

  .wp-block-table {
    clear: both;
    float: none !important;
    overflow-x: auto;

    &.alignright {
      margin-left: auto;
      margin-right: calc((100% - min(100%, var(--editor-max-width))) / 2);
    }

    &.alignleft {
      margin-left: calc((100% - min(100%, var(--editor-max-width))) / 2);
      margin-right: calc((100% - min(100%, var(--editor-max-width))) / 2);
    }

    &:where(.min-480, .min-640, .min-768) {
      min-width: unset; // Delegate to table child
    }

    &.min-480 table {
      min-width: 480px;
    }

    &.min-640 table {
      min-width: 640px;
    }

    &.min-768 table {
      min-width: 768px;
    }

    table {
      font-size: 75%; // Scales with custom formatting
      border-style: solid;
      border-color: #b3b3b3;
      border-collapse: collapse;

      @include bp(480px) {
        font-size: 87.5%; // Scales with custom formatting
      }
    }

    :is(thead, tbody, tfoot, tr, td, th) {
      border-style: inherit;
      border-color: inherit;
      overflow-wrap: break-word;
    }

    :is(th, td) {
      padding: .5em .75em;
    }

    thead {
      border-bottom-width: 0;
    }

    tfoot {
      font-weight: 700;
      vertical-align: top;
    }

    table:not([style*="border-width"]) tfoot {
      border-top-width: 3px !important;
    }

    th {
      font-weight: 700;
      vertical-align: bottom;
    }

    figcaption {
      padding-bottom: .5rem; // Place for scrollbar on mobile
    }

    &.is-style-stripes {
      border-bottom: none;

      table:not(.has-border-color) {
        tfoot {
          border-top-color: #b3b3b3;
        }
      }

      table:not([style*="border-width"]) {
        border-width: 0;

        :is(thead, tfoot, tbody, tr, th, td) {
          border-width: 0;
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background: rgb(0 0 0 / 10%);
          }
        }
      }
    }
  }

  // =============================================================================
  // EMBEDS/VIDEO/AUDIO
  // =============================================================================

  .wp-block-embed {
    max-width: 500px !important;

    &__wrapper {
      display: flex;
      justify-content: center;
    }
  }

  :is(.wp-block-video, .wp-block-audio, .wp-block-embed) {
    clear: both !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  // =============================================================================
  // PREFORMATTED BLOCK
  // =============================================================================

  .wp-block-preformatted:where(:not(.no-theme-style)) {
    font-family: var(--ff-mono);
    line-height: 1.7;
    white-space: pre-wrap;
    border-radius: var(--layout-border-radius-small);
    overflow: auto;

    &.has-background {
      padding: 1em;
    }
  }

  // ==============================================================================
  // LATEST POSTS
  // ==============================================================================

  .wp-block-latest-posts:where(:not(.no-theme-style)) {
    --this-row-gap: 32px;
    --this-col-gap: 32px;
    gap: var(--this-row-gap) var(--this-col-gap);
    padding-left: 0 !important;

    &.has-background {
      padding: var(--this-col-gap) var(--this-row-gap) !important;
    }

    &.has-link-color {
      * {
        color: inherit !important;
      }
    }

    &.is-grid {
      display: grid;

      li {
        margin: 0;
        width: 100%;
      }
    }

    &.columns-2  {
      grid-template-columns: repeat(auto-fill, minmax(max(165px, calc((100% - var(--this-col-gap)) / 2)), 1fr));
    }

    &.columns-3  {
      grid-template-columns: repeat(auto-fill, minmax(max(165px, calc((100% - 2 * var(--this-col-gap)) / 3)), 1fr));
    }

    &.columns-4  {
      grid-template-columns: repeat(auto-fill, minmax(max(165px, calc((100% - 3 * var(--this-col-gap)) / 4)), 1fr));
    }

    &.columns-5  {
      grid-template-columns: repeat(auto-fill, minmax(max(165px, calc((100% - 4 * var(--this-col-gap)) / 5)), 1fr));
    }

    &:not(.is-grid) {
      display: flex;
      flex-direction: column;
    }

    &.has-dates.has-author {
      .wp-block-latest-posts__post-author {
        &::after {
          content: '\2022';
          font-family: var(--ff-base);
          margin: 0 6px;
          opacity: .9;
        }
      }
    }

    li {
      box-sizing: border-box;
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      min-width: 0;
      width: 100%;
      contain: style layout; // Improve performance
      container-type: inline-size; // Enable container query units

      > * {
        font-family: var(--ff-card-body);
        font-size: clamp(13.5px, 3.125cqw, 15px);
        line-height: 1.45;
        overflow-wrap: break-word;
      }
    }

    .wp-block-latest-posts__post-title:is(a) {
      flex: 1 1 100%;
      grid-area: title;
      display: inline-block;
      font-size: clamp(15px + var(--card-font-size-min-mod, 0px), 3.765cqw + var(--card-font-size-grow-mod, 0px), 17px + var(--card-font-size-max-mod, 0px));
      line-height: 1.3;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;

      @container (min-width: 640px) {
        font-size: clamp(15px + var(--card-font-size-min-mod, 0px), 3.065cqw + var(--card-font-size-grow-mod, 0px), 18px + var(--card-font-size-max-mod, 0px));
      }

      &:not(:last-child) {
        margin-bottom: .4rem;
      }
    }

    :is(.wp-block-latest-posts__post-author, .wp-block-latest-posts__post-date) {
      flex: 0 1 auto;
      margin-top: 6px;
      opacity: .75;
    }

    .wp-block-latest-posts__post-excerpt {
      flex: 1 1 100%;
      margin-top: 6px;
      margin-bottom: 0;
      height: 100%;
    }

    .wp-block-latest-posts__featured-image {
      display: none;
    }
  }

  // =============================================================================
  // LITRPG BOX
  // =============================================================================

  .litrpg-box {
    --litrpg-background: white;
    --litrpg-color: currentColor;
    --litrpg-ins: green;
    --litrpg-del: red;
    --litrpg-polygon: polygon(8px 0, calc(100% - 8px) 0, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0 calc(100% - 8px), 0 8px);
    color: var(--litrpg-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, "Helvetica Neue", sans-serif;
    font-size: get_relative_clamp(0.75, 0.875, 320, 480, 'vw', 'em');
    font-weight: 400;
    text-align: center;
    margin: 1rem auto !important;
    max-width: 480px;
    filter: var(--litrpg-drop-shadow);

    * {
      color: currentColor;
      letter-spacing: 0;
      line-height: 1.5;
    }

    :is(h1, h2, h3, h4, h5, h6) {
      font-size: 105%;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      margin: 0 !important;
    }

    a {
      color: currentColor;
      text-decoration: none;

      a:hover {
        color: currentColor;
      }
    }

    small {
      font-size: 75%;
    }

    strong {
      font-weight: 600;
    }

    b {
      font-weight: 500;
    }

    figcaption {
      font-size: 105%;
      font-weight: 700;
      text-transform: uppercase;
    }

    table {
      margin: 0 auto -0.25rem;
    }

    td {
      padding: 0 get_relative_clamp(0.5, 0.75, 320, 480) .25rem;
    }

    hr {
      border: none;
      border-bottom: 1px solid currentColor;
      margin: 0;
      opacity: .25;
    }

    p {
      margin: 0 !important;
    }

    dl {
      margin: 0;
    }

    dt {
      display: inline;
      font-weight: 600;
    }

    dd {
      display: inline;
      margin: 0;
    }

    :is(ins, del) {
      display: inline-block;
      background: transparent;
      font-size: 80%;
      font-weight: 900;
      transform: translateY(-0.2em);
      text-decoration: none;
      vertical-align: baseline;
    }

    ins {
      color: var(--litrpg-ins);
    }

    del {
      color: var(--litrpg-del);
    }

    :is(sub, sup) {
      display: inline-block;
      font-size: 70%;
      vertical-align: baseline;
    }

    sup {
      transform: translateY(-0.5em);
    }

    sub {
      transform: translateY(0.3em);
    }

    :is(ul, ol) {
      text-align: left;
      padding-left: 28px;
      margin: 0 !important;
    }

    li {
      &:not(:last-child) {
        margin-bottom: .25em !important;
      }
    }
  }

  .litrpg-frame {
    background: var(--litrpg-background);
    clip-path: var(--litrpg-polygon);
    margin: 0 2px;
  }

  .litrpg-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .75rem 0;
    margin: 0 .75rem;
    overflow: auto;
  }

  // =============================================================================
  // UTILITY
  // =============================================================================

  .hidden {
    display: inherit !important;
    border: 1px dotted #999;
  }

  .full-width {
    flex-basis: 100% !important;
    width: 100% !important;

    > * {
      width: 100% !important;
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  :is(.sensitive-content, .sensitive-alternative) {
    position: relative;

    &::before {
      pointer-events: none;
      content: '';
      position: absolute;
      inset: -2px 0 -2px 0;
      display: block;
      border-radius: 2px;
      opacity: .3;
    }
  }

  .sensitive-content {
    &::before {
      background: #eb5247;
    }
  }

  .sensitive-alternative {
    &::before {
      background: #77BFA3;
    }
  }

  .spoiler {
    background: #1d2327 !important;
    color: #e6e6e6;
    border-radius: 2px;
    padding: 0 .25em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}
