// =============================================================================
// FONTS TO BE INLINED AS CRITICAL PATH
// =============================================================================

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:
    local('OpenSans-Light'),
    url('../fonts/open-sans/open-sans-v40-300.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src:
    local('OpenSans-LightItalic'),
    url('../fonts/open-sans/open-sans-v40-300italic.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('OpenSans-Regular'),
    url('../fonts/open-sans/open-sans-v40-regular.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src:
    local('OpenSans-Italic'),
    url('../fonts/open-sans/open-sans-v40-italic.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src:
    local('OpenSans-Medium'),
    url('../fonts/open-sans/open-sans-v40-500.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src:
    local('OpenSans-MediumItalic'),
    url('../fonts/open-sans/open-sans-v40-500italic.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:
    local('OpenSans-SemiBold'),
    url('../fonts/open-sans/open-sans-v40-600.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src:
    local('OpenSans-SemiBoldItalic'),
    url('../fonts/open-sans/open-sans-v40-600italic.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
    local('OpenSans-Bold'),
    url('../fonts/open-sans/open-sans-v40-700.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src:
    local('OpenSans-BoldItalic'),
    url('../fonts/open-sans/open-sans-v40-700italic.woff2') format('woff2');
}
