/*
 * Fonts loaded from the theme directory to avoid privacy issues
 * that might come up with the Google Fonts API.
 *
 * @note This file must be ignored by Autoptimize!
 * @link https://gwfh.mranftl.com/fonts
 */

// =============================================================================
// OPEN SANS (cyrillic, cyrillic-ext, greek, greek-ext, hebrew, latin, latin-ext, vietnamese)
// =============================================================================

// Cyrillic
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/cyrillic-regular.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

// Cyrillic
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/cyrillic-italic.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

// Cyrillic Ext.
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/cyrillic-ext-regular.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

// Cyrillic Ext.
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/cyrillic-ext-italic.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

// Greek
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/greek-regular.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}

// Greek
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/greek-italic.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}

// Greek Ext.
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/greek-ext-regular.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}

// Greek Ext.
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/greek-ext-italic.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}

// Hebrew
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/hebrew-regular.woff2') format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

// Hebrew
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/hebrew-italic.woff2') format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

// Vietnamese
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/vietnamese-regular.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

// Vietnamese
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/vietnamese-italic.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

// Latin Ext.
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/latin-ext-regular.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

// Latin Ext.
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/latin-ext-italic.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

// Latin
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/latin-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Latin
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 325;
  font-display: swap;
  src: url('../fonts/open-sans/latin-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:
    local('OpenSans-Light'),
    url('../fonts/open-sans/open-sans-v40-300.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src:
    local('OpenSans-LightItalic'),
    url('../fonts/open-sans/open-sans-v40-300italic.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('OpenSans-Regular'),
    url('../fonts/open-sans/open-sans-v40-regular.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src:
    local('OpenSans-Italic'),
    url('../fonts/open-sans/open-sans-v40-italic.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src:
    local('OpenSans-Medium'),
    url('../fonts/open-sans/open-sans-v40-500.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src:
    local('OpenSans-MediumItalic'),
    url('../fonts/open-sans/open-sans-v40-500italic.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:
    local('OpenSans-SemiBold'),
    url('../fonts/open-sans/open-sans-v40-600.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src:
    local('OpenSans-SemiBoldItalic'),
    url('../fonts/open-sans/open-sans-v40-600italic.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
    local('OpenSans-Bold'),
    url('../fonts/open-sans/open-sans-v40-700.woff2') format('woff2');
}

// Full
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src:
    local('OpenSans-BoldItalic'),
    url('../fonts/open-sans/open-sans-v40-700italic.woff2') format('woff2');
}

// =============================================================================
// LATO (latin, latin-ext)
// =============================================================================

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato/lato-v24-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/lato/lato-v24-300italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato/lato-v24-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/lato/lato-v24-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600 700;
  src: url('../fonts/lato/lato-v24-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 600 700;
  src: url('../fonts/lato/lato-v24-700italic.woff2') format('woff2');
}
