@use 'common/_functions' as *;
@use 'common/_mixins' as *;
@use 'common/_variables' as *;

// Core
@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__track--draggable{-webkit-touch-callout:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.splide__track--fade>.splide__list>.splide__slide{margin:0!important;opacity:0;z-index:0}.splide__track--fade>.splide__list>.splide__slide.is-active{opacity:1;z-index:1}.splide--rtl{direction:rtl}.splide__track--ttb>.splide__list{display:block}.splide__container{box-sizing:border-box;position:relative}.splide__list{backface-visibility:hidden;display:-ms-flexbox;display:flex;height:100%;margin:0!important;padding:0!important}.splide.is-initialized:not(.is-active) .splide__list{display:block}.splide__pagination{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin:0;pointer-events:none}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0;pointer-events:auto}.splide:not(.is-overflow) .splide__pagination{display:none}.splide__progress__bar{width:0}.splide{position:relative;visibility:hidden}.splide.is-initialized,.splide.is-rendered{visibility:visible}.splide__slide{backface-visibility:hidden;box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;list-style-type:none!important;margin:0;position:relative}.splide__slide img{vertical-align:bottom}.splide__spinner{animation:splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;contain:strict;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__sr{clip:rect(0 0 0 0);border:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.splide__toggle.is-active .splide__toggle__play,.splide__toggle__pause{display:none}.splide__toggle.is-active .splide__toggle__pause{display:inline}.splide__track{overflow:hidden;position:relative;z-index:0}

.splide {
  --this-arrow-size: #{get_clamp(20, 40, 320, 640)};
  --this-shadow-space: 6px;
  width: 100%;
  max-width: 100vw;
  padding-top: var(--this-arrow-vertical-padding, 0px);
  padding-left: calc(var(--this-arrow-horizontal-padding, 0px));
  padding-bottom: var(--this-arrow-vertical-padding, 0px);
  padding-right: calc(var(--this-arrow-horizontal-padding, 0px) + var(--this-pagination-side-padding, 0px));

  &._splide-placeholder {
    visibility: visible;

    // Emergency fallback
    &:not(.showcase) .splide__slide:first-child {
      width: 100%;
    }
  }

  &:is(.splide--ttb, ._list) {
    --this-shadow-space: 0px;

    .splide__slide {
      height: auto !important;
    }

    .splide__track {
      padding: 0 !important;
    }
  }

  &:has(.splide__pagination) {
    --this-arrow-offset: 9px; // Offset bottom pagination
  }

  &:has(.splide__arrows) {
    --this-arrow-horizontal-padding: calc(var(--this-arrow-size));
  }

  &:has(.splide__arrows--ttb) {
    --this-arrow-offset: 0px; // No bottom pagination
    --this-arrow-horizontal-padding: 0px;
    --this-arrow-vertical-padding: calc(var(--this-arrow-size));
  }

  &:has(.splide__pagination--ttb) {
    --this-pagination-side-padding: 24px;

    .splide__arrow--next {
      right: 16px;
    }
  }

  &__track {
    padding: var(--this-shadow-space) var(--this-shadow-space) var(--this-pagination-vertical-padding, 16px) !important;
  }

  &.article-card-block.is-overflow .splide__track {
    --this-pagination-vertical-padding: 0px;

    .splide__pagination:not(.splide__pagination--ttb) {
      margin-top: 16px;
    }
  }

  &__arrow {
    position: absolute;
    z-index: 10;
    top: calc(50% - var(--this-arrow-offset, 0px));
    display: grid;
    place-content: center;
    height: calc(var(--this-arrow-size) * 2);
    width: var(--this-arrow-size);
    transition: color .15s ease-in-out;

    &--prev {
      left: 0;
      transform: translateY(-50%) scale(-1, 1);
    }

    &--next {
      right: 0;
      transform: translateY(-50%);
    }

    svg {
      height: calc(var(--this-arrow-size) * .675);
      width: calc(var(--this-arrow-size) * .675);
      fill: var(--splide-arrow);
      transition: fill .15s;
    }

    &:hover svg {
      fill: var(--splide-arrow-hover);
    }

    &:active svg {
      fill: var(--splide-arrow-active);
    }
  }

  &__arrows--ttb {
    .splide__arrow {
      top: unset;
      left: 50%;
      right: unset;
      transform: translateX(-50%) rotate(-90deg);
      height: var(--this-arrow-size);

      &--prev {
        top: 0;
      }

      &--next {
        bottom: 0;
        transform: translateX(-50%) rotate(90deg);
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    li {
      display: block;
    }

    button {
      --this-background: var(--splide-pagination);
      cursor: pointer;
      position: relative;
      display: block;
      padding: 8px;
      transition: background-color .15s;
      contain: strict;

      &::after {
        content: '';
        position: absolute;
        inset: 4px;
        display: block;
        background: var(--this-background);
        border-radius: 50%;
      }

      &.is-active {
        --this-background: var(--splide-pagination-active);
      }

      &:where(:not(.is-active)):hover {
        --this-background: var(--splide-pagination-hover, var(--splide-pagination));
      }
    }

    &--ttb {
      position: absolute;
      top: 50%;
      right: 0;
      flex-direction: column;
      transform: translateY(-50%);
    }
  }
}
